---
layout: chemistry-organic-experiment
title: 制乙酸乙酯
---
<p><img src="2coo2.jpg" width="819" height="972"></p>
<p><img src="2coo2a1.jpg" width="813" height="243"></p>
<p><img src="2coo2a2.jpg" width="960" height="864"></p>
<p><img src="2coo2b.jpg" width="1101" height="618"></p>
