---
layout: chemistry-organic-experiment
title: 葡萄糖银镜反应
---
<p><img src="ag.jpg" width="880" height="116"><br>此反应类似于乙醛的银镜反应。</p>
<p><img src="aga1.jpg" width="938" height="228"></p>
<p><img src="aga2.jpg" width="939" height="729"></p>
<p><img src="agcuoh2b1.jpg" width="912" height="318"> </p>
<img src="agcuoh2b2.jpg" width="1002" height="381">
