---
layout: chemistry-organic-experiment

title: 制乙炔
---
<p>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="962" height="699">
    <param name="movie" value="c2h2.swf">
    <param name="quality" value="high">
    <embed src="c2h2.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="962" height="699"></embed></object>
</p>
<p><img src="c2h2a.jpg" width="948" height="885"></p>
<p><img src="c2h2b.jpg" width="939" height="567"> </p>
