---
layout: chemistry-organic-experiment

title: 用浓硫酸催化制乙烯
---
<p>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="965" height="771">
    <param name="movie" value="c2h4.swf">
    <param name="quality" value="high">
    <embed src="c2h4.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="965" height="771"></embed></object>
</p>
<p><img src="c2h4a1.jpg" width="969" height="777"></p>
<p><img src="c2h4a2.jpg" width="615" height="276"></p>
<p><img src="c2h4b1.jpg" width="975" height="501"></p>
<img src="c2h4b2.jpg" width="972" height="198">
