---
layout: chemistry-organic-experiment
title: 用氧化铝催化制乙烯
---
<p><img src="c2h4al2o3.jpg" width="398" height="319"> </p>
<p>化学方程式：<img src="c2h4al2o3f.jpg" width="245" height="36" align="middle"></p>
<p>此方法仅适合少量制取乙烯，大量制取<a href="c2h4.htm">请用此方法</a>。</p>
