---
layout: chemistry-organic-experiment
title: 制取硝基苯
---
<p><img src="c6h5no2.jpg" width="468" height="804"> </p>
<p><img src="c6h5no2a.jpg" width="800" height="780"></p>
<p><img src="c6h5no2b1.jpg" width="789" height="264"></p>
<img src="c6h5no2b2.jpg" width="780" height="357">
