---
layout: chemistry-organic-experiment
title: 苯与溴取代
---
<p><img src="c6h5bra1.jpg" width="972" height="597"> </p>
<p><img src="c6h5bra2.jpg" width="936" height="483"></p>
<p><img src="c6h5brb.jpg" width="930" height="507"></p>
