---
layout: chemistry-organic-experiment

title: 制甲烷
---
<p>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="963" height="700">
    <param name="movie" value="ch4.swf">
    <param name="quality" value="high">
    <embed src="ch4.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="963" height="700"></embed></object>
</p>
<p><img src="ch4a1.jpg" width="969" height="111"></p>
<p><img src="ch4a2.jpg" width="969" height="765"></p>
<p><img src="ch4b.jpg" width="963" height="678"> </p>
