---
layout: chemistry-organic-experiment
title: 棉花的使用
---
<table width="98%" border="0">
  <tr>
    <td><img src="cottonkmno4.jpg" width="56" height="21">法制氧气</td>
    <td>大试管口处</td>
    <td>防止<img src="cottonkmno4.jpg" width="56" height="21">粉末从导管喷出</td>
  </tr>
  <tr>
    <td>实验室制<img src="cottonnh3.jpg" width="36" height="20"></td>
    <td>收集<img src="cottonnh3.jpg" width="36" height="20">的试管口处</td>
    <td>防止<img src="cottonnh3.jpg" width="36" height="20">与空气对流，确保收集纯净</td>
  </tr>
  <tr>
    <td><a href="c2h2.htm">制乙炔</a></td>
    <td>反应试管口处</td>
    <td>防止生成的泡沫涌入导管</td>
  </tr>
</table>
