---
layout: chemistry-organic-experiment
title: 葡萄糖与费林试剂反应
---
<p><img src="cuoh2.jpg" width="946" height="98"></p>
<p>此反应类似于乙醛与新制<img src="cuoh2name.jpg" width="85" height="28" align="middle">反应。</p>
<p><img src="cuoh2a.jpg" width="924" height="546"></p>
<p><img src="agcuoh2b1.jpg" width="912" height="318"> </p>
<img src="agcuoh2b2.jpg" width="1002" height="381">
