---
layout: chemistry-organic-experiment
title: 需要水浴的实验
---
<table width="98%" border="0">
  <tr>
    <td>苯的硝化反应</td>
    <td>50℃~60℃水浴</td>
  </tr>
  <tr>
    <td>所有的银镜反应</td>
    <td>温水浴</td>
  </tr>
  <tr>
    <td>酚醛树脂的制取</td>
    <td>沸水浴（100℃）</td>
  </tr>
  <tr>
    <td>乙酸乙酯的水解</td>
    <td>70℃~80℃水浴</td>
  </tr>
  <tr>
    <td>蔗糖的水解</td>
    <td>热水浴</td>
  </tr>
  <tr>
    <td>纤维素的水解</td>
    <td>热水浴</td>
  </tr>
</table>
