---
layout: chemistry-organic-experiment
title: 有机化学实验 - 阳光男孩的高中《有机化学实验》课件
---
<h3 align="right">上海市七宝中学 石君霄制作 张逸修改</h3>
<p align="right">制作日期：2004-03-27</p>
<h2>重要实验</h2>
<ol>
  <li><a href="ch4.htm">制甲烷</a></li>
  <li><a href="c2h4al2o3.htm">用氧化铝催化制乙烯</a></li>
  <li><a href="c2h4.htm">用浓硫酸催化制乙烯</a></li>
  <li><a href="c2h2.htm">制乙炔</a></li>
  <li><a href="c6h5br.htm">苯与溴取代</a></li>
  <li><a href="c6h5no2.htm">制取硝基苯</a></li>
  <li><a href="ch3ch2ona.htm">乙醇与钠反应</a></li>
  <li><a href="ch3cho.htm">乙醇的催化氧化</a></li>
  <li><a href="2coo2.htm">制乙酸乙酯</a></li>
  <li><a href="4coo2.htm">制丁酸乙酯</a></li>
  <li><a href="ag.htm">葡萄糖银镜反应</a></li>
  <li><a href="cuoh2.htm">葡萄糖与费林试剂反应</a></li>
</ol>
<h2>归纳总结</h2>
<ol>
  <li><a href="hotwater.htm">需要水浴的实验</a></li>
  <li><a href="thermo.htm">温度计的用法</a></li>
  <li><a href="cotton.htm">棉花的使用</a></li>
</ol>
<p>推荐在WinXP,IE6.0,1024*768显示分辨率下观看本站。
<br>注：本课件制作于2004年，以上是当时通用的浏览器环境，你也可以选择新的浏览器访问。</p>
