---
layout: chemistry-organic-experiment
title: 温度计的用法
---
<table width="98%" border="0">
  <tr>
    <td><a href="c2h4.htm">用浓硫酸催化制乙烯</a></td>
    <td>反应容器液面下</td>
    <td>测反应温度</td>
  </tr>
  <tr>
    <td>实验室蒸馏石油</td>
    <td>支管口</td>
    <td>测蒸汽温度</td>
  </tr>
  <tr>
    <td><a href="c6h5no2.htm">制取硝基苯</a></td>
    <td>水浴中</td>
    <td>测水浴温度</td>
  </tr>
</table>
