---
layout: article
title: 恺撒密码加解密程序
courseid: IS407
course: 现代密码学
---

<script>
function R(m,k){
  var A='abcdefghijklmnopqrstuvwxyz';
  var Alen=A.length;
  var b='';
  var len=m.length;
  for (var i=0;i<len;++i) {
    var ch=m.substr(i,1);
    var p=A.indexOf(ch);
    if (p<0) b+=ch;
    else {
      p=(p+k+Alen)%Alen;
      b+=A.substr(p,1);
    }
  }
  return b;
}
function $(id){
  return document.getElementById(id);
}
function E(){
  $('TC').value=R($('TM').value,parseInt($('TK').value,10))
}
function D(){
  $('TM').value=R($('TC').value,-parseInt($('TK').value,10))
}
</script>

<form class="pure-form pure-form-aligned"><fieldset>

<div class="pure-control-group">
<label for="M">M</label>
<input type="text" id="TM" name="M">
<span class="pure-form-message-inline">（小写字母）</span>
</div>

<div class="pure-control-group">
<label for="K">K</label>
<input type="text" id="TK" name="K" value="3">
</div>

<div class="pure-control-group">
<label for="C">C</label>
<input type="text" id="TC" name="C">
</div>

<div class="pure-control-group">
<label></label>
<input type="button" class="pure-button" value="encrypt" onclick="E()"/>
<input type="button" class="pure-button" value="decrypt" onclick="D()"/>
</div>

</fieldset></form>
