---
layout: topic
title: "第一讲 声乐欣赏知识，声乐体裁"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<p> 我们党的教育方针是要培养德、智、体、美等方面全面发展的社会主义建设者和接班人。美育修养方面主要包括：文学、音乐、美术、舞蹈、书法等。音乐的美育功能不但是提高审美能力和陶冶情操，它对人的智力开发，提高人的想象力和创意动力，锻炼表达和解决问题的能力等方面都有帮助，音乐对社会的文明进步有着深远的影响。</p>
<p> 声乐是音乐艺术的重要形式。我们每个健康的人都有一个天赋的乐器——“嗓子”，人们依凭声带与横膈膜的振动，以及与气息的“回肠荡气”，可以自唱自娱，既是歌者又是鉴赏者。所以，声乐活动是音乐艺术中最为普遍的活动。声乐中有美声唱法、民族唱法、通俗唱法等。声乐的演唱形式有独唱、对唱、重唱、合唱等。声乐作品是指由人声演唱的歌曲，声乐作品的体裁有多种，其中艺术歌曲在声乐领域中占有极其重要的地位。</p>
<p> 在大学生中进行艺术歌曲欣赏，这是普通高校音乐教育的体现。高素质的人才培养，必须有高标准的审美教育。艺术歌曲具有极高的审美价值，它对提高音乐修养及陶冶情操有着巨大的作用。</p>
<h2>一、欣赏知识 <a class="booklink" href="book.htm#42">教材第42页</a></h2>
<p>欣赏音乐是一种审美活动。美的标准是由一定时代、一定民族、一定社会阶级和阶层的审美趣味所决定的。欣赏音乐有三个阶段：⒈官能的欣赏 ⒉感情的欣赏 ⒊理智的欣赏。官能的欣赏主要满足于悦耳(即好听)，是比较肤浅的欣赏。要对一个音乐作品进行全面的领略，从而获得完美的艺术享受，除了官能的欣赏以外，还必须进入感情的欣赏和理智的欣赏。要从官能、感情和理智三方面全面地欣赏一个作品，就要具备以下几方面地知识：</p>
<ol>
<li>作者和作品的时代背景：一首音乐作品，总是表现了作曲家对现实生活的感受。</li>
<li>民族特征：一切音乐作品都根植于民族民间音乐，因此都有各自的民族特征。有些作品概括地体现了民族音乐语言的特点。</li>
<li>作者的创作个性：作曲家由于生活时代、环境、素养、经历和艺术趣味的不同，表现为各不相同的创作个性。</li>
<li>标题：标题是指说明作品内容的一段文字。器乐作品有标题音乐和无标题音乐之分。声乐基本都是有标题的。</li>
<li>音乐语言的表现功能：<ol>
<li>旋律：又称曲调，是按一定高低、长短和强弱关系而组成的音的线条。它是塑造音乐形象最主要的手段，是音乐的灵魂</li>
<li>节奏：是旋律中各音在进行时的长短关系和强弱关系</li>
<li>节拍：是强拍和弱拍的均匀交替。</li>
<li>速度：音乐中快慢的程度。</li>
<li>力度：音乐中强弱的程度。</li>
<li>音区：是音的高低范围。</li>
<li>音色：不同人声、不同乐器及其不同组合的音响上的特色。</li>
<li>和声：是两个以上的音按一定的规律同时结合。</li>
<li>复调：是两个或几个旋律的同时结合。不同旋律的同时结合叫对比复调，同一旋律隔开一定时间的先后模仿成为模仿复调。</li>
<li>调式调性：调式是从音乐作品的旋律与和声中所用的高低不同的音归纳出来的音列。这些音互相联系并保持着一定的倾向性。调性则是调式的中心音(主音)的音高。</li>
</ol></li>
<li>曲式、体裁和题材：曲式是音乐材料排列的样式，也就是音乐的结构布局。体裁是音乐的品种。题材是音乐的内容。</li>
</ol>
<h2>二、声乐体裁</h2>
<p>“体裁”(Genre)是文艺作品的种类和样式。该词的法文为genre，从拉丁文genus一词的从属格generis变化而来，释义为：种类、样式。</p>
<p>文学家创作诗文，音乐家创作乐曲，首先要考虑采用什么体裁。每一种体裁都有一定的规格，但在文艺家的笔下，每一种体裁的表现手法和创作风格则因人而异，即所谓“文如其人”。所以刘勰  《文心雕龙·通变》中说：“设文之体有常，变文之数无方”(每一种体裁都有定格，而创作方法则变化无穷)。</p>
<p>体裁有纲目之分，从大到小，层见叠出，纲举目张，层次分明。音乐体裁的纲目，最高层次分为声乐和器乐两大类(声乐和器乐可以两相结合)。其次声乐有独唱(齐唱)曲、重唱曲和合唱曲(独唱、重唱和合唱可以同时结合)；器乐有独奏曲、重奏曲和合奏曲(独奏、重奏和合奏也可以同时结合)。西方中世纪和文艺复兴时期(1600年以前)以声乐为主，巴洛克时期(1600—1750)声乐和器乐平分秋色，近现代(1750年以后)则以器乐为主。体裁的形成，取决于创作和演出的目的与条件、创作的思维活动、作品的内容和形式等等。如军队进行曲、婚礼进行曲、送葬进行曲都标明了创作和演出的目的；晨曲、夜曲、小夜曲都标明了演出的时间；序曲、前奏曲、间奏曲都标明了演出的顺序；幻想曲、随想曲、狂想曲都有浮想联翩的思维活动；即兴曲和音乐的瞬间则有随感而发的创作思维特点；卡农、赋格、变奏曲、回旋曲都标明了作品的形式；田园曲、叙事曲、船歌、摇篮曲都标明了作品的内容。</p>
<p> 声乐作品的不同种类或样式被称为声乐体裁。它是作品根据表现内容、情绪、特定环境、人物、时间及旋律、节奏等因素所形成的自己特有的样式。各种音乐体裁的产生、形成、变化、发展都是各个时代、各个民族、各个阶层的社会文化生活需要的产物。因此，声乐的体裁都同一定的社会生活有联系，反映出一定的内容和情绪特征，它是在人类长期的社会实践和音乐的历史长河中发展变化所形成的。了解体裁，有利于认识音乐形象，理解音乐内容和时代风貌。<a class="booklink" href="book.htm#43">教材第43-44页</a></p>
<h3>1、常见的声乐体裁</h3>
<ol>
<li>民歌</li>
<li>颂歌</li>
<li>进行曲</li>
<li>抒情歌曲</li>
<li>劳动歌曲</li>
<li>叙事歌曲</li>
<li>诙谐歌曲</li>
<li>舞蹈歌曲</li>
<li>摇篮曲</li>
<li>船歌</li>
<li>小夜曲</li>
</ol>
<h3>2、大型声乐体裁</h3>
<ol>
<li>组曲</li>
<li>套曲</li>
<li>清唱剧</li>
<li>康塔塔</li>
<li>大合唱</li>
<li>歌剧</li>
</ol>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>什么是声乐体裁？</li>
<li>说出常见的声乐体裁4-5个；大型的声乐体裁各2-3个。</li>
</ol>
</div>

