---
layout: topic
title: "第二讲 艺术歌曲的定义，中世纪与文艺复兴时期的艺术歌曲，巴洛克时期的艺术歌曲；巴赫，亨德尔"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<h2>关于艺术歌曲 <a class="booklink" href="book.htm#45">教材第45页</a></h2>
<p>艺术歌曲就狭义来说，是指富有特色的19世纪独唱声乐作品；就广义而言则泛指作曲家在各个时期创作的具有一定艺术性的独唱歌曲。</p>
<p>就狭义的解释来说，艺术歌曲是一个专有名词，它指的是一种具有鲜明特点的歌曲体裁，而不是泛指一般具有艺术性的歌曲。它有很坚实的传统，有很强的艺术功力和艺术感染力。艺术歌曲这一名称起源于19世纪的德国，原是为区别于民谣，由作曲家采用著名诗篇创作而成，其诗词寓意深刻，格调高雅，音乐构思精细，和声、织体、调性布局严谨，伴奏部分有深刻的描写、渲染作用，词、旋律、伴奏有机地融为一体，五线谱记谱，常用钢琴伴奏演唱，是音乐会演唱的主要声乐体裁。</p>
<p>艺术歌曲在欧洲声乐发展史中是与歌剧平分秋色的一种创作体裁和演唱形式。每首艺术歌曲自身就是独立的个体，一首歌就表达了一个相对完整的思想或情感或情节，因为要准确全面的表现或描绘情感情景，艺术处理就更需要细腻精确。</p>
<p> 艺术歌曲的另外一个概念，就是相对民歌、歌剧、宗教音乐、儿童歌曲、合唱歌曲而言的创作歌曲，在现代社会还有别于群众歌曲、通俗歌曲，应该是一种具有自身特点的音乐形式。这个含义比较广泛，不局限于浪漫时期的德国歌曲。不同时代、不同民族的艺术歌曲，清晰的体现出该时代的特点和该民族的情感表达方式、文化传统和风格。无论哪个时代、哪个国家或民族的具有一定艺术性的优秀歌曲都可以称为艺术歌曲。</p>
<h2>艺术歌曲的历史</h2>
<p>艺术歌曲的历史非常漫长，它包含了音乐发展史、声乐发展史、歌曲创作发展史。从德国的“利德”、法国的“尚松”、俄罗斯的“浪漫曲”  到美国的“艺术歌曲”等的形成与发展来看，各民族和各国艺术家都为艺术歌曲的繁荣作出了贡献；而从人类音乐文化的源流和兴盛来看，17世纪前的“音乐”概念是声乐的，器乐表演则是附属于声乐的。</p>
<h3>一、中世纪与文艺复兴时期</h3>
<p>从5世纪起，欧洲进入封建社会，天主教会用音乐来加强人们对宗教的信仰，6世纪末诞生的1600首“格里高利圣咏”被推崇为“直观感受神的启示”的圣歌。</p>
<p>欧洲从9世纪起进入复音音乐时期，复音音乐在宗教音乐中得到了广泛使用。与此同时，单音音乐由于民间游吟诗人和恋歌诗人的创作更趋丰富。纵观上述几个世纪，在艺术上是“人附于神”的表现。</p>
<p> 随着罗马帝国不断对外扩张，欧洲进入了长期的教会统治时期，在历史上被称之为“中世纪”。歌唱成为各种宗教的附属品。由于圣经古训规定“妇女在教堂中应保持缄默”，因此，演唱中女声部均由男童声代替。这些男童声是被阉割的男童声歌手，在音乐历史上被称为“阉人歌手”。他们的出现曾为欧洲声乐艺术的发展做出了巨大的贡献，并奠定了“美声唱法”的基础，也在一定的程度上推动了歌剧的产生与发展。阉人歌手在欧洲盛行了近两个世纪之久。18世纪末走向衰退。</p>
<p> 16世纪末，世俗音乐迅速发展的欧洲各国的文艺复兴运动，使音乐所反映的内容，从抽象的“神的意志”到具体的“人的感情”，充满了生活气息。文艺复兴在音乐上的最大特点是“神附于人”。 意大利是文艺复兴的发源地。文艺复兴是14世纪末至16世纪在欧洲一些国家先后发生的文化和思想革命运动，它要求以人为本，反对神的权威，反对教会的禁欲主义和来世思想，歌颂爱情，肯定现实生活。新兴资产阶级特别需要新的音乐来丰富他们的精神生活。他们主张恢复古希腊的单声部歌曲，以利于表达人的思想感情。</p>
<p>文艺复兴是从中世纪通向巴罗克时代的过渡时期。文学和造型艺术的文艺复兴(约1300-1600)肇始于14世纪初的意大利，音乐上的文艺复兴(约1430-1600)则肇始于15世纪前半叶的荷兰南部、比利时和法国北部，比前者迟了100多年。从勃艮第乐派到佛兰德乐派，从威尼斯乐派到罗马乐派，尤其是意大利作曲家帕莱斯特里那(约1525-1594)不仅在世俗作品中反映人文主义思想，许多宗教作品也很富于生活情趣和人情味。他受教皇尤利乌斯四世之命所谱写的《教皇玛切尔弥撒曲》以折中主义于正统的宗教和非正统的世俗之间，使富于世俗真挚情感的复调音乐终于替代了中世纪以来长期回荡在大小教堂和所有人们心中的格里高利圣咏。</p>
<p>18世纪前，意大利、德国、法国和英国等少数国家的音乐艺术，特别是声乐艺术已经非常发达。</p>
<p>意大利16世纪的牧歌是一种通谱体歌曲。歌词多为单段，韵律自由，包括各种诗歌类型：十四行诗、巴拉塔、坎佐纳、抒情的或叙事的八行诗以及田园诗等。、</p>
<p>从16世纪20年代后期开始，法国作曲家发展了一种具有鲜明民族特性的、从词到曲都是典型的法国风格的“尚松”。它们被称为“法国尚松”或“巴黎尚松”。对尚松歌词影响较大的是法国诗人克莱芒·马罗(Clement  Marot,1496-1544),他的诗歌富有生活气息，简洁明晰，具有幽默感，保持了法兰西诗歌语言的特征。</p>
<p>文艺复兴时期德国的复调歌曲是利德(Lied)，15世纪末和16世纪的前几个10年，德国的利德才形成自己的风格，作曲家海因里希·伊萨克(Heinrich  Isaac,1450-1517)采用德国音乐素材并吸收法-佛兰德的音乐风格技法，创作了四声部的利德。在利德中固定声部以一个熟悉的曲调作为定旋律，其他三个声部围绕它编织成复调织体。</p>
<p>西班牙15世纪末和16世纪的音乐体裁是维良西科(Villancico),它是以西班牙同名的诗歌体裁谱曲的。</p>
<h2>二、巴洛克时期</h2>
<p>欧洲中世纪和文艺复兴时期(1600年以前)以声乐为主，巴罗克时期(1600-1750)器乐赶了上来，并逐渐与声乐平分秋色；这与众多的作曲家不断地求新、求变不无关系。</p>
<p>在音乐史上，一般把文艺复兴后的17世纪初至18世纪中叶这段时期成为巴洛克时期。这段时期意大利人在音乐创作上取得了巨大的成就，但是最著名的却是两位德国人，巴赫(1685—1750)和亨德尔(1685—1759)，他们继承过去的传统，吸取同时代各国音乐的成就，使他们的创作达到前所未有的高度，对后来的欧洲音乐产生了不可估量的深远影响。巴赫的声乐作品大多是以宗教为主要内容的合唱，而且比较注意发展德国本国音乐的传统。亨德尔不一样，他广泛地学习了意、法、德、英各国的音乐文化，创作了大量的歌剧和清唱剧。</p>

<hr/>

<h3>巴赫(Johann Sebastian Bach 1685-1750)</h3>
<p> 在音乐史上被尊称为“音乐之父”，生于一个德国音乐世家。十八岁起历任多处教堂和宫廷的乐长及管风琴师。生前仅以管风琴演奏家著名，去世近百年后，创作才得到应有的尊重。他的创作以复调手法为主，构思严密，感情内在，富于哲理性和逻辑性，并在德国民族音乐的基础上，集16世纪以来意大利、法国等国音乐的大成，对欧洲近代音乐的发展产生了深远的影响。</p>
<div class="appreclation">
<h4>欣赏</h4>
<p>《Gloria》 合唱 独唱与合唱</p>
</div>
<h2>亨德尔(George Frideric Handel 1685—1759)</h2>
<p>亨德尔被贝多芬敬称为“天才中的天才”。他生于德国哈勒，少年曾瞒着父亲学习古钢琴，当音乐天赋被发现后，才获得正式的音乐教育。他10岁时创作了一组双簧管管乐曲，12岁在柏林举行了成功的演出。在大学学习法律的同时，兼任教堂的风琴师。1703年移居汉堡，20岁时他的第一部歌剧在汉堡首演并获得成功。1706年前往意大利，创作了大量的音乐作品，并成为知名度很高的卓越作曲家。1710年回国，但经常来往于德国和英国之间。因深得英国女王的欣赏，1717年定居英国，并对英国的音乐产生了深远的影响。1759年4月14日病逝伦敦。所作神剧有32部，歌剧46部，管弦乐、器乐曲也甚丰富。其中著名的清唱剧《弥赛亚》确立了他流芳百世的音乐大师地位。每当演唱到其中的《哈利路亚大合唱》，观众都会起立致敬。</p>
<p>和巴赫比较，亨德尔擅于吸收各国的音乐文化，旋律明亮、愉悦，易于理解。</p>
<div class="appreclation">
<h3>欣赏：《哈里路亚》 合唱</h3>
<p>歌词大意:</p>
<blockquote>
<p>哈利路亚！万物之王，王中王。</p>
</blockquote>
<h3>欣赏：《快乐，锡安的人民》 女高音独唱</h3>
<p>歌曲选自清唱剧《弥赛亚》。它表现了以色列人在闻知耶稣降生时流露出来的喜悦和欢乐之情，锡安指锡安山，位于圣城耶路撒冷，是犹太民族文化的象征。</p>
<p>歌词大意：</p>
<blockquote>
<p>快乐，快乐，是多高兴，快乐，你锡安人民！</p>
<p>啊，耶路撒冷的人民，看你的国王他已驾临。</p>
<p>他就是正义的化身，他对异教国家也讲和平。</p>
<p>快乐，快乐，是多高兴；叫喊，叫喊，是多高兴，</p>
<p>你锡安的人民，啊，耶路撒冷的人民，</p>
<p>你看，国王他已经驾临。</p>
</blockquote>
</div>
<p>阉人歌手的出现历时两个世纪，它是声乐历史发展的见证。</p>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>艺术歌曲狭义与广义的解释</li>
<li>巴洛克时期最重要作曲家是哪两位？</li>
<li>哪种演唱风格的出现使声乐艺术得以迅猛发展？</li>
</ol>
</div>

