---
layout: topic
title: "第三讲 古典时期的艺术歌曲，艺术歌曲欣赏的词汇解释；莫扎特"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<h2>艺术歌曲的历史</h2>
<h3>三、古典时期</h3>
<p>古典(classic)一词源自于拉丁文，原是奉古希腊(或罗马)为典范而加以模仿的意思。</p>
<h4>㈠古典主义</h4>
<p>古典主义(classicalism,  classicism)：该词原义为完美的、优秀的或经典的(而不是古代的)，曾用来专指古希腊和罗马的文学艺术。古典主义开始形成与罗马文化的鼎盛时期，即公元前1世纪的奥古斯都时代。由于罗马时代的社会基础、思想及文化，与同为奴隶社会的古希腊有着大致相近之处。因此，罗马帝国在文学艺术方面继承了古希腊遗产，借以从思想及文化上统一被他们用武力征服的民族，由此而形成了长期统治西方的崇尚古典的风气。16世纪末，旨在反对中世纪烦琐哲学的思辨方法，并对教会的权威提出挑战的文艺复兴运动，为使文学艺术所反映的内容，从抽象的“神的意志”到具体的“人的感情”，人们再次强调复兴古典文艺，使得古典主义在这一时期特别流行。</p>
<p>古典主义崇尚理性，就其艺术风格而言，它侧重于表现的形式和技巧，特别是语言的纯洁和明晰，至于创作的想象则被弃之不顾，作品中的感情表达，也只作为一股潜流在完美、均衡的形势之下起伏而已。古典风格的作品结构严谨，故事情节的发展顺理成章，语言明确洗练。具有优美、均衡、自信和理性的审美特征。</p>
<p>古典主义在音乐上则有多种涵义，例如：艺术价值高的，内容严肃的等等，但最常见的用法是与浪漫主义对置，特指海顿、莫扎特、贝多芬等人的作品中所体现的美学原则和风格特征，即维也纳古典乐派的美学原则和风格。也有人把上起帕莱斯特里纳，下迄舒伯特之间统称为古典主义音乐时期，而以维也纳古典乐派为其完美的代表。这一时期的作曲家们除继承复调音乐写法外，确立了主调音乐写法的主导地位，形成一系列音乐体裁和曲式的规范(如歌剧、清唱剧、受难乐、协奏曲、交响曲、奏鸣曲、室内乐重奏曲等)；他们在艺术上的审美趣味和所取得的重大成就，对后来的浪漫主义，民族乐派和现代的音乐观念有深远的影响。</p>
<h4>㈡古典音乐(classic  music)</h4>
<p>古典音乐(classic music)广义是泛指过去时代流传下来堪称典范(或经典)的音乐，狭义则特指以维也纳古典乐派为代表的音乐。就其广义而言，该词在使用中常有几个层次的内容：</p>
<ol>
<li>从维也纳古典乐派往前追溯1至2世纪，包括文艺复兴(1430~1650)以来所有欧洲著名音乐家的创作。在这个意义上，古典音乐是指19世纪初叶以前的音乐，区别于浪漫乐派的音乐。</li>
<li>从维也纳古典乐派往后顺延一个世纪，将浪漫乐派、民族乐派以及有其他倾向的大批作曲家的创作包括在内。在这个意义上，古典音乐是指20世纪以前的音乐，有别于20世纪以来现代乐派的音乐。</li>
<li>将20世纪以来的某些音乐也划入古典音乐范畴。在这个意义上，古典音乐与严肃音乐成为同义词，与流行音乐和民间音乐等形成相对的概念。概括而言，古典音乐一般具有较为丰富和深刻的内容，艺术形式上较为严谨完美，包含着较多的教育和审美意义。</li>
</ol>
<h4>㈢古典乐派(classical  school)</h4>
<ol>
<li>由时间划分，泛指上自文艺复兴，下至浪漫乐派兴起之前的各种风格流派，如巴罗克时期音乐，洛可可音乐、曼海姆乐派和柏林乐派等。</li>
<li>2.即指维也纳古典乐派。</li>
</ol>
<p>维也纳古典乐派  指18世纪下半叶至19世纪20年代在维也纳形成和发展的以海顿、莫扎特、贝多芬为代表的音乐流派。维也纳古典乐派创作的年代正是欧洲思想界开展“启蒙运动”的时期。启蒙学者们提出了一系列的政治思想、人生哲学、艺术主张。他们提倡理性、科学经验、个性解放、权力均等、反对神权、封建特权和封建制度。启蒙运动是一场思想解放运动，它对18世纪末和19世纪的西方文学艺术产生了深远的影响。维也纳古典乐派的3位作曲家虽然有各自得创作特点，但都在不同程度上受到启蒙运动思想的影响，创作上体现了启蒙主义时代的时代精神。而18世纪末爆发的法国资产阶级革命，则给贝多芬的思想和创作带来了深刻的影响。时代的熏陶和哺育，使得维也纳古典乐派作曲家们的音乐充满了生气勃勃、乐观向上的精神气质，体现了新型市民阶层的精神面貌和鲜明的世俗性特征。</p>
<p>18世纪下半叶至19世纪30年代，形成了以古典风格为创作标志的作曲家，这就是杰出的维也纳古典乐派的代表海顿、莫扎特、贝多芬。他们在交响乐、歌剧、清唱剧、协奏曲、重奏曲、奏鸣曲等各个领域都取得辉煌的成就。他们虽然不很注意歌曲的写作，但他们有限的作品却推进了德、奥艺术歌曲的发展，如海顿(1732—1809)在歌曲中加上前奏和间奏，增强了钢琴伴奏的作用；莫扎特(1756—1791)也写了30多首受人喜爱的歌曲，其中的《紫罗兰》是一首当时罕见的具有浓厚的浪漫风格通谱歌，为刚刚兴起的艺术歌曲体裁树立了一个典范；贝多芬用歌德的诗谱写的歌曲，真挚纯朴，也是不可多得的佳作，以上三位大师的创作，开拓出19世纪德奥艺术歌曲的灿烂前景。</p>

<h2>艺术歌曲欣赏的词汇解释 <a class="booklink" href="book.htm#43">教材第43页</a></h2>
<ul>
<li>主题：指乐曲中具有特征的、并处于显著地位的旋律。它表现一完整或相对完整的音乐思想，为乐曲的核心，亦为乐曲结构与发展的基本要素。</li>
<li>音型：在乐曲中一再出现的某种节奏型，通常具有一定的特征，能表达某种特定的情绪或意境。</li>
<li>伴奏：有一件或多件乐器奏出，用以衬托主要的歌唱或器乐演唱(奏)部分。</li>
<li>乐段：由若干乐句组成、具有完整乐思性质的段落。最常见的是二句式或四句式两种。通常有单乐段、二段式、三段式、复三段式等形式。</li>
<li>分节歌：用多段的歌词配以同一曲调而成的歌曲。</li>
<li>通谱歌：包含多段歌词的歌曲，每段歌词谱成不同的曲调来演唱。</li>
<li>美声唱法：17世纪产生于意大利的一种演唱风格。以音色优美、发声自如、音与音的连接平滑匀净、花腔装饰乐句流利灵活为其特点。</li>
<li>人声分类：<ul>
<li>女高音 — 戏剧、抒情、花腔。</li>
<li>女中音</li>
<li>女低音</li>
<li>男高音 — 抒情、戏剧</li>
<li>男中音 — 抒情、戏剧</li>
<li>男低音</li>
</ul></li>
</ul>

<hr/>

<h2>“音乐神童”莫扎特  (Wolfgang Amadeus Mozart，1756—1791)</h2>
<p>莫扎特1756年1月出生在奥地利的萨尔斯堡一个宫廷乐师家庭，从小就具有极高的音乐天赋。他3岁时就能在羽管健琴上弹出优美的和声，4岁能弹奏小段乐曲，5岁时就写出一首钢琴协奏曲，6岁起便在父亲的带领下，和他的姐姐开始了为期十年的旅行演奏。期间，受到了音乐家巴赫的影响，8岁时创作了第一批交响曲，11岁时创作了第一部歌剧。由于他的创作太神速，人们认为他作曲就如同游戏一般的轻松自如。在他14岁时通过了严格的考试，被选为著名的波伦亚音乐学院的院士。莫扎特被世人誉为“音乐史上绝无仅有的音乐神童”。</p>
<p>莫扎特一生盛名于世，收入略高于一般的音乐家，但他为人慷慨大方，自己并没多少积蓄，生活过得非常拮据。虽然经常忍受贫困的折磨，却创作出了一首首清新纯洁的乐曲贡献给世人。</p>
<p>莫扎特的生命只有短短的35年，但他的作品数量巨大，体裁无所不包。在他的作品中充满了爱，反映了他积极的人生观和追求完美、和谐的艺术观。莫扎特的音乐作品主要是交响乐和歌剧，他创作的歌曲不多，但他的三十多首歌曲立意清新，具有浓厚的德奥民歌和世俗歌曲的特点，是德奥艺术歌曲的开创者。</p>
<div class="appreclation">
<h3>欣赏</h3>
<p>合唱</p>
<p>女声独唱与合唱</p>
<h3>欣赏：《快乐的平静》</h3>
<p> 这首歌曾根据德文译成《和平女神》，现在根据意大利文译成《快乐的平静》。此歌是莫扎特访问意大利时写的，当时他才15岁。这是一首风格精致、典雅的小歌，歌词一共才四句，作曲家将它多次反复，以多样旋律构成一个完整的三段式。</p>
<p>歌词大意：</p>
<blockquote>
<p>那快乐的平静在我心里苏醒，别留下那畏惧让我不安宁，</p>
<p>快来吧，你同时去系住我爱人，这甜蜜的锁链最叫人欢迎。</p>
</blockquote>
<h3>欣赏：《致克洛埃》</h3>
<p>1787年莫扎特的父亲去世，妻子患病，他经受着经济上和工作上无休止的打击，越来越消瘦和烦躁不安，在这种情况下，他创作了这首爱情歌曲。歌曲坦诚地倾吐了对克洛埃姑娘的真情，表示直到生命结束才能放松对她的誓言。</p>
<p>歌词大意：</p>
<blockquote>
<p>从你蓝色明亮的眼睛，看出你对我的爱情，</p>
<p>我的心在胸中跳动，我的脸儿也发红，</p>
<p>让我把你抱在我的怀里，不停地吻着你，</p>
<p>亲爱的姑娘，让我把你紧紧抱在我怀里，</p>
<p>直到我的生命完结，我才能够放松你，</p>
<p>你那双眼睛真迷人，它怎不令人销魂，</p>
<p>我在这里已很疲倦，靠近你我就很愉快！</p>
</blockquote>
<h3>欣赏：《紫罗兰》</h3>
<p> 这是1785年6月莫扎特在维也纳创作的歌曲。歌词取自歌德地抒情诗，有故事的描述，也有紫罗兰的内心独白，莫扎特没有采用传统的分节个形式，而是逐段地将它写成一首通谱歌，具有浓厚的德奥民歌的特点。歌中出现的浓厚的浪漫风格，开拓了德奥艺术歌曲创作的前景。</p>
<p>歌词大意：</p>
<blockquote>
<p>草原上生着一朵没人注意的紫罗兰，一朵可爱的紫罗兰。</p>
<p>那儿走来一位牧羊女，，带着轻松步伐，愉快心情，走向草原这里，唱着歌。</p>
<p>那紫罗兰想到：我将要成为世界上最美丽最幸福的花朵！</p>
<p>如果她把我采下，紧贴住她的胸膛，只要短短的一刻！</p>
<p>唉，但是那姑娘走来，她并没留神走上前，一脚把花儿摧残！</p>
<p>它凋谢并死亡，但仍然快乐：“我虽然死，但我仍然死在她的脚下！”</p>
<p>可怜的花儿，那是多可爱的紫罗兰。</p>
</blockquote>
<h3>欣赏：《渴望春天》 <a class="booklink" href="book.htm#165">教材第165页</a></h3>
<p> 此曲作于1791年，同年莫扎特就去世了。当时他已贫困交加，可在作品中没有丝毫的忧郁和绝望。相反，音乐作品充满了天真、快乐，以生动的音乐语言，表现了渴望鲜花开放，小鸟歌唱的春天到来的喜悦心情。</p>
<p>学唱《渴望春天》</p>
<p>以《渴望春天》为例说明什么是歌曲的主题、音型、乐句、乐段。</p>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>古典音乐风格的解释。</li>
<li>维也纳古典乐派的代表人物是哪三位？</li>
<li>为什么说莫扎特是“音乐史上绝无仅有的音乐神童”？</li>
<li>莫扎特的哪首声乐作品开拓了德奥艺术歌曲的前景？</li>
<li>什么是分节歌？什么是通谱歌？</li>
</ol>
</div>

