---
layout: topic
title: "第四讲 浪漫主义时期的艺术歌曲（浪漫主义音乐、德奥艺术歌曲）；舒伯特"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<h2>艺术歌曲的历史</h2>
<h3>四、浪漫主义时期</h3>
<h4>㈠浪漫主义音乐</h4>
<p>浪漫主义音乐(Romantic music)是19世纪初至19世纪末叶在欧洲形成和发展的重要音乐流派。浪漫派的产生有其深刻的社会历史根源。</p>
<p>整个西方19世纪的社会意识形态和文学艺术,无不受到以法国资产阶级民主革命为标志的汹涌澎湃的革命浪潮的影响。因此,反封建、反压迫、反侵略,争取资产阶级的民主、自由、平等和博爱,是当时社会的一个重要特征。法国大革命失败后，1815年全欧洲的封建势力复辟,以及随后兴起的欧洲资产阶级民主运动和民族主义运动是产生浪漫主义文学艺术的历史土壤。这在音乐上的主要反映是继维也纳古典乐派之后,出现了浪漫主义的音乐思潮。</p>
<p>浪漫派作曲家既对封建统治下的黑暗社会现实极为不满，又对法国资产阶级革命时期幻想建立的理想的社会制度感到失望，在看不到社会的出路，普遍产生失落、不满和苦闷情绪的同时,为了寻求精神的解脱，他们沉醉于个人情感的主观体验，寄情于遥远的过去，揭示社会的冷酷、艺术家的孤独和美化爱。由于处于资产阶级民主革命和民族主义运动的高潮,因此,浪漫主义音乐不再强调情感和理智的平衡,而是强调激情,重视个人感情的抒发,追求主观情感的体现。</p>
<p>可以这样说:浪漫主义音乐是主观的艺术、情感的艺术、个性的艺术和自然的艺术。它追求的主要不是形式和内容的统一，而是内容绝对地压倒形式,甚至打破形式的桎梏,打破原来的传统美学原则以表现新的内容。德国作曲家舒曼声称:“浪漫主义不是形象和形式的问题,而是作曲家是不是诗人的问题。”</p>
<p>与古典派崇尚理性和自然,常以匀称、和谐的形式,表现淳朴的思想感情和生活形象不同的是:浪漫派音乐崇尚自由和理想,常以热情奔放、激昂慷慨的音乐语言,表现诗的意境和瑰丽的想象,其最大特点就是狂飙性。</p>
<p>从19世纪初到1850年前称为“前期浪漫主义时期”,  主要代表人物有韦伯、舒伯特(1797—1828)、柏辽兹、门德尔松(1809-1847)、舒曼(1810—1856)和肖邦等著名作曲家；到了1850-1890年,发展到“中期浪漫主义时期”,其主要代表人物有弗兰克、斯美塔那、李斯特、瓦格纳(1813-1883)、勃拉姆斯(1833—1897)、沃尔夫(1860—1903)、柴科夫斯基、德伏夏克、格利格等人；1891-1910年，尽管浪漫主义音乐的鼎盛时期已经过去，但它的影响一直持续到20世纪，亦称作 “晚期浪漫主义时期”,其主要代表人物有、埃尔加、威尔第、马勒(1860-1911)和理查·施特劳斯(1864-1949)、等。</p>
<h4>㈡德奥艺术歌曲 <a class="booklink" href="book.htm#43">教材第43页、45页</a></h4>
<p>带伴奏的独唱歌曲在文艺复兴后期兴起于意大利，但是这种写作势头并没有在意大利等国家持续下去，因为意大利人后来更热衷于创作更为精致而复杂的歌剧咏叹调；而后法国人则热衷于写芭蕾音乐；英国在这方面的创作长期处于停顿状态，连改编民歌这类事情，也邀请外国人海顿和贝多芬代劳；只有在德国，这种艺术歌曲在18世纪下半叶古典时期有了初步的兴盛，而且顺利的导致19世纪浪漫主义艺术歌曲的空前繁荣。</p>
<p>19世纪初，欧洲兴起了浪漫主义思潮。浪漫主义时期人们追求崇高的理想和热烈的情感表现，追求个性化的表现方式。艺术歌曲狭义上就是特指浪漫主义时期的德奥艺术歌曲。因为歌曲有歌词的内容，能直接的反映人的心理和感情或大自然的景色，与交响乐相比，更容易被人的思想所接受，因此，浪漫主义时期的音乐家们都喜欢用诗人的作品来谱写歌曲。以舒伯特、舒曼、门德尔松、布拉姆斯等人的作品为典范。歌德、席勒、海涅等伟大的文学家们为歌曲创作提供了无数优美的诗歌。如歌德的《纺车旁的玛格丽特》、《野玫瑰》、《魔王》，海涅的《乘着歌声的翅膀》、《莲花》等等。诗人们的作品具有非常优美的韵律、节奏，丰富的情感，多变的形式，为音乐家们创作优秀的艺术歌曲奠定了极其有力的基础。</p>
<p>德国艺术歌曲从起源到它的鼎盛时期，经历了漫长的岁月。“歌曲之王”舒伯特的出现，使艺术歌曲达到了空前繁荣的时代。它顺应了历史发展的潮流，向更广阔的情感世界发展。德国艺术歌曲开创了世界音乐曲献的新纪元，所以“Lied”成为艺术歌曲的代名词。</p>
<p>德奥艺术歌曲以其特殊的创作体裁和演唱形式在世界音乐宝库中散发着独特的艺术魅力，有着她不可估量的艺术价值。它使我们看到了世界艺术大师们在声乐史上的不朽贡献，也使我们从中了解了世界各国音乐大师们的思想、境遇和他们丰富的情感。她还可以让我们了解不同时期不同国家艺术歌曲的发展，以及他们的音乐创作风格。</p>
<h4>㈢德奥艺术歌曲的特点</h4>
<p>德奥艺术歌曲之所以具有珍贵的艺术价值，归纳起来有以下几点：</p>
<ol>
<li>艺术歌曲的歌词寓意深刻，内涵丰富。<br/>
从德国的艺术歌曲大师们的声乐作品看来，全都出自于著名诗人的诗歌内容。由此奠定了艺术歌曲的歌词内容具有一定的文学价值。在艺术歌曲中歌词与音乐得到完美的结合。音乐因诗歌的启迪引发作曲者和听众无尽的联想；诗歌因音乐的演示达到更高的境界。</li>
<li>艺术歌曲的音乐细腻精致，严谨规范，整体感强。旋律浪漫而富有生活感。<br/>
因为作曲家的灵感来自于诗歌的启迪，所以他们的曲调流畅优美，既有浪漫色彩，又贴近生活。但歌曲创作手法严谨，自由而不松散。启、承、转、合，整体结构非常鲜明。</li>
<li>艺术歌曲的伴奏具有很强的艺术表现力<br/>
艺术歌曲区别于其他歌曲形式的一个重要方面就是它非常强调歌曲伴奏的表现力。艺术歌曲的伴奏多数用钢琴来伴奏。伴奏部分在作曲家的手下和歌曲旋律相得益彰，互相呼应，形成一个整体。旋律音乐和伴奏音乐的交融，构成了艺术歌曲完美的意境</li>
<li>艺术歌曲的演唱细腻准确和精美。<br/>一般来说艺术歌曲都出自于有素养作曲家的具有严肃艺术意味的声乐独唱曲，因而艺术歌曲的演唱主要采用美声唱法。尤其是德奥艺术歌曲，由于旋律细腻流畅的线条，决定了典型的艺术歌曲的演唱必须是讲究音色的变化和音量的控制。它的演唱不同与歌剧的演唱。总体来说艺术歌曲需要柔和而又精美的演唱，就象潺潺的溪水轻柔的流向远方。但每个国家的艺术歌曲演唱的风格还有差别。要想真正唱好艺术歌曲必须具备良好的文化底蕴，较高的艺术修养和独到的理解力。</li>
</ol>

<hr/>
<h2>“歌曲之王”舒伯特  (Franz Peter Schubert 1797-1828)</h2>
<p> 奥地利杰出的作曲家舒伯特1797年1月31日舒伯特出生于维也纳郊外的一个小镇上，父亲是一位小学音乐教师，后担任小学校长。舒伯特共有11个兄弟姐妹，虽然生活比较贫困，但全家人都热爱音乐，经常举办家庭音乐会。受家庭的熏陶，舒伯特八岁时，跟父亲学习小提琴，跟哥哥学习钢琴，跟教堂的管风琴手学习唱歌，管风琴和音乐理论，打下了较好的音乐基础。</p>
<p>1808年，11岁的舒伯特获&#22870;学金，入维也纳宫廷合唱团，并在一所寄宿学校学习。不久，舒伯特在学校管弦乐队担任第一小提琴手(乐队首席)，有时还兼任指挥。其间，他创作了第一首歌曲《哈加尔的悲哀》，受到作曲家安东尼  萨利埃里的赏识。1812年随萨利埃里学习作曲。</p>
<p>1813年，因嗓子变声，离开了合唱团。1814—1818年，他在父亲的学校里任教。但舒伯特不是一个好老师，他对教师工作毫无兴趣，把全部精力放在了音乐创作上。17岁为歌德的诗篇《纺车旁的葛瑞卿》、《野玫瑰》、《魔王》等谱曲。18岁完成第二、三交响曲，两部弥撒曲，五部歌剧，仅1815一年中，他就创作了140多首歌曲。1818年，他终于和父亲摊派，离开学校，前往维也纳，开始了他专门从事音乐创作的生活。</p>
<p>舒伯特一生没有正式的职业。他生性潦倒放浪，没有固定的经济收入，生活非常贫困。但他对朋友们却从不吝啬，在他的周围集结了一批对他十分崇敬的友人。这些朋友晚上常常聚集在酒吧里高谈阔论，谁有钱谁付账，舒伯特也就是赖以别人的救济而生存。</p>
<p>舒伯特31岁夭折，但给后世留下了大量的音乐财富。总共写下14部歌剧，9部交响曲，100多首合唱曲，600首歌曲等近千件作品。</p>
<p>舒伯特在欧洲音乐发展史上，是一位承前启后的作曲家。他是贝多芬的同时代人，他继承了德、奥古典音乐的传统，并有所发展，从而开拓了进入浪漫主义的新时代。</p>
<p>舒伯特(Franz  Schubert,1797-1828)写有600多首艺术歌曲，因此，舒伯特历来有“艺术歌曲之王”的美誉。</p>
<p>根据欧洲音乐史家公认的说法，舒伯特根据歌德的文学名著《浮士德》，于1814年创作的《纺车旁的葛瑞卿》，是艺术歌曲这一声乐体裁确立的标志。这首作品无论就歌词、旋律、伴奏以及三者的结合而言，都初步显露了艺术歌曲的特性。艺术歌曲在体裁特征、艺术规范和美学品格上有它的具体界定:</p>
<ul>
<li>它是供独唱用的，以钢琴为主要伴奏乐器。</li>
<li>它的歌词必须有诗的意境、词的内涵，而且有使诗的形象变成音乐形象的可能性。</li>
<li>它应该是诗与音乐、人声与伴奏的有机结合，彼此相辅相成、相得益彰。</li>
<li>它的歌唱应该充分发挥声乐技巧，它的伴奏应为“声乐之花的生长”提供必不可少的“气氛和土壤”。</li>
</ul>
<h3>创作风格</h3>
<p>舒伯特的歌曲创作，主要是从18—19世纪德国诗人歌德、席勒、缪勒、海涅等的诗中获得灵感。舒伯特创作的歌曲，常常是和诗人交流思想感情的产物。当他读到一首诗，情动于中，不能自己，诗的音乐形象也就闪现在面前了。</p>
<p>在舒伯特的歌曲中，诗歌和音乐是紧密结合起来的。为了有效的表达诗的内容和境界，舒伯特扩大了旋律与和声的表现力，并提高了钢琴伴奏的作用。抒情的歌唱性曲调在他的歌曲中占有重要的地位。除此以外，富于语言表现力地朗诵调，也同样起着很大的作用。舒伯特歌曲中的钢琴伴奏，不仅对旋律起着陪衬作用，而且是创造特定意境的重要手段。</p>
<p>舒伯特的歌曲和奥地利、德国的民间音乐语言有着血缘关系。用分节歌写成的民歌型歌曲，在他的歌曲创作中占有很大的比重。但是，分节歌这一起源于民间的歌曲形式，在舒伯特的笔下有了巨大的发展。他根据表达歌词内容的需要，用变奏和展开主题的手法来丰富这一形式。</p>
<p>舒伯特把歌曲艺术提高到新的水平，在这个领域里开辟了一个新的天地，以至于后来的艺术歌曲作曲家们都是他的继承人。</p>
<p>舒伯特喜欢即兴创作，一首曲子往往只需几分钟时间。关于他作曲的神速，有许多脍炙人口的小故事。他创作歌曲的灵感及思维是许多作曲家所不能及的，当之无愧地成为“歌曲之王”。</p>
<p>舒伯特早年都是用歌德的诗，所作第一批成功的作品有《纺车旁的葛瑞卿》、《魔王》、《野玫瑰》等等。中期的重要作品，是采用缪勒的组诗写成的两部声乐套曲—《美丽的磨坊女》和《冬之旅》。晚年用海涅等人的诗写成14首歌曲，是他的最后杰作，被后人取名为《天鹅之歌》。</p>
<div class="appreclation">
<h3>欣赏：《纺车旁的葛瑞卿》</h3>
<p>作于1814年10月19日，当时舒伯特年仅17岁。歌词采自歌德的诗剧《浮士德》。诗剧分俩部，第一部表写精通魔法的老学究浮士德为了只求生活的乐趣，把自己的灵魂出卖给魔鬼美菲斯托，从而换得失去的青春，并得以和少女葛瑞卿相爱。这首歌是《浮士德》第一部第十五场葛瑞卿在纺车旁思恋浮士德时所唱的歌。</p>
<p>舒伯特为这首歌谱曲，采用变化分节歌的形式。全曲分三节，每节歌包含三段，唱三节歌词。每节歌的第一段唱相同的歌词，相当于分节歌的“副歌”。钢琴伴奏自始自终奏着螺旋形的快速音型，描写纺车的车轮不停的旋转。他塑造了歌德的文学名著《浮士德》中纯洁的少女葛莱卿的形象。歌曲旋律充满抒情性。</p>
<p>歌词大意：</p>
<blockquote>
<p>我的心绪不宁，心事重重。我再也不能平静。</p>
<p>我若失去他，就失去生命，全世界都使我悲痛。</p>
<p>我终日昏昏沉沉，我的神智模糊不清。</p>
<p>我的心绪不宁，心事重重。我再也不能平静。</p>
<p>我伏在窗前等待他经过，我走出房门盼他来临。</p>
<p>他举止高尚，他仪表堂堂，</p>
<p>他的面带笑容，他的目光炯炯，</p>
<p>他言词优雅，谈笑风生，他的拥抱和他的亲吻！</p>
<p>我的心绪不宁，心事重重，我再也不能平静。</p>
<p>我内心焦虑，思念他。我只想走上前，把他留住！</p>
<p>和他亲近，一直到我们不得不分离！</p>
<p>我的心绪不宁，心事重重。</p>
</blockquote>
<p>附：变化分节歌：包含多段歌词的歌曲，每段歌词基本上唱同一个曲调，但有个别段落唱不同的曲调，这种歌曲就叫“变化分节歌”。</p>
<h3>欣赏：《野玫瑰》</h3>
<p>作于1815年。根据歌德的抒情小诗谱写。表现了极为天真、纯洁、可爱的情感。舒伯特配以民歌式旋律，采用分节歌的形式写下了这首歌曲。</p>
<p>歌词大意：</p>
<blockquote>
<p>少年看见红玫瑰，原野上的玫瑰，多么娇嫩，多么美。</p>
<p>他急急忙忙跑去看，心中暗自赞美，玫瑰，玫瑰，红玫瑰，原野上的玫瑰。</p>
<p>少年说：“我摘你回去，原野上的玫瑰！”</p>
<p>玫瑰说：“我刺痛你，使你永远不忘记，我绝不答应你。”</p>
<p>玫瑰，玫瑰，红玫瑰，原野上的玫瑰。</p>
<p>粗暴少年动手摘，原野上的玫瑰，</p>
<p>玫瑰刺痛他的手，悲伤叹息没有用，只得任他摧残，</p>
<p>玫瑰，玫瑰，红玫瑰，原野上的玫瑰。</p>
</blockquote>
<h3>欣赏：《摇篮曲》 <a class="booklink" href="book.htm#165">教材第165页</a></h3>
<p>作于1816年11月。这是一首简单的小歌，却非常著名。旋律在主、属两个和弦之间走动。安静、祥和，这是一位慈爱的母亲在轻轻地摆动着摇篮哼唱的歌。</p>
<p> 据说《摇篮曲》诞生在餐厅里。当时舒伯特身无分文而又饥饿难忍，为了填饱肚子，他拿起了菜单写了一首歌曲，并用他换回了一般马铃薯，而这首歌正是著名的《摇篮曲》。</p>
<h3>欣赏：《致音乐》</h3>
<p>此曲创作于1817年，当时舒伯特读了肖贝尔的诗，引起了强烈的共鸣，因而为之谱了曲。他们将音乐作为爱慕和崇拜的对象。全曲充满了高雅的生活气息。旋律庄重优美，节奏舒展宽广，表达了作者对音乐的赞美和感激之情。</p>
<blockquote>
<p>美妙的音乐，在多少忧郁的时刻，</p>
<p>生活给我无情的打击，你却把我心中的热爱唤起，</p>
<p>向我展现出光明天地。</p>
<p>一阵阵叹息把你的琴弦击起，美妙的和声是多么温柔甜蜜，</p>
<p>把我带入幸福的极乐世界，美妙的音乐我衷心感谢你，</p>
<p>美妙的音乐我感谢你！</p>
</blockquote>
<h3>欣赏：《鳟鱼》</h3>
<p>  作于1818年。歌词作者克里斯蒂安是德国诗人和音乐家。在这首歌曲中舒伯特把它写成一首变化分节歌。前两节歌词唱同一曲调，钢琴奏出描写鳟鱼戏水的伴奏音型。歌曲以明快活泼的旋律，表现出天真无邪、灵敏活泼的小鳟鱼在水中尽情遨游，而目睹者在岸上亲切地欣赏着这静中有动的景色，画面淡泊而恬静；紧接着渔夫手持钓竿来到河边，他的出现破坏了自然的宁静，目睹者忐忑不安，惟恐小鳟鱼上当受骗，这一段情绪是紧张不安的；第三节的前半部分描写渔夫用狡猾的欺骗的手段浑水摸鱼，旋律、和声、调性布局和伴奏音型都起了变化，采用了激动的宣叙调，乐曲由此推向高潮，后半部分恢复原状，目睹者眼睁睁地看着小鳟鱼受骗上当而爱莫能助。演唱时感情强烈，唱出目睹者满怀激愤的心情。以上的同一曲调呈示三种不同的情绪、音色和力度表现，使人感受到《鳟鱼》的戏剧性和感人力量。</p>
<p>舒伯特在这首歌曲中不仅用伴奏音型塑造了小溪中的鳟鱼悠悠自得的游动的形象，并且用分节歌的叙事方式揭示了歌词深刻的寓意。作者曾把这首歌曲做成A大调钢琴五重奏。</p>
<p> 这是一首“变化分节歌”。歌词分三段：第一段描写一群鳟鱼在清清的溪水中游戏，第二段描写一个渔夫悄悄地站在河边钓鱼，鳟鱼们看得很清楚，不上他的钩。这两段歌词唱着同一个大调式曲调。第三段歌词描写狡猾的渔夫把河水弄浑，得以浑水摸鱼。这段歌词改唱小调式的曲调，但最后两句说出了旁观者诗人的愤慨，又回到了大调，和前两段的结尾相同。</p>
<p>歌词大意：</p>
<blockquote>
<p>明亮的小河里面，有一条小鳟鱼，快活地游来游去，像箭儿一样。</p>
<p>我站在小河岸上，静静地朝它望，在清澈的河水里面，它游得多欢畅。</p>
<p>那渔夫带着钓竿，也站在河岸上旁，冷酷地看着河水，想把鱼儿钓上。</p>
<p>我暗中这样期望，只要河水清又亮，他别想用钓钩把小雨钓上。</p>
<p>但渔夫不愿久等，浪费时光，立刻就把那河水搅浑，</p>
<p>我还来不及想，他就已提起钓竿，把小鳟鱼钓到水面上。</p>
<p>我满怀激动的心情，看鳟鱼受欺骗。</p>
</blockquote>
<h3>欣赏：《慕春》</h3>
<p>  作于1820年，歌词是德国诗人乌兰德。诗人是积极参加争取自由和统一的政治活动的民主诗人。他触景生情，用春天绿树成荫，山花烂漫的诗句表达了诗人乐观主义精神和对民主运动和统一事业的胜利信心。舒伯特把这首是处理成两节歌词唱同一旋律的分节歌。</p>
<p>歌词大意：</p>
<blockquote>
<p>那温柔的春风已甦醒，它轻轻的吹，日夜不停，</p>
<p>它忙碌地到处创造，空气清新，大地欢腾！</p>
<p>可怜的心哪，别害怕！天地间万物正在变化。</p>
<p>世界将一天比一天更美丽，明天的美景更无比，</p>
<p>那花儿永远开不尽，开在遥远的深谷里，</p>
<p>啊，我的心哪，别烦恼！天地间万物正在变化！</p>
</blockquote>
</div>
<h3>舒伯特的小夜曲、宗教歌曲、自传体歌曲</h3>
<div class="appreclation">
<h3>欣赏：《听、听，云雀》 <a class="booklink" href="book.htm#169">教材第169页</a></h3>
<p>作于1826年，根据莎士比亚的诗谱写。这是一首早晨小夜曲，节奏轻快活波，旋律明亮而富有生气。</p>
<p> 关于这首歌还有一段轶事：一次舒伯特和朋友到郊外散步。走进一家酒店，席间他信手翻阅了莎士比亚的诗集，发现了一首名为《听，听，云雀》的诗歌，突然灵感大发，于是就在不到20分钟的时间里，便在菜单上画出了五线谱，一气呵成完成了这首轻快神妙的</p>
<h3>欣赏：《小夜曲》 <a class="booklink" href="book.htm#166">教材第166页</a></h3>
<p>作于1828年8月这是舒伯特短促生命中最后完成的独唱艺术歌曲之一。采用的德国诗人莱尔斯塔勃的诗篇谱写而成的。</p>
<h3>欣赏：《圣母颂》</h3>
<p>1825年舒伯特采用英国历史小说家瓦尔特  司各特的长诗《湖上美人》中的《艾伦之歌》谱写而成。它以平稳的旋律为起点，经过种种离调的手法发展，描绘了一个少女真诚祈求圣母玛利亚赐予心灵抚慰的情景。这首歌常被改编为器乐曲。</p>
<p>歌词大意：</p>
<blockquote>
<p>阿玛利亚！仁慈圣母，请您倾听这虔诚告诉，</p>
<p>请您伸展仁慈圣手，来抚慰我这心中悲苦，</p>
<p>我将无处投靠身和心，永托您那慈恩庇护。</p>
<p>啊，我高贵的仁慈圣母！啊，请听这虔诚告诉，阿玛利亚！</p>
</blockquote>
<h3>欣赏：《流浪者之歌》</h3>
<p>作于1824年7月这是一首舒伯特自传式的歌曲。他刻划了一个在黑暗社会中四处流浪，永远找不到安宁和幸福的人。全曲是一首多段式的“康塔塔”。</p>
<p>歌词大意：</p>
<blockquote>
<p>我跋山涉水来自远方，深谷迷雾，大海咆哮，海浪激荡。</p>
<p>我孤寂地到处流浪，并永远叹问：“往何方？”</p>
<p>这里的太阳多么凄凉，花朵枯萎。</p>
<p>啊，人生渺茫，人们的言语空虚无情，我到处孤独地流浪。</p>
<p>啊，故乡，你在何方？我寻觅，我幻想，不知何往！</p>
<p>故乡，无限盼望，在那儿玫瑰已开放，和朋友散步游荡，</p>
<p>和亲人欢聚一堂，乡音温暖着我心房。</p>
<p>啊，故乡在何方？</p>
<p>我孤寂地到处流浪，并永远叹问：“往何方？”</p>
<p>听微风向我低声说：“流浪者的幸福，就在故乡。”</p>
</blockquote>
<p>学唱《摇篮曲》、《鳟鱼》，并分析其主题、乐句、乐段。</p>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>什么是浪漫主义音乐？</li>
<li>浪漫主义音乐的风格与古典音乐的风格有什么区别？</li>
<li>浪漫主义时期的前期、中期、晚期艺术歌曲作曲家有哪几位？</li>
<li>德奥艺术歌曲的特点是什么？</li>
<li>舒伯特哪首歌曲确立了艺术歌曲这一声乐体裁的标志？</li>
</ol>
</div>

