---
layout: topic
title: "第五讲 “歌曲之王”舒伯特"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<p>组歌是19世纪浪漫主义文学和音乐的重要体裁。用一组抒情诗和歌曲来抒写同一个人物的生活感受和感情体验，是浪漫派诗歌创作和音乐创作常用的方式。这种组歌常常是第一人称的自传体作品，是由一系列独唱歌曲组合而成的声乐套曲。在奥地利作曲家舒伯特的艺术歌曲中，组歌是他将一些在内容上互相关联的歌曲组成的声乐套曲。有些组歌的歌曲，内容上的联系比较紧密，其中贯穿着具体的故事情节；但也有些组歌的歌曲，只是在内容和形象上有某些共同之处，或者只是用了同一个诗人的歌词，每首歌都有较大的独立性。组歌有由一系列独唱歌曲组成的；也有由一些独唱、重唱和合唱等不同形式的歌曲组成的。后一种组歌在形式上接近于清唱剧和大合唱。</p>
<h3>舒伯特的两部声乐套曲——《美丽的磨坊姑娘》和《冬之旅》</h3>
<p>两部套曲都是取自德国诗人威廉·缪勒的诗，内容都是以自传的形式写一个流浪者的悲剧性的遭遇。《美丽的磨坊姑娘》中的流浪者，开始是一个朝气蓬勃地走进生活的青年；而《冬之旅》中的流浪者，则一开始就是一个受尽折磨的失意的人。两者都因寻找幸福遭到失败而陷入失望、痛苦和孤独之中，从而反映了欧洲在维也纳会议以后封建势力复辟时期，资产阶级知识分子苦闷压抑的情绪和对自由幸福的渴望。</p>
<p>《美丽的磨坊姑娘》包括二十首男声独唱歌曲。整部套曲以春天的自然界为背景，展开了一个青年磨工的生活、恋爱和痛苦的故事。一个流浪的青年，在春风的伴送下，快乐地踏上了征途。他沿着小溪来到磨坊，当上了磨工。他爱上了美丽的磨坊姑娘，把自己全部忠诚的感情都献给了她。</p>
<div class="appreclation">
<h3>欣赏：套曲第一首“徒步旅行”</h3>
<blockquote>
<p>磨工的乐趣是流浪，你若从来不曾去流浪，</p>
<p>怎能知道世界多宽广，去流浪流水是我们的好榜样，</p>
<p>他们日日夜夜在奔流，她不停奔流向远方，学流水。</p>
<p>你看那水车旋转忙，在飞快旋转多爽朗，</p>
<p>它们永不疲倦地旋转忙，那水车。</p>
<p>再看沉重的大磨盘，歌声扬，在尽情欢快地舞蹈，</p>
<p>他们转得越快越欢畅，看磨盘。</p>
<p>我的乐趣是流浪，我的男女主人在磨坊。</p>
</blockquote>
<h3>欣赏：第二首 “何处去”</h3>
<blockquote>
<p>我听见小溪歌唱，奔腾在山岗上，它潺潺流入幽谷，多清新多嘹亮。</p>
<p>我不知，我将何往，我该去向何方，我只有奔向远方，</p>
<p>带着我心爱的手杖，向远方啊，再向远方，沿着小溪奔向远方，</p>
<p>小溪不停地歌唱，歌声越唱越嘹亮，你将带我向何方？</p>
<p>啊小溪，向何方？你那迷人的歌声令我神往。</p>
<p>我听到窃窃私语不像溪水歌唱，仿佛是水仙女的歌声在水底轻轻吟唱。</p>
<p>你唱吧，伙伴，纵情歌唱，我们愉快地去流浪，</p>
<p>我听到水磨的声音在清澈的小溪旁。</p>
</blockquote>
<p>《冬之旅》包含二十四首男声独唱歌曲，在内容上可以说是《美丽的磨坊姑娘》的续集，但《冬之旅》没有戏剧性事件的发展过程，更多的是描写主人公对生活的体验和感受，充满浓郁的悲剧气氛。二十四首歌曲中流传最广的是第五首《菩提树》，现在已成为奥地利和德国家喻户晓的民歌。这是一首变化分节歌，四段歌词分别唱着不完全相同的曲调。第一段用明朗亲切的曲调叙述流浪者对菩提树的深厚感情和菩提树给予他的安慰，音乐用的是大调。第二段前半部分叙述凄苦的流浪生活，由大调变为暗淡的小调，但曲调没有变；后半部分又叙述菩提树给予流浪者的安慰，音乐又恢复为大调。第三段伴奏中出现了描写冷风瑟瑟的音乐，流浪者在凛冽的北风中仍坚定向前。第四段和第一段的音乐一样，描写远离故乡的流浪者，仍听到菩提树对他亲切的呼唤。</p>
<h3>欣赏：套曲第五首《菩提树》</h3>
<blockquote>
<p>门前有棵菩提树，生长在古井边，我做过无数美梦，在它的绿荫间。</p>
<p>也曾在那树干上刻下甜蜜诗句，无论快乐和痛苦，常在树下留连。</p>
<p>今天向往日一样，我流浪到深夜，我在黑暗中行走，闭上了我的两眼，</p>
<p>好像听见那树叶对我轻声呼唤：同伴，回到我这里，来找寻平安！</p>
<p>凛冽的北风吹来，直扑上我的脸，把头上帽子吹落，我仍坚定向前。</p>
<p>如今我远离故乡，转眼有许多年，但仍常听见呼唤：到这里寻找平安！</p>
</blockquote>
</div>
<h3>舒伯特的叙事曲</h3>
<p> 舒伯特的叙事歌曲和勒威一脉相承，而又提高了它的表现力。他的叙事歌曲《魔王》，是用歌德的叙事诗写作的。1781年4月的一个夜里，图林根库尼茨村的一个农民抱着生病的孩子，骑马赶到耶那去请一位名医看病，但那名医也无法救治这病入膏肓的孩子。父亲只好再抱着孩子赶回家去。在没有到家以前，孩子已死在父亲的怀里。几天以后，歌德来到库尼茨村附近，在枞树旅馆里听到这件事，就把它渲染成魔王在夜里抱走孩子的民间传说，写成一首叙事诗。许多作曲家都曾为这首叙事诗谱了曲，其中以勒威和舒伯特所谱的叙事歌曲最为著名。</p>
<p>  1815年冬天的一个下午，舒伯特在他维也纳的寓所，仅用几分钟时间便为歌德的叙事诗《魔王》配写成一首抒情歌曲，也就是歌曲《魔王》，被誉为德奥艺术歌曲的典范，那一年舒伯特才18岁。在许多作曲家为歌德同名诗谱的曲子中，都不能与舒伯特谱的这首歌曲比美。</p>
<div class="appreclation">
<h3>欣赏：《魔王》</h3>
<p> 《魔王》这首歌曲通过不同的旋律音调，分别体现了叙述者，父亲，孩子以及魔王四个不同角色，展示出充满戏剧性的情节。焦虑的父亲抱着生病的孩子，策马狂奔，穿过黑夜的森林，孩子看见了森林中的树精——魔王在反复的引诱他去，而不断的发出惊呼……钢琴伴奏以马蹄疾奔的节奏贯穿全曲，低声部一再出现风声，呈现出林风飒飒、黑夜沉沉的自然景象，和咄咄逼人的阴暗情景。</p>
<p> 歌曲的一头一尾两节用第三人称在叙述故事；第二节是父子对话；第三节是魔王引诱孩子的甜言蜜语；第四节是孩子和父亲的对话；第五节是魔王进一步巧舌如簧的媚语；第六节又是孩子和父亲的对话；第七节是魔王凶相毕露的最后威胁。每一节借用不同性质和不同音区的曲调来谱写第三人称的叙事性诗句和不同人物的对话。孩子三次惊呼“我的爸爸”，用小二度上行，逐次移高，使孩子痛苦、惊惶的情绪一步步达到高潮。最后，贯穿全曲的马蹄声告歇，奔驰终止，孩子却已经在父亲的怀里死去。宣叙调的旋律和两个特强的和弦的打击，表现了精疲力竭的父亲悲痛欲绝的心情。</p>
<p>歌词大意：</p>
<blockquote>
<p>(旁白)谁在黑夜里骑马飞驰？是一位父亲和他的男孩，</p>
<p>他将他爱儿搂抱在怀，紧紧的抱着，使他温暖。</p>
<p>(父)“我儿，为何这样害怕惊慌？”</p>
<p>(孩)“啊，父亲，你可看见魔王？头戴着雉尾皇冠地魔王？”</p>
<p>(父)“我儿，那是烟雾飘荡。”</p>
<p>(魔)“好孩子啊，随我来吧！我和你一起快乐游戏。</p>
<p>溪边的鲜花多么美丽，我的母亲还有金缕衣。”</p>
<p>(孩)“啊，父亲，啊，父亲，你可听见，那魔王低声细雨在耳鬓。”</p>
<p>(父)“别害怕，我的儿，请安心，那是风吹树叶的声音。”</p>
<p>(魔)“好孩子，你可愿随我去？我的女儿也正在等待你，</p>
<p>每天晚上你跟我的女儿游戏，她唱歌又跳舞来使你欢喜。”</p>
<p>(孩)“啊，父亲，啊，父亲，你可看见，那魔王的女儿在黑暗里？”</p>
<p>(父)“我儿，我儿，我完全看清，那只是些柳树的灰色阴影。”</p>
<p>(魔)“我真爱你，你的容貌多美丽，你要是不愿意，我就用暴力。”</p>
<p>(孩)“啊，父亲，啊，父亲，他已抓住我！他使我痛苦，不能呼吸！”</p>
<p>(旁白)父亲在颤栗，他急驰如飞，把喘息的儿子紧抱在怀里。</p>
<p>惊慌、疲倦，回到家里，怀里的孩子已经死去。</p>
</blockquote>
<p>学唱《小夜曲》、《菩提树》主题乐段。</p>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>舒伯特著名的声乐套曲是哪两部？</li>
<li>歌曲《魔王》属于哪种声乐体裁？分析歌曲中人物的演唱表现。</li>
</ol>
</div>

