---
layout: topic
title: "第六讲 “音乐诗人”舒曼"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<h2>“音乐诗人”舒曼  (Robert Schumann，1810—1856)</h2>
<p>舒曼1810年出生于德国撒克逊州茨维考市。父亲是一位图书出版商。幼年的舒曼钟爱音乐与文学，8岁学钢琴，9岁创作了几首小步舞曲和钢琴幻想曲，11岁起创作管弦乐作品。16岁时，舒曼的父亲去世，在母亲的逼迫下，他进了莱比锡大学法律系。但舒曼天性喜欢音乐，根本无心去读那些对他来说枯燥无味的法律条文，他甚至在法律课上创作起音乐作品来，以至于他的教授骂他选错了专业。两年多后，经他的钢琴老师维克教授的多次求情，他母亲才同意他献身于艺术。</p>
<p>舒曼从青少年时代起情绪就不很稳定，在他身上既有浪漫的情调，又有“动人的忧郁”，他一次次恋爱，一次次失败。最后他爱上了维克教授的女儿克拉拉。可是维克教授一心想把女儿培养成一名大钢琴家，竭力反对他们的恋爱，但是舒曼和克拉拉并没有妥协，两人经过数年的努力，最后经法院判决才于1840年结婚。克拉拉也不负父望，成了一位声名显赫的钢琴家。由于与克拉拉的结合，促使舒曼的创作热情高涨。1840年间是他歌曲创作最丰富的一年，创作了近200首歌曲，被称为“歌曲文萃”。</p>
<p>舒曼不仅是杰出的作曲家，而且是音乐史上最伟大的音乐评论家。1834年舒曼创办并担任编辑了《新音乐杂志》，广泛的向人们介绍、评论音乐界的新人新作。他点评过世界上许多著名的音乐家，如李斯特、门德尔松、柏辽兹、勃拉姆斯等，以自己的评论推动音乐界的新人涌现。</p>
<p>由于过渡的紧张劳累和创作的兴奋，严重损害了舒曼的健康，以至于得了精神病。1856年离开了人世，终年46岁。舒曼的夫人克拉拉对丈夫坚贞不渝，舒曼的许多作品是在他死后通过克拉拉的演奏及努力的推广其作品，才逐渐的被后人所重视。舒曼逝世后的40年中，她一如既往地把宣传丈夫的作品作为自己的唯一职责，直至舒曼在音乐史上占据了他应有的地位。人们称颂伟大的作曲家舒曼的时候，同时也称颂他的妻子——伟大的钢琴家克拉拉。</p>
<h3>创作风格</h3>
<p>舒曼的歌曲创作风格继承了舒伯特的传统，但在艺术表现的细腻与深度上超过了舒伯特。他的音乐创作新颖独特，促进了浪漫主义音乐风格的发展。也许由于舒曼有着更高深的文学修养，他在歌词选择方面更注重诗歌本身的艺术性，他希望通过音乐的手段，使诗歌焕发出更加动人的诗意情趣来。舒曼是浪漫主义时期最具浪漫精神的作曲家。因此，后人对舒曼有“诗人音乐家”的美称。</p>
<p>舒曼是一个“声音调色”大师，他深谙音色对人的联觉作用。一般来讲，声音只作用于听觉；但情人的声音可以使人在听觉中，同时感受到甜美(味觉)、温暖、圆润(触觉)、明亮(视觉)等各种感觉。各种感觉互相挪移，彼此打通，牵一发而动全身，使审美知觉变得无比丰富。他在组歌《妇女的爱情和生活》第一曲《自从和他相见》的钢琴伴奏写作中，使钢琴部分即使离开了人声，还是一首完整的曲子。这首歌描写初恋时的温柔甜蜜的感情，是一首有两段歌词的分节歌，但第二段的旋律有微小的节奏上的变化。</p>
<div class="appreclation">
<h3>欣赏：《献词》</h3>
<p>舒曼的重要作品——歌曲集《桃金娘》中的一首歌曲。此作品是送给刚和他结婚的新娘克拉拉的结婚礼物。历经磨难舒曼终于和克拉拉结婚，作品中的优美旋律洋溢着热情、喜悦和活力，音乐充满了幸福感。</p>
<p>歌词大意：</p>
<blockquote>
<p>你是我灵魂，我的心，你是我欢乐和痛苦，你是我的世界，</p>
<p>我生活其中你是晴空，我自由飞翔，你是坟墓，把我的一切烦恼忧愁都埋葬。</p>
<p>你是安宁，你是那和平，你是从天上下凡人间。</p>
<p>因你爱我，生活更美好，你的眼光使我神采更飞扬，</p>
<p>你使我超越人间，啊，你就是那真善美！</p>
<p>你是我灵魂，我的心，你是我欢乐和痛苦，你是我的世界，</p>
<p>我生活其中你是晴空，我自由飞翔，啊，你就是那真善美！</p>
</blockquote>
<h3>欣赏：《核桃树》</h3>
<p> 歌曲集《淘金娘》中的第三首歌。这是舒曼歌曲中钢琴伴奏与歌唱同样重要的特点的一首歌曲。歌唱必须与钢琴伴奏结合在一起演唱，甚至可以说钢琴伴奏在这首歌中起着主导的作用。它以宽广的琶音音型和不断出现的主题，把青年人对爱情结合的幸福憧憬，表达得无比生动。</p>
<p>歌词大意：</p>
<blockquote>
<p>门前的核桃树又绿了，茂盛的枝叶伸向那天空飘散芳香。</p>
<p>枝头上无数花朵开放。温柔的微风吹来，热情的把它拥抱，</p>
<p>一对对花朵轻声谈笑，低着头儿弯下腰，亲密的在亲吻。</p>
<p>它们谈到一位姑娘，她白天和晚上都在幻想，也不知想些什么。</p>
<p>他们轻声在谈笑，那声音有谁能听得到？</p>
<p>谈到明年，也谈到新郎。那姑娘倾听，树枝喧嚷，</p>
<p>思念，幻想，她微笑地进入梦乡。</p>
</blockquote>
<h3>欣赏：《月夜》</h3>
<p> 这是一首纯洁而深刻动人的音诗。舒曼在德国民间诗歌的原诗上，配上了朴素的音乐。全曲几乎仅用同一句旋律不断反复，但具有独立表现意义的钢琴伴奏却塑造了月光如水的情景，使音乐丝毫不显单调。</p>
<p>歌词大意：</p>
<blockquote>
<p>一望无边的天空，和大地相拥抱，月亮放射出银光，催大地入梦乡。</p>
<p>那晚风飘过田野，掀起一片麦浪，树林在沙沙作响，星光是多明亮。</p>
<p>我的心灵展开翅膀，它尽情飞翔，飞过寂静的田野，飞回它的家乡。</p>
</blockquote>
<h3>欣赏：《莲花》</h3>
<p>这是舒曼为海涅的抒情诗谱写的一首歌曲。它以等和音的变化，表现莲花的丰满和色彩，以情绪的激化，刻划了莲花哭泣、颤栗的形象。</p>
<h3>欣赏：《两个禁卫兵》</h3>
<p> 这是舒曼杰出的叙事性歌曲代表作，是舒曼为德国诗人海涅的诗谱写的叙事歌曲。1820年秋，海涅回到杜塞尔多夫去省亲，看见一大队从俄国回来的法国士兵。这些士兵是1812年拿破仑进攻俄国失败时被俘虏的。他们在西伯利亚呆了八年，现在才遣送回国。他们的情况十分狼狈，衣衫褴褛，形容枯槁。海涅在他们中间找到了他的法国朋友勒·格郎。两人一同坐在草地上叙话。勒·格郎带回了从前在战场上使用的钢鼓，向海涅敲起了当年的进军调。这使海涅浮想联翩，写了一首叙事诗《两个近卫兵》。</p>
<p> 拿破仑战争对欧洲各国来说，既有进步的一面，也有反动的一面。海涅认为拿破仑解除了德国的封建束缚，把他看作一个理想化的人物。海涅在这首叙事诗中表现了对拿破仑的崇拜，也表现了两个俘虏听到法国惨败消息后的痛苦心情。</p>
<p> 《两个禁卫兵》这首歌有九段歌词，分成四个段落。每个段落包含两段诗，第七段诗是第三和第四两个段落之间的过渡。前三个段落是变化的分节歇，都是小调式，第四段落转入大调，采用了法国资产阶级革命歌曲《马赛曲》雄伟的曲调，表现了两个近卫兵对拿破仑的怀念。旋律运用叙事音调塑造为妻子、儿女担忧的掷弹兵甲和悲愤的掷弹兵乙的两个不同人物形象，把战士致死不屈的精神表现得十分动人。可最终欧洲还是回到封建社会的黑暗统治中。因此全曲以沉重、悲剧性的钢琴尾奏告终。</p>
<p>歌词大意：</p>
<blockquote>
<p>两个紧卫兵在俄国当了俘虏，如今他们回法国。</p>
<p>当他们来到了德国军营，他们低垂这头。</p>
<p>当他们听到那可怕的消息，说法国已经被人击败，</p>
<p>那英勇的军队早已经崩溃，皇帝也失去了自由。</p>
<p>悲痛的消息使他们哭泣，其中一个这样说道：</p>
<p>“啊，我是多么痛苦，我的创伤在剧烈燃烧！”</p>
<p>另一个说道：“朋友全没了，倒不如让我死去，</p>
<p>但我有妻子儿女，他们将遭到不幸。”</p>
<p>“妻子儿女我都不管，我有更美好的理想；</p>
<p>当他们饥饿，让他们讨饭去。</p>
<p>皇帝，我的皇帝在那里！</p>
<p>兄弟，我有一个恳求：</p>
<p>如果现在我死去，请把我的尸首带回法国，并把我埋葬在故乡。</p>
<p>把红缎带的勋章佩带在我的胸前，把刺刀挂在我腰间，步枪也握在手中。</p>
<p>我像一个英勇的战士，守卫在坟墓中。</p>
<p>当我听到大炮的咆哮和战马奔驰的铁蹄声，这一定是皇帝殿下骑马经过，</p>
<p>胜利的旗帜迎风飘扬，我拿着刀枪走出坟墓来保卫我的皇帝！”</p>
</blockquote>
<h3>欣赏：套曲《诗人之恋》</h3>
<p> 舒曼著名的大型声乐套曲。其中有16首歌曲。它是根据海涅的一首长诗改编的。它描写了一个诗人对真诚的爱情的向往以及失恋以后的痛苦。舒曼对这部作品的成功之处在于用音乐的手段着力挖掘诗歌的深刻感情，更细腻的表现原作的诗情画意，使套曲具有很深的感染力。在这首套曲中，钢琴和歌声更紧密的柔在一起，有时钢琴部分甚至超过歌唱部分，在许多歌曲的结尾部分，常用钢琴发展出新的乐思，使歌曲的意境更上一层楼。</p>
<h3>欣赏：套曲《妇人的爱情与生活》</h3>
<p>舒曼的声乐套曲。共有8首歌曲，夏米索作词。这部套曲以纯朴的旋律描绘了一个妇女一生中恋爱、结婚、亡夫的经历。音乐并不华丽，形式构造也很简单，但却充满了诗意。</p>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>舒曼艺术歌曲创作风格的特点是什么？</li>
<li>舒曼著名的声乐套曲是哪两部？叙事性歌曲代表作是哪首？</li>
</ol>
</div>

