---
layout: topic
title: "第七讲 德国、奥地利浪漫主义艺术歌曲；门德尔松，瓦格纳，勃拉姆斯，沃尔夫，马勒"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<h2>一、浪漫派作曲家门德尔松(Felix  Mendelssohn，1809 — 1847)</h2>
<p> 几乎所有的音乐家都有坎坷的生活经历，但门德尔松却是例外。门德尔松1809年出生于德国汉堡一个犹太富商之家。他的祖父是一位犹太富商，也是一伟大哲学家。他的父亲继承祖业，是一位银行家，同时又是一个颇有名望的作曲家。他的母亲是一位美丽而富有教养的犹太人，精通英、法、的多种语言，而且很有音乐才华。门德尔松从小就在一个富有而又充满音乐氛围的环境中长大。因而，在门德尔松的作品里，旋律优美、明朗、平稳而又富有理智，极少矛盾冲突，富于诗意幻想，反映出他生活的安定富足。</p>
<div class="appreclation">
<h3>欣赏：《乘着歌声的翅膀》 <a class="booklink" href="book.htm#169">教材第169页</a></h3>
<p> 这是1834年门德尔松的作品第36号的六首歌曲，其中的第二首歌。这是他独唱歌曲中流传最广的一首。歌词来自海涅的一首抒情诗。全曲以流畅的旋律和由分解和弦构成的柔美伴奏，生动的描绘了一幅温馨而又美丽动人的情景。</p>
</div>
<h2>二、德国伟大的作曲家和指挥家——瓦格纳(Richard Wagner 1813-1883)</h2>
<p>  瓦格纳出生于莱比锡一个小官吏之家。1831年入莱比锡大学学习作曲。二十岁时已写过几部管弦乐。而后在歌剧院当指挥。他创作的几部歌剧历经坎坷，最终成功。他写有大量的艺术歌曲、合唱曲，写有十一部歌剧。</p>
<h2>三、德奥古典乐派的最后代表——勃拉姆斯(Johannes Brahms 1833—1897)</h2>
<p>约翰内斯·勃拉姆斯1833年出生于德国汉堡一个音乐教师的家庭。父亲是汉堡歌剧团的低音提琴手，能演奏多种乐器，也是勃拉姆斯的启蒙老师。勃拉姆斯很小就去酒吧给人伴奏，到剧团帮忙。1853年20岁的勃拉姆斯到各地巡回演出，结识了舒曼。勃拉姆斯的演奏征服了舒曼，在舒曼的介绍下，勃拉姆斯的名字在德国音乐界广为传播。</p>
<p>19世纪后半叶，当德国古典艺术传统和民族民间音乐遭到威胁的时刻，勃拉姆斯在自己的创作中保持和发扬了民间音乐的传统，这是他对德国以及世界音乐文化的贡献。因此，他得以用古典传统的继承者的名义跻身于巴赫、贝多芬古典大师的行列，作为德国古典作曲家中的“最后一人”，在音乐文化发展史上享有特殊的地位，被后人称之为和巴赫、贝多芬齐名的“3B”(他们三人姓名的第一个字母均为B)。</p>
<div class="appreclation">
<h3>欣赏：《摇篮曲》 <a class="booklink" href="book.htm#166">教材第166页</a></h3>
<p> 作于1868年。它的诞生还有一段勃拉姆斯感人的爱情故事。这首歌的旋律简洁动听，具有浓郁的抒情色彩。在钢琴轻盈摇荡的音型背景下，平缓、安静的旋律轻飘而来，细腻的勾画出一幅慈母抚爱孩子安睡的动人图画。</p>
<h3>欣赏：《徒然小夜曲》</h3>
<p>这首歌的旋律接近德国莱茵河地区的民间舞曲音调。它轻快活泼，流畅动听。歌曲描绘了一对青年的风趣对话。虽然是对唱形式，但很少采用对唱，多是男声或女声的独唱。</p>
<p>歌词大意：</p>
<blockquote>
<p>(男)我最亲爱的，你晚安。</p>
<p>我怀着爱来这里，啊，请你快开门！</p>
<p>(女)我的大门关得很紧，不让你进来，母亲曾告诉我，</p>
<p>假如放你进来，那我就完了！</p>
<p>(男)外面深夜多寒冷，那冷风刺骨。</p>
<p>我的心已冻僵，我的爱将熄灭，放我进来吧！</p>
<p>(女)熄灭吧，你的爱情，让它熄灭吧！</p>
<p>让它永远熄灭，回家上床安息，明天见，朋友！</p>
</blockquote>
</div>
<h2>四、德国作曲家——沃尔夫(Hugo  Wolf 1860-1903)</h2>
<p>  1876年被维也纳音乐学院开除，理由是认定他伙同其他同学捉弄了老师，当时年仅十六岁。此后他发愤自学，分析、钻研了大量古典及浪漫派音乐家的名作，从中汲取了丰富的音乐创作知识，为后来的音乐创作奠定了牢固的基础。他主要创作艺术歌曲，曾先后为德国、西班牙、意大利诗人的诗谱写了200余首歌曲。旋律带有强烈的浪送行，伴奏具有很大的独立性，甚至与歌唱形成鲜明的对比，使歌曲具有独特的艺术表现力。</p>
<p>五、杰出的奥地利作曲家和指挥家——马勒(Gustav Mahler 1860-1911)</p>
<p> 马勒出生于波西米亚的一个犹太小商人家里。童年即显示音乐的天才，六岁参加钢琴比赛，八岁以能为别的孩子教课，十五岁进维也纳音乐学院学习作曲及指挥。毕业后在小型乐队任指挥。因指挥门德尔松的清唱剧大获成功，之后在布拉格、莱比锡、布达佩斯、维也纳等地的歌剧院任指挥，成为当代最伟大的指挥家之一。他写有十部交响曲、四部声乐套曲、一部清唱剧及歌曲。后旅居美国，成为大都会歌剧院和纽约爱乐乐团的指挥。</p>
<div class="appreclation">
<h3>欣赏：《谁想出这只小歌》</h3>
<p> 这是一首朴实的民谣，选自两位德国浪漫诗人的作品。音乐是以奥地利民间舞蹈作为基调。歌曲开始以明快的节奏，给人以轻松愉快、翩翩起舞的感受。中间部分展开了激情的说唱与笑闹。尤其巧妙的是马勒在歌声中运用了一段拖长的尾音，加强并发展了民谣风格，更加风趣的表达感情，使歌曲亲切、自然、朴实、欢畅。</p>
<p>歌词大意：</p>
<blockquote>
<p>在高高的山上一座高耸的房子里，那可爱的女孩正向外张望。</p>
<p>这里不是她的家！她是那店主的小女儿。她住在绿色的原野上！</p>
<p>我的心受了伤，来，宝贝，快医治我！</p>
<p>你黑色的小眼睛，它们使我受伤，你红色的嘴唇能使我的心健康，</p>
<p>能使年轻人明智，也能战胜死亡，使病人恢复健康。</p>
<p>有谁想出这只最美丽的小歌？</p>
<p>从水面上唱着游来三只苯鹅，两只灰色，一只白色。</p>
<p>你假若还不会唱这只小歌，它们就要为你吹出这只小歌啊！</p>
</blockquote>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>分别指出门德尔松、勃拉姆斯、瓦格纳、沃尔夫、马勒各属于浪漫主义时期哪个时间段的作曲家。其中哪两位既是作曲家又是指挥家。</li>
<li>门德尔松最著名的歌曲是哪首？学唱歌曲第一段并分析其主题、音型、乐句、乐段</li>
<li>“3B”是指哪三位作曲大师？学唱勃拉姆斯《摇篮曲》分析主题音型、乐句、乐段。</li>
</ol>
</div>

