---
layout: topic
title: "第八讲 法国、俄罗斯艺术歌曲；古诺，副列，格林卡，穆索尔斯基，柴可夫斯基，里姆斯基—柯萨科夫，拉赫马尼诺夫，阿利亚比耶夫"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<p>艺术歌曲作为声乐体裁的一个品种，是19世纪初浪漫主义音乐的产物。之后，俄国的“浪漫曲”和美国的“艺术歌曲”等,都是随着抒发个人感情体验为主旨的抒情诗的兴起而繁荣起来的,  也都被音乐学家认定为艺术歌曲。</p>
<h1>一、法国艺术歌曲</h1>
<h2>古诺(Charles  Gounod 1818—1893)</h2>
<p>生于巴黎，在巴黎音乐学院从师于阿列维。在罗马悉心研究宗教音乐，并反映在创作中。是梵蒂冈国歌《教皇进行曲》(1846)的作者。歌剧《浮士德》作于1859年，取材于古典名作，音乐朴实平易，配器丰富巧妙，是19世纪下半叶德国抒情歌剧的代表作。此外写有十余部歌剧  、三部交响乐及宗教歌曲等。</p>
<div class="appreclation">
<h3>欣赏：《圣母颂》</h3>
<p>“圣母颂”原是天主教徒对圣母玛利亚的赞美歌。它的歌词最早是由罗马教廷在1545年召开的会议上确定的。十九世纪以来，圣母颂的歌词已变得较为自由，除了必须含有赞颂圣母玛利亚的基本内容外，其他的清规戒律已被打破。因此，为它谱曲的音乐家日渐增多，所表达的思想感情在不同程度上具有世俗的成分，而不局限于宗教范围了。古诺与巴赫不是同时代人，但古诺以巴赫的钢琴曲为伴奏，又依据和声的提示，加上旋律而成的。这一谐美庄重而又深邃的旋律与巴赫恰成完美的默契。</p>
<p>歌词大意：</p>
<blockquote>
<p>阿玛利亚，你永恒的慈怀，培育了仁化，古往今来无比伟大。</p>
<p>为拯救无数世人脱离那罪恶，你把神子救世的主耶稣生下。</p>
<p>圣哉，阿玛利亚！请为我们祈祷，使我们免于罪罚。啊们！</p>
</blockquote>
</div>
<h2>副列(Gabriel  Faure 1845-1924)</h2>
<p>  生于法国阿列日省帕米耶地方。很小就对音乐产生了兴趣。八岁时就显示出足够的音乐天赋，因此父亲颂她到巴黎以所著名的音乐雪校学习。并获得全额奖学金。副列的教师之一就是圣-桑，并对副列的生活产生了重要的影响。19世纪60年代，它的主要作品是歌曲。他曾被称为“法国的舒伯特”，因为专家认为他的歌曲可以列为最伟大的音乐作品之中。副列是一位安静的作曲家，对他的评论“具有更多的浪漫主义风格”  、“自主性”，“抒情诗般的表达能力”  、“典型的法国高雅情趣” 。他的歌曲平静、温柔、纯净，在大约100首歌曲中，最著名的有《月光》、《梦后》、《幻境》、《摇篮曲》等。</p>
<div class="appreclation">
<h3>欣赏：《月光》</h3>
<p>  这首歌最能体现副列的创作特点——形式严谨，表现含蓄，充满诗意。歌中运用了三拍子的小步舞曲的节奏，描绘宁静而又充满活力的夜境。典雅、明晰的主旋律，首先在钢琴的前奏中出现。全去始终保持经快、流畅的速度。音乐描绘的是人们心灵中的月夜图，既欢快又略带忧伤，流畅的节奏暂时中断后，由4小节琶音点出了主题：恬静的月光，及美丽又忧伤，多么潇洒、飘逸、引人入梦乡！</p>
<p>歌词大意：</p>
<blockquote>
<p>你的心灵像一幅美丽的画，画中有一群带着假面具的男女，</p>
<p>在琴声中歌唱，在那假面具下隐约显出少许忧伤。</p>
<p>在月光下她们低声歌唱，唱着甜蜜的爱情和美好的时光。</p>
<p>他们不相信幸福能久长，月光下歌声交织多么悠扬！</p>
<p>宁静而忧伤的月光，多美丽，它将树上小鸟儿催入梦乡，</p>
<p>在那洁白的大理石下，银光闪闪的喷泉，尽情地高声歌唱！</p>
</blockquote>
</div>
<h1>二、俄罗斯艺术歌曲：</h1>
<h2>格林卡(Mikkhail  Ivanovitch Glinka 1804-1857)</h2>
<p>生于俄罗斯一个贵族家庭，在农村度过童年和少年时期，从小学习钢琴和小提琴，并喜爱当地民歌。1830年在意大利求学期间，仍不忘创作俄罗斯音乐。回国写成歌剧《伊凡  苏萨宁》和《鲁斯兰和柳德米拉》。由于他在俄国音乐史上的巨大作用，而被誉为“俄罗斯音乐之父”。他的作品有管弦乐曲、室内乐、钢琴曲和歌曲。</p>
<div class="appreclation">
<h3>欣赏：《北方的星》</h3>
<p>这是一首具有浓郁俄罗斯风味的抒情独唱曲。描写了一位纯朴的少女，对常年出门在外的未婚夫的怀念。全曲是在俄罗斯民间一首婚礼歌的基础上发展而成的。</p>
<p>歌词大意：</p>
<blockquote>
<p>一座高高的楼，里面房子紧相连。在其中有一间光线最明亮。</p>
<p>里面住着未婚妻，她比谁都可爱，好像北方的星，比群星更光辉。</p>
<p>她在痛苦里怀念远方人，她那一颗颗的泪珠，，滴落在她订婚的戒指上。</p>
<p>未婚夫出门去，到那遥远的地方，要等不少时光他才能回家乡。</p>
<p>等到春天来临，他就要回来了，快乐将随着太阳升起！</p>
</blockquote>
</div>
<h2>穆索尔斯基(Modest Petrovitch Mussotgsky 1839-1881)</h2>
<p>生于一个地主家庭。童年时期就表现出非凡的音乐天赋。他没进过音乐学校受正规的音乐教育，所以很多作品在开始时因其独特的手法而不为人所接受。他生活穷困潦倒，身体不好。在这样的环境中，他创作了不朽的名作，歌剧、管弦乐、钢琴组曲等。尤其是他创作了大量的歌曲，内容广泛，刻划精细，如《跳蚤之歌》、《可爱的萨维什娜》等，都是久唱不衰的佳作。</p>
<div class="appreclation">
<h3>欣赏：《跳蚤之歌》</h3>
<p>德国诗人歌德的诗剧《浮士德》第一部第五场的《跳蚤之歌》，是一首运用譬喻手法的讽刺歌曲。这是魔鬼梅菲斯特和一群快活的朋友们在小酒店里饮酒的时候唱的。歌德以畜养跳蚤来讽刺皇帝的昏聩腐朽，以跳蚤比做宰相来嘲笑当朝官宦的庸碌无能。德国作曲家贝多芬、李拉，法国作曲家柏辽兹和俄国作曲家穆索尔斯基都曾为这首诗谱过曲，但表现手法各不相同。柏辽兹的戏剧故事《浮士德的劫罚》第二部分的《跳蚤之歌》，是按歌谣的风格写作的，旋律刚健有力，伴奏中贯穿着跌宕的节奏。三段歌词唱同一个曲调，但伴奏每次都有变化。</p>
<p>穆索尔斯基的《跳蚤之歌》不是分节歌，而是通谱歌。每段歌词的中间和末尾都用带有旋律性质的、嘲弄、轻蔑的笑声来加强讽刺的效果。第一段歌词的曲调是叙述性的，接近于朗诵调。第二段描写跳蚤穿上锦衣绣袍，佩着勋章和金星，当上了大臣。音乐模拟威严的颂歌，表现出一种耀武扬威、不可一世的气概。但随之而来的笑声，揭穿了这不过是狐假虎威、装腔作势。第三段把前两段的旋律综合起来，最后以胜利者的爽朗的笑声结束全曲。穆索尔斯基的这首歌曲把语言的抑扬顿挫，淋漓尽致的表达了出来。音乐和歌词结合紧密，形象的刻画细致，对当时的沙皇统治给予了尖刻讽刺。</p>
<p>歌词大意：</p>
<blockquote>
<p>从前有一个国王，他养了一只大跳蚤，国王待他很周到，比亲人还要好。</p>
<p>哈哈！跳蚤？</p>
<p>国王召来一个裁缝：“你听我说，奴才！给我的这位朋友，缝一件大龙袍！”</p>
<p>跳蚤的龙袍？哈哈！跳蚤？哈哈！龙袍？</p>
<p>.</p>
<p>跳蚤穿上了大龙袍，浑身金光闪耀，宫廷内外上下跳，得意忘形瞎胡闹。</p>
<p>哈哈！跳蚤！</p>
<p>国王封它当宰相，还给他挂勋章。跳蚤的亲友来到，一个个都沾了光。</p>
<p>哈哈！</p>
<p>那皇后、妃子、宫女，还有文武百官，被咬得浑身痛痒，人人都受不了。</p>
<p>哈哈！</p>
<p>但没有人敢碰它，更不敢动手打。要是它敢咬我们，就一下子捏死它！</p>
<p>哈哈哈哈！</p>
</blockquote>
</div>
<h2>柴可夫斯基(Peter  Ilitch Tchaikovsky 1840-1893)</h2>
<p>生于贵族家庭，十岁开始学习钢琴和作曲。1862年如彼得堡音乐学院学习作曲，毕业后赴莫斯科音乐学院任教。他在音乐的各种体裁上都大显身手，创作出及其优秀的作品。歌剧《奥涅金》、《黑桃皇后》，舞剧《天鹅湖》、《胡桃夹子》、《睡美人》和交响曲、钢琴协奏曲、小提琴协奏曲等。曾被英国剑桥大学授予他名誉博士学位。</p>
<div class="appreclation">
<h3>欣赏：《我好比生长在田野里的小草》</h3>
<p>19世纪的俄国处在沙皇统治下，人民生活痛苦。而妇女被压在社会最底层。这首歌形象的把弱小的俄国农村妇女比作田野里的一棵小草，任人宰割，在毒日下被晒焦。歌曲极富俄罗斯风格，朴素的旋律十分接近民歌，亲切而感人。结尾旋律激昂向上，大声的呼喊出了妇女心中的愤怒，悲壮之至，感人肺腑。</p>
<p>歌词大意：</p>
<blockquote>
<p>我好比生长在田野里的小草，我被人割掉，太阳的烈火把我烧焦。</p>
<p>啊，我的心里是多么难过！这难道就是我的命运？</p>
<p>我好比生长在田野里的红莓花，我被人折断，用那麦草把我捆起来！</p>
<p>啊，我的心里是多么难过！这难道就是我的命运？</p>
<p>难道在父亲跟前我不是个姑娘，难道在母亲跟前我不是朵鲜花！</p>
<p>但违背我的愿望啊！我嫁给一个最不幸的人家，我丈夫长满灰白的头发。</p>
<p>啊，我的心里是多么难过！这难道就是我的命运？！</p>
</blockquote>
</div>
<h2>里姆斯基—柯萨科夫(Nicolas  Andreivitch Rimsky-Korsakoff 1844-1908)</h2>
<p>出生于一个贵族家庭，从小受到家庭音乐气氛的熏陶。1856年，认识了巴拉基列夫，进行音乐创作，成了强力集团的主要成员。1871年，被彼得堡音乐学院聘为教授。作品有歌剧、交响乐等。</p>
<div class="appreclation">
<h3>欣赏：《印度客人之歌》</h3>
</div>
<h2>拉赫马尼诺夫(Sergei  Vassilievitch Rachmaninoff 1873-1943)</h2>
<p>出生于俄国奥尼加。就学于莫斯科音乐学院。创作中有深厚的民族音乐基础，旋律丰富，擅长史诗式壮阔的音乐风格。作品有交响乐、钢琴协奏曲、歌剧等。1918年经瑞典定居美国。他是二十世纪上半叶重要的钢琴演奏家和作曲家。</p>
<div class="appreclation">
<h3>欣赏：《春潮》</h3>
<p>  对于这部作品人们从来就有这样的看法：它不是一首通常的抒情写景之作，而是1905年资产阶级民主革命到来前，俄罗斯激动、高涨的社会情绪的生动反映。音乐从一开始就通过音响造型的手法，把春潮冲腾、喧嚣的形象在钢琴上有声有色的显现出来。滚滚翻卷的音流衬托着奔放有力的歌声，咏唱了春潮不可遏止的活力。</p>
<p>歌词大意：</p>
<blockquote>
<p>大地还铺满白雪，那春潮已经在喧嚣，</p>
<p>潮水冲向沉睡的海岸，它奔腾呼啸闪银光。</p>
<p>它向宇宙大声宣告：</p>
<p>春天来了！我们是春天的信使，为春天的降临传捷报。</p>
<p>春天来了，春暖花开的时节，到处是轻盈的歌舞。</p>
<p>啊，春天带来了欢笑。</p>
</blockquote>
</div>
<h2>阿利亚比耶夫(1787-1851)</h2>
<p>生于西伯利亚西部。组又表现出很高的音乐才能，第一部作品是弦乐四重奏，之后又写部了歌剧。同时创作了著名的《夜莺》。阿利亚比耶夫共谱写了170多首歌曲，歌词广泛选用了文学家及诗人的作品。</p>
<div class="appreclation">
<h3>欣赏：《夜莺》</h3>
<p>作曲家采用杰尔维格的诗谱写的歌曲。在这首歌中用了俄罗斯城市浪漫曲的音调，旋律婉转，好似夜莺的鸣声。歌曲吸引了千万人的心，成为世界上雅俗共赏的歌曲。</p>
<p>歌词大意：</p>
<blockquote>
<p>我的夜莺小夜莺，歌声嘹亮的小夜莺！</p>
<p>你向哪儿飞翔？整夜你在哪儿歌唱？啊，整夜歌唱。</p>
</blockquote>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>法国著名的艺术歌曲创作大师有哪两位？说出一至两首歌曲作品。</li>
<li>分别说出歌曲《春潮》、《跳蚤之歌》、《夜莺》的曲作家姓名。</li>
<li>被称之为《俄罗斯音乐之父》的作曲家是哪位？</li>
</ol>
</div>

