---
layout: topic
title: "第九讲 其他国家艺术歌曲；格里格，德沃夏克，福斯特"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<h2>格里格(Edvard  Grieg 1843-1907 挪威)</h2>
<p>挪威最杰出的作曲家。生于卑尔根。他从母亲方面继承了音乐的天赋。十五岁时去莱比锡音乐学院学习。后从事研究挪威民间音乐的工作。创办了挪威音乐学校，并根据挪威诗词创作了具有独特风格的抒情歌曲，同时将收集到的大量民间歌曲加以整理和改变。他能巧妙地将主题用古典结构形式和现实的传统音调紧密的结合在一起。在他的创作中，会毫不犹豫突破一些清规戒律，创作出了优秀的作品，使他成为当时作曲家的佼佼者。挪威人民十分敬爱这位作曲家，死后还举行了国葬。</p>
<div class="appreclation">
<h3>欣赏：《索尔维格之歌》</h3>
<p>歌曲是剧作家易卜生的幻想诗剧《皮尔 金特》的一首独唱曲。诗剧取材于挪威民间传说。青年农民皮尔  金特生活放荡不羁，为寻求财富，离开家乡，离开母亲和未婚妻——索尔维格，冒险与世界各地，最终被骗穷困潦倒，返回家乡。</p>
<p>纯洁、温柔的索尔维格对爱情忠贞不渝，她在林间茅屋一边纺纱一边唱出这首优美动人、哀怨而悠长并充满对爱情美好憧憬的抒情歌曲，等待着别离多年的皮尔·金特的归来。</p>
<p>歌词大意：</p>
<blockquote>
<p>冬天早过去，春天不再回来，</p>
<p>夏天也要消逝，一年一年地等待。</p>
<p>我始终深信你一定能回来。</p>
<p>我曾经答应你，我要忠诚地等待你回来。</p>
<p>假如你现在还活在人间，愿上帝保佑你。</p>
<p>当你跪在上帝的面前，愿上帝祝福你。</p>
<p>我要忠诚地等待你回来。</p>
<p>你若已升天堂，就在天上相见。</p>
</blockquote>
</div>
<h2>德沃夏克(Antonin Dvorak 1841-1904 捷克)</h2>
<p>生于一个小旅馆主和肉商的家庭。十六岁时进布拉格风琴学校学习，后在布拉格国家剧院乐队拉中提琴，并开始创作。后任布拉格音乐学院作曲教授。同年，英国剑桥大学授予他荣誉音乐博士学位。1892年被邀请任纽约国家音乐学院院长。他的室内乐、交响乐、歌剧和歌曲都是人们喜爱的作品。德沃夏克一生从未间断歌曲创作，其作品富于浓郁、深厚的乡土气息，旋律清新、优美。</p>
<div class="appreclation">
<h3>欣赏：《母亲叫我的歌》</h3>
<p>  歌曲创作与1880年。歌词选自波西米亚诗人的抒情诗集。诗集表现了生活在波西米亚的茨冈人生活中的欢乐、哀愁、纯朴的、真诚的思想感情和酷爱自由、豪放不羁的性格。此歌是其中最著名的一首歌曲。它是一首歌谣体裁的变化分节歌。乐曲简练，旋律流畅、优美、朴实。</p>
<p>歌词大意：</p>
<blockquote>
<p>当我幼年的时候，母亲教我歌唱，</p>
<p>在她慈爱的眼里，隐约闪着泪光。</p>
<p>如今我教我的孩子们，唱这首难忘的歌曲，</p>
<p>我的辛酸的眼泪，滴滴流在我这憔悴的脸上。</p>
</blockquote>
</div>
<h2>福斯特(美国  Stephen Collins Foster 1826-1864)</h2>
<p> 美国作曲家福斯特生于宾夕法尼亚的匹兹堡。他以歌曲创作为主、自学而成的作曲家。一生创作歌曲200多首。作品结构简单，节奏平稳，音域不宽，材料精炼，音调吸收源自古非洲文化及欧洲赞美歌的黑人民歌养料。音乐中透露着他孤身异地生活的切身感受。其中许多首歌曲思想性和艺术性非常优秀，如《故乡的亲人》、《老黑奴》等。美国人民曾于1937年在其家乡匹茨堡建造了一座“福斯特纪念馆”，并骄傲的称他为“美国歌曲之王”。</p>
<div class="appreclation">
<h3>欣赏：《美丽的梦神》 <a class="booklink" href="book.htm#157">教材第157页</a></h3>
<p>  此歌是福斯特去世前不久创作的一首抒情歌曲，流传很广，深受我国人民的喜爱。它的旋律流畅、优美，感情真挚。歌曲为带再现的单二部曲式结构。第一部分的音乐平稳连贯，第二部分音乐的流动性增强，旋律起伏、流畅。</p>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>分别说出作曲家格利格、德沃夏克、福斯特的国籍，并说出一至两首歌曲作品。</li>
<li>学唱《美丽的梦神》并分析旋律主题、乐句、乐段。</li>
</ol>
</div>

