---
layout: topic
title: "第十讲 “五四”时期新音乐的中国艺术歌曲；黄自"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<h2>中国古代艺术歌曲</h2>
<p>我国古代很重视唱歌，并认为“丝不如竹，竹不如肉”，意思是说，任何乐器的演奏也比不上歌唱的动听。当时对一些卓越声乐家的歌唱就有“响遏行云”、“绕梁三日”的美誉；世界上其他民族声乐的产生也都很早。</p>
<p>中国古代歌曲中的诗歌是韵文，旋律是有韵律的音乐，两者密不可分，唐诗中结合音乐歌唱的作品，如李白的《清平调》，王之涣的《出塞》、王维的《渭城曲》，在后世均有追记的曲谱可寻。从宋代到清末，一向被统治阶级所重视的雅乐曲由鼎盛蜕变到解体；而民间的俗乐由于人民的创造和历代艺术财富的繁衍变化，声乐品种显得更加多样，并取得不少新的成就。宋代的柳永、苏轼、李清照、陆游、姜白石等都是卓越的词人。他们的一些作品，后来有曲谱存世，其中尤以姜白石的《扬州慢》、《杏花无影》等附有俗字乐谱的歌曲，最为珍贵，是研究800年前古代艺术歌曲的重要资料。</p>
<div class="appreclation">
<h3>欣赏：古曲《满江红》</h3>
<h3>欣赏：《长相知》 <a class="booklink" href="book.htm#55">教材第55页</a></h3>
</div>
<p>中国的艺术歌曲在德奥艺术歌曲的影响下，也是经历了逐步发展的过程。在二、三是年代一批优秀的音乐家在发展其他音乐艺术的同时创作了大量的艺术歌曲。他们的作品充分显示了德奥艺术歌曲的风格，典雅抒情，优美流畅，又融进了中国的特色，为后人所珍藏。他们流传至今，一直是音乐会演唱的曲目。下面介绍的是中国的艺术歌曲大师及他们的作品。</p>
<h2>“中国艺术歌曲的代表”黄自</h2>
<p>黄自先生(1904—1938)出生于上海川沙县。毕业于清华大学，1924年赴美国留学。曾在美国欧柏林学院攻读心理学，兼学音乐，获得文学学士。后转入耶鲁大学音乐学校专攻理论作曲，获音乐学士学位。1929年回国，先后担任上海沪江大学音乐系教授、国立音专教务主任理论作曲教授。他在介绍欧洲近代音乐理论、培养专业作曲人才等方面，起了重要的作用，并写下了交响音乐、室内乐、钢琴复调音乐和清唱剧等各种体裁的音乐作品。“九一八”事变后，他创作了具有爱国思想的声乐作品，如合唱曲《抗敌歌》、《旗正飘飘》；独唱曲《九一八》、《睡狮》、《热血歌》等。他在热心音乐教育事业，培养专业人才和从事创作中逐步形成了自己的音乐创作风格。在歌曲创作方面，他以浪漫主义时期艺术歌曲的创作手段为基础，结合中国民族音乐的风格，写出了中国的艺术歌曲作品，并成为中国艺术歌曲的开拓者之一。在当时，从事艺术歌曲创作的作曲家还有肖友梅、青主和赵元任等。但是，无论从数量上，还是创作风格上，黄自先生的作品都堪称是一代中国艺术歌曲的典范。</p>
<h3>创作风格</h3>
<p> 黄自先生的艺术歌曲的歌词寓意深刻，韵律优美。黄自的艺术歌曲虽然继承了德奥艺术歌曲创作技法，但在他的歌曲作品中，歌词多是采用中国古代或现代诗人著名诗词，所以他的声乐作品是传统中国文化背景下的文人语言和中国风格的，因而在他的声乐作品中多了中国东方民族的委婉、细腻、深沉、含蓄的一面。在黄自的不少艺术歌曲作品中，语言与音乐结合的运用，比之德奥艺术歌曲更带有中国古代诗人吟诵的风格，更具中国特色，与诗的韵律相得益彰。因而，演唱黄先生的作品时，在美声唱法的基础上，必须根据歌词的含义和诗的韵律，加上中国古诗的吟诵风格。这种唱与诵的结合形成了黄先生艺术歌曲的典型风格。</p>
<div class="appreclation">
<h3>欣赏：合唱《抗敌歌》</h3>
<p>作于1931年。这是中国第一首以抗日救亡为题材的混声合唱。“九一八”事变发生后两个月，黄自和上海国立音专爱国师生为东北义勇军募捐，作词并谱写了这首我国最早以抗日救亡为题材的合唱作品。歌曲表现了鲜明的爱国主义精神，表现了不可遏止的民族义愤，具有强烈的艺术感染力。</p>
<p>歌词大意：</p>
<blockquote>
<p>中华锦绣江山谁是主人翁？我们四万万同胞。</p>
<p>俘虏入寇逞凶暴，快一致，永久抵抗将仇抱。</p>
<p>家可破，国须保，身可杀，志不饶。</p>
<p>一心一意团结牢，努力杀敌誓不饶！</p>
<p>中华锦绣江山谁是主人翁？我们四万万同胞。</p>
<p>文化疆土被焚焦，须奋起，大众合力将国保。</p>
<p>血正沸，气正豪。仇不抱，恨不消。</p>
<p>群策群力团结牢，；拚将头颅为国抛！</p>
</blockquote>
<h3>欣赏：合唱《旗正飘飘》</h3>
<p>作于1932年。这是黄自集《抗敌歌》后又一首爱国合唱歌曲。。歌曲表现了作曲家更为炽烈深沉的爱国激情。进行曲风格的主部将场景的描绘和心情的刻划融为一体，音调激昂慷慨，节奏铿锵有力，但采用小调式，使音乐显得苍劲，犹如一曲悲壮的出征歌。</p>
<p>歌词大意：</p>
<blockquote>
<p>旗正飘飘，马正萧萧，抢在肩，刀在腰，</p>
<p>热血似狂潮。好男儿抱国在今朝。</p>
<p>快奋起，莫作老病夫，快团结，莫贻散沙嘲。</p>
<p>国亡家破，祸在眉梢，要生存，须把头颅抛。</p>
<p>戴天仇怎不抱？不杀敌人恨不消。</p>
<p>旗正飘飘，马正萧萧，抢在肩，刀在腰，</p>
<p>热血似狂潮。好男儿抱国在今朝。</p>
</blockquote>
<h3>欣赏：清唱剧《长恨歌》</h3>
<p>韦瀚章词 黄自曲</p>
<p>作于1932年夏秋，是我国第一部清唱剧。它取材于白居易的同名长诗，并选用其中的诗句作为各乐章的标题。它是黄自回国以后的第一部大型作品，也是他短暂一生中留下的规模最大的一部声乐作品。原计划有十个乐章，但属于独唱部分的第四、七、九三个乐章因故未及完成。虽属未完成作品，但已包括了白居易原作的主要内容和场面，不失其情节的连贯与结构的完整性。</p>
<blockquote>
<p>第一乐章 混声合唱 《仙乐风飘处处闻》</p>
<p>骊宫高处入青云，歌一曲月府法音，霓裳仙韵；舞一番羽衣回雪，红袖翻云。宛似菡萏迎风，杨枝招展，飘飘，飘飘，欲去却回身。更玉管冰弦嘹亮，问人间那得几回闻？</p>
<p>第二乐章 女声三部合唱和男中音、女高音的重唱 《七月七日长生殿》</p>
<p>风入梧桐叶有声，银汉秋光净。年年天上留嘉会，羡煞双星！</p>
<p>“只恨人间恩爱总难凭，如今专宠多荣幸！怕红颜老去，却似秋风团扇冷。”</p>
<p>“仙偶纵长生，那似尘缘胜！问他一年一度一相逢，争似朝朝暮暮我和卿！”</p>
<p>举手对双星，海誓山盟：“在天愿作比翼鸟，在地愿为连理枝。</p>
<p>两家恰似形和影，世世生生。”</p>
<p>第三乐章 男声四部合唱 《渔阳鼙鼓动地来》</p>
<p>渔阳鼓，起边关，西望长安犯。六宫粉黛，舞袖正翩翩，怎料到边臣反，那管他社稷残。</p>
<p>只爱美人醇酒，不爱江山。兵威惊震哥舒翰，举手破潼关，遥望满城烽火，指日下长安。</p>
<p>第五乐章 男声合唱 《六军不发无奈何》</p>
<p>仆仆征途苦，遥遥蜀道长，可恨的杨贵妃，可杀的杨丞相。</p>
<p>怨君没个主张，堕落了温柔乡，好生生把山河让，乱纷纷家破人亡。</p>
<p>第六乐章 女高音独唱 《宛转峨眉马前死》</p>
<p>从来好事易摧残，只怨缘慳！回肠欲断情难断，珠泪虽干血未干。</p>
<p>劝君主，凄凉莫为红颜叹，珍重江山！两情长久终相见，天上人间。</p>
<p>第八乐章 女声三部合唱 《山在虚无缥缈间》</p>
<p>香雾迷蒙，祥云掩拥，蓬莱仙岛清虚洞，琼花玉树露华浓。</p>
<p>却笑他，红尘碧海，几许恩爱，多少痴情种？</p>
<p>离合悲欢，枉作相思梦，参不透镜花水月，毕竟总成空。</p>
<p>第十乐章 混声合唱与男中音独唱 《此恨绵绵无绝期》</p>
<p>凄凄秋雨洒梧桐，寂寞骊宫，荒凉南内玉阶空，惨绿愁红。</p>
<p>“悠悠生死别经年，魂魄不曾来入梦，如今怕听淋铃曲，只一声，愁万种。”</p>
<p>思重重，念重重，旧欢新恨如潮涌。碧落黄泉无消息，人间天上再也难相逢</p>
</blockquote>
<h3>欣赏：独唱《花非花》(男低音) <a class="booklink" href="book.htm#51">教材第51页</a></h3>
<p>选自白居易的词。是黄自艺术歌曲中影响最广的一首歌。它虽短小，却意境超脱，婉转优美，它的行板速度增强了词意的幻觉和意象感。</p>
<h3>欣赏：独唱《玫瑰三愿》(女高音)</h3>
<p>这首歌意境深邃，典雅精致。歌词借助玫瑰花拟人化的语言，深切的表达了一种渴望爱情的心境。整曲分两段，前段叙诉型的，旋律平缓，后段流畅舒展，大跳音型显示对爱情的向往。这首歌多为女高音演唱曲目。</p>
<p>歌词大意：</p>
<blockquote>
<p>玫瑰花，烂开在碧栏杆下。</p>
<p>我愿那妒我的无情风雨莫吹打，</p>
<p>我愿那爱我的多情游客莫攀摘</p>
<p>我愿那红颜常好莫凋谢，好教我留住芳华。</p>
</blockquote>
<h3>欣赏：独唱《点绛唇 赋登楼》(男低音)</h3>
<p>王灼南宋音乐家，精通诗词音律。此歌词笔调洗练，形象鲜明，其内容所表现的是作者借暮春大自然景象的描绘，表达一种依恋不舍，愿春常住的情怀。黄自以优美流畅、富于民族气质的旋律与和声风格，把这首古典传统的诗作润饰得更加深切动人。黄自在配以旋律时把握住了词的韵律格式，即按平仄与押韵规律与词的分句格局来安排乐曲的乐句。采用两段重叠手法。充分表达了作者内心对大自然的赞美与激情。</p>
<p>歌词大意：</p>
<blockquote>
<p>休惜余春！试来把酒留春住，问春无语，帘卷西山雨。</p>
<p>一掬愁心，强欲登高赋。山无数，烟波无数，不放春归去。</p>
</blockquote>
<h3>欣赏：独唱《春思曲》(女高音)</h3>
<p>韦瀚章词</p> <p>歌词描写一少妇，缱绻秀楼，无心梳妆，盼夫心切的情景。钢琴伴奏连续不断的和旋反复，犹如滴滴春雨顺檐而下，又如颗颗泪珠沿颊而落。旋律中的转调处理恰到好处的借景抒发了少妇对爱情的坚贞不渝和对丈夫的思念之情。</p>
<p>歌词大意：</p>
<blockquote>
<p>潇潇夜雨滴阶前，寒衾孤枕未成眠。</p>
<p>今朝揽镜应是梨涡浅，缕云慵掠，懒贴花钿。</p>
<p>小楼独倚，怕睹陌头杨柳，分色上帘边。</p>
<p>更妒煞无知双燕，吱吱语过画栏前。</p>
<p>忆个郎远别已经年，恨只恨不化成杜宇，唤他快整归鞭。</p>
</blockquote>
<h3>欣赏：独唱《思乡》 (男高音)</h3>
<p>此曲和《春思曲》有相同之处。描写一少女思念情人的心情。旋律中运用了离调及和旋同音反复，以渲染思情之切。</p>
<p>歌词大意：</p>
<blockquote>
<p>柳丝系绿，清明才过了，独自个凭栏无语。</p>
<p>更那堪墙外鹃啼，一声声道：“不如归去！”</p>
<p>惹起了万种闲情，满怀别绪，问落花：“随渺渺微波是否向南流？”</p>
<p>我愿与他同去。</p>
</blockquote>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>简要地叙述黄自先生的简历。</li>
<li>作为中国第一首以抗日为题材的混声合唱曲是哪首？</li>
<li>中国第一部大型声乐作品是哪部？</li>
<li>说出黄自先生部分艺术歌曲作品名称。</li>
<li>学唱《花非花》并分析主题、乐句、乐段及演唱风格。</li>
</ol>
</div>

