---
layout: topic
title: "第十一讲 中国艺术歌曲著名作曲家及其作品；肖有梅，赵元任，青主，刘雪庵"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<h2>肖有梅(1884—1940)</h2>
<p>广东香山人。早年在日本、德国学习音乐。1920年回国，先在北京主持过女子高等师范学校和北京大学音乐传习所。1927年到上海创办国立音专。毕生从事音乐高等教育，为中国现代专业音乐教育事业做出了很大的贡献。他作有100余首歌曲。出版了《今乐初集》和《新歌初集》。肖友梅是我国现代音乐教育的先驱，他把毕生的经历献给了教育事业。为纪念他不朽的功绩，1982年上海音乐学院校庆活动中，隆重举行了肖友梅铜像落成仪式。</p>
<div class="appreclation">
<h3>欣赏：《问》</h3>
<p>这是肖有梅《今乐初集》中的影响最大的一首艺术歌曲。歌词向人们提出了意味深长的人生问题。旋律潇洒含蓄，从容不迫，耐人寻味。</p>
<p>歌词大意：</p>
<blockquote>
<p>你知道你是谁？你知道华年如水？</p>
<p>你知道秋声添得几分憔悴！垂，垂！</p>
<p>你知道今日的江山有多少凄惶的泪？</p>
<p>你想想啊，对，对，对。</p>
<p>你知道你是谁？你知道人生如蕊？</p>
<p>你知道秋花开得为何沉醉？吹，吹！</p>
<p>你知道尘世的波澜有几种温良的类？</p>
<p>你讲讲啊，脆，脆，脆。</p>
</blockquote>
</div>
<h2>赵元任(1892—1982)</h2>
<p>天津人。从小兴趣广泛，求知欲强，热爱科学，喜好运动。他不仅是音乐家，而且是语言学家。他创作的艺术歌曲要求个性解放是重要主题，也是他创作中最成功的一面。</p>
<div class="appreclation">
<h3>欣赏：《教我如何不想他》 <a class="booklink" href="book.htm#56">教材第56页</a></h3>
<p> 刘半农作词、赵元任作于1926年的《教我如何不想他》，此曲堪称艺术歌曲精品。歌曲所表达的感情，对特定情景作了细致周到的特殊处理，歌中分四个段落描写了四种境界，第一种境界是“天上飘着些微云，地上吹着些微风。啊!微风吹动了我头发”；第二种境界是“月光恋爱着海洋，海洋恋爱着月光。啊!这般蜜也似的银夜”；第三种境界是“水面落花慢慢流，水底鱼儿慢慢游。啊!燕子你说些什么话？”；第四种境界是“枯树在冷风里摇，野火在暮色中烧。啊，西天还有些儿残霞。”每一种境界所谱旋律和伴奏都随着调性和调式的发展而渲染着感情色彩的变化，这些变化主要表现在“声”  “情”二者之中，而又以表“情”为主。尤其是四句“教我如何不想他”，分别出现在E—B—G—E各调上，即使像第四段的“教我如何不想他”已经回到了E大调，唱的也不是第一段的旋律，而是把第一段的低音区移到了高音区，表现了感情的升华。这是一首典型的触景生情、情景交融的抒情歌曲。曾有人请教过赵元任：“可否理解为一首爱情歌曲？”回答是：“也可以这样看；但“他”字可以是男的“他”、女的“她”、代表着一切心爱的他、她、它。这是因为，歌词是刘半农当年在美国写的，有思念祖国和念旧之意。”正如赵元任先生在《新诗歌集·序》中所写的那样：“旧诗词的句子有比较的整齐一点的格式，可以用一个总调临机应变的吟叹，新诗对于内容跟句式的个性两者都注重，所以新诗的读法是要把每首都给它durchkomponieren  通谱起来，是要唱的，不是吟的。”因此，他的《新诗歌集》里的14首歌曲都采用了通谱歌的写法，即每段歌词都谱成不同的音乐，以便音乐更好地和歌词的声调相吻合。</p>
<p>歌词采用刘半农的以韵节谐美著称的原诗，歌曲主调在五声音阶的基础上，采用京剧西皮原板过门的音调，民族风味格外鲜明突出。在加上调性布局处理颇为大胆新颖，具有独到之处。</p>
</div>
<h2>青主(1893—1959)</h2>
<p>广东惠阳人。1912年赴德国学习军事，后改学法律，业余学习钢琴和作曲。回国后，在上海国立音专任教。主要是编辑音乐刊物，撰写音乐论著。同时创作艺术歌曲。</p>
<div class="appreclation">
<h3>欣赏：《大江东去》 <a class="booklink" href="book.htm#54">教材第54页</a></h3>
<p>此曲歌词是北宋诗人苏轼根据民间小调《念奴娇》填写的词。青主以大小调的转换，口语性和歌唱性的交替出现等艺术手法，生动丰富地表现了歌词的意境。全曲既有人生的悲叹，又体现着健康昂扬的气质。旋律随着情绪的波动跌宕起伏，钢琴伴奏如泣如诉，与旋律密切相连。此曲多是音乐会男中音演唱的曲目。</p>
<h3>欣赏：《我住长江头》 <a class="booklink" href="book.htm#52">教材第52页</a></h3>
<p>  这是一首具有民歌风格的，结构严谨的中国艺术歌曲经典之作。歌词取自宋代词人李之仪的词“卜算子”。曲作者青主早年曾投身于孙中山领导的民主革命，大革命失败后，他寄情于古诗词，表达内心对战友的哀思。歌曲节奏平稳，旋律起伏不大，给人以单纯、自然、纯朴的美感。节拍选用了多拍子，节奏型几乎没有变化。琶音式的伴奏音型如滚滚江水连绵不断，奔腾向前。演唱这首歌时音量适中，音色丰满圆润，上下音区的走动连贯自如，以表现歌曲既抒情又激越的丰富的感情意蕴。此歌的感情是深沉的，带有悲壮感，不是单纯的情歌，所以演唱时声音要结实而不松散。其次，要注意吐字咬字，在柔里带刚中突出语气与情感重音，表达出缠绵不绝的思念之情以及企盼的愿望。</p>
</div>
<h2>刘雪庵(1905—1985)</h2>
<p>四川铜梁人。早年在成都美术专科学校学过钢琴、小提琴。1930年在上海国立音专跟肖有梅、黄自学习作曲。他曾在华东师范大学、北京师范学院、中国音乐学院任音乐教授。音乐作品有钢琴曲和歌曲。</p>
<div class="appreclation">
<h3>欣赏：《红豆词》 <a class="booklink" href="book.htm#51">教材第51页</a></h3>
<p>歌词出自曹雪芹名著《红楼梦》里的词。旋律由平缓逐渐走向急切，把少女借红豆表现的相思之情表达得万分贴切。</p>
<h3>欣赏：《长城谣》 <a class="booklink" href="book.htm#60">教材第60页</a></h3>
<p>原本是电影“关山万里”插曲，因“八一三”日本进攻上海，电影没拍成，歌曲却留了下来，并成为抗日战争时期风行全国的爱国抗战歌曲。这首歌曾由著名歌唱家周小燕演唱，并在新加坡被灌制成唱片。该曲结构简炼，感情真挚深切，音乐苍凉悲壮，充满激情。它的节奏单纯，音域不宽，旋律起伏不大，演唱时雄壮中带着抒情。</p>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>说出中国“五四”时期部分著名作曲家姓名。</li>
<li>赵元任不仅是音乐家，还被称为什么？学唱《教我如何不想他》主题乐段。</li>
<li>说说《我住长江头》伴奏音型的音乐表现及演唱风格的体现。</li>
<li>《长城谣》曲作者是谁？曾被哪位著名歌唱家演唱？学唱《长城谣》。</li>
</ol>
</div>

