---
layout: topic
title: "第十二讲 中国民歌；王洛宾，丁善德，黎英海，瞿希贤"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<p>随着历史的发展，事实上艺术歌曲的含义早已超过了德奥歌曲的范畴，世界各民族、各地区的音乐创作迅猛发展。在德奥艺术歌曲的基础上，音乐家更注重民族音乐的特色，注重时代的脉搏。历史的变化，民族的强大，音乐的发展，今天的歌曲创作已经是繁花似锦的时代了。艺术歌曲今天的解释可以有另一种说法，那就是从广泛的意义上来说，艺术歌曲应该是一种具有自身特点的音乐形式。当然，如果称之为艺术歌曲，它必须应该具备一定的艺术性。因而，在革命歌曲，民间歌曲，群众歌曲的基础上，作曲家们融入了艺术歌曲的创作技法，虽然大部分的艺术歌曲还是以独唱形式来表现，但是，歌曲的题材和体裁不断扩大，形式也开始多样化。</p>
<h1>改编型的民歌风格艺术歌曲</h1>
<h2>“民歌之王”  王洛宾</h2>
<p> 在中国被誉为“民歌之王”的王洛宾，曾入青海等地收集了大量的民歌，如《在那遥远的地方》、《半个月亮爬上来》、《玛依拉》、《在那银色月光下》、《掀起你的盖头来》等等。在这些原始民歌的基础上，然后经过了作曲家的改编和编配钢琴伴奏，然后成为脍炙人口的艺术歌曲。</p>
<h2>丁善德(1911-1995)</h2>
<p>江苏昆山人。1928年入上海国立音乐学院钢琴系，并师从黄自学习作曲。1947年赴法国巴黎音乐学院学习作曲。1949年回国后，长期在上海音乐学院执教，历任副院长兼作曲系主任。他的主要作品有交响乐、大合唱、钢琴独奏曲与歌曲。他为许多民歌编配钢琴伴奏。</p>
<div class="appreclation">
<h3>欣赏：《玛依拉》 (新疆民歌)</h3>
<p>经丁善德的钢琴编配，增强了艺术性。歌曲通过钢琴伴奏那快速不断的和弦同音反复，表现了马蹄声声，维吾尔族女歌手女越马扬鞭，洒脱豪爽的风姿。</p>
<p>歌词大意：</p>
<blockquote>
<p>人们都叫我玛依拉，诗人玛依拉。牙齿白声音好，歌手玛依拉。</p>
<p>高兴时唱上一首歌，弹起冬不拉。来往的人们挤在我的屋檐底下。</p>
<p>玛依拉拉一拉，哈拉拉库拉一拉拉一拉，</p>
<p>哈拉拉库拉一拉呀拉，拉拉拉！</p>
<p>我是瓦利姑娘，名叫玛依拉。白手巾四边上绣满了玫瑰花。</p>
<p>青年的哈萨克，人人羡慕我。谁的歌声来和我比一下。</p>
<p>玛依拉拉一拉，哈拉拉库拉一拉拉一拉，</p>
<p>哈拉拉库拉一拉呀拉，拉拉拉！</p>
<p>白手巾四边上绣满了玫瑰花。谁能来唱上一首歌比比玛依拉。</p>
<p>青年的哈萨克，人人知道我。从那远山跑到了我的家。</p>
<p>玛依拉拉一拉，哈拉拉库拉一拉拉一拉，</p>
<p>哈拉拉库拉一拉呀拉，拉拉拉！</p>
</blockquote>
<h3>欣赏：《可爱的一朵玫瑰花》 (哈萨克族民歌) <a class="booklink" href="book.htm#104">教材第104页</a></h3>
<p> 歌曲是作曲家丁善德根据哈萨克族民歌改编而成的。歌曲描写了哈萨克族青年男女之间的爱慕之情。歌曲为两段体结构。A段旋律优美，起伏不大，叙述性较强。B段情绪较前段激动，旋律在较高音区走动。以表现青年炽热的爱恋之情。</p>
<h3>欣赏：《槐花几时开》 (四川民歌) <a class="booklink" href="book.htm#108">教材第108页</a></h3>
<p>  《槐花几时开》的歌词朴实生动，具有强烈的生活气息。旋律随歌词内容的发展和情绪的起伏而变化。歌曲表达了姑娘盼望心上人回到身边的急切心情。全曲的一开始就是连续几个高音，高亢、辽阔的曲调充分展现了山歌的风格。</p>
</div>
<h2>黎英海(1927-2007)</h2>
<p>  四川富顺人。1948年毕业于南京国立音乐院，后在上海音乐学院及中国音乐学院任教。他对我国多声部音乐的民族风格问题进行过富有成果的探索。在声乐创作上，写有近200首歌曲。改编了《嘎俄丽泰》、《小河淌水》等十余首民歌。器乐上写有钢琴曲、大提琴独奏曲、二胡独奏曲等十余首。还为电影、话剧、舞蹈写音乐。</p>
<div class="appreclation">
<h3>欣赏：《在那银色的月光下》 (塔塔尔族民歌) <a class="booklink" href="book.htm#114">教材第114页</a></h3>
<p>  这首歌词富于想象，具有强烈的生活气息并充满诗情画意。旋律优美动听，并随歌词内容的发展和情感起伏而变化。此曲由作曲家黎英海改编并配上钢琴伴奏，使歌曲增添了新的艺术内容，提高了歌曲的艺术品位。使其成为一首很富有表现力的艺术歌曲。</p>
<h3>欣赏：《小河淌水》 (云南民歌) <a class="booklink" href="book.htm#105">教材第105页</a></h3>
<p>这是一首具有云南弥渡山歌风味的歌曲，描绘了美丽的姑娘对心上人的思恋之情。歌词质朴自然，旋律优美婉转，节奏舒展自由。</p>
<h3>欣赏：《嘎俄丽泰》 (哈萨克族民歌) <a class="booklink" href="book.htm#106">教材第106页</a></h3>
<p> 这首歌曲表现的是哈萨克族青年对爱情的忠贞与痴情。全曲为二部曲式。A段的旋律在中低音区进行。以表现青年内心的焦虑和徘徊。B段以全曲的最高音开始，激情奔放，把青年人对爱情的热烈充分表达出来。</p>
</div>
<h2>瞿希贤(1919-2008)</h2>
<p>  她是位女作曲家。自幼爱好音乐。1948年毕业于上海国立音专作曲系。长期在中央音乐学院和中央乐团创作组工作。她主要从事歌曲创作，勤奋多产，题材宽广，风格多样，音乐语言清新生动，刚柔兼备，具有鲜明的民族特色和艺术独创性。她的许多歌曲作品在全国乃至世界获&#22870;。</p>
<div class="appreclation">
<h3>欣赏：《牧歌》 (内蒙民歌) <a class="booklink" href="book.htm#102">教材第102页</a></h3>
<p>  此歌属于蒙古族典型的长调民歌。它是牧民在放牧生活中赞美大自然的抒情歌曲。它以悠长舒缓、辽阔流畅的音韵，十分细腻地刻画出草原秀丽风光，表达了牧民对幸福生活的赞叹之情。</p>
</div>

<div class="questions">
<h2>思考题</h2>
<ol>
<li>中国的“民歌之王”是指谁？</li>
<li>以中国民歌为基本素材的艺术歌曲曲作家有哪些位？说出部分作品的名称。</li>
<li>学唱《在银色月光下》、《牧歌》。两首歌分别出于哪个民族的歌曲素材。</li>
</ol>
</div>
