---
layout: topic
title: "《声乐艺术与实践》"
keywords: ""
course: "中外艺术歌曲欣赏"
courseid: MU019
---

<style>
a.booklink { font-size:12px; color:#990; }
.questions { margin:1em; padding:1em; border:dotted 3px #99f; }
.appreclation { margin:1em; padding:1em; border:dotted 3px #9f9; }
blockquote { margin:0 2em; }
</style>

<p>《声乐艺术与实践》是上海交通大学“中外艺术歌曲欣赏”课程的教材。</p>
<p>ISBN <a href="http://book.douban.com/subject/1445871/">9787313040589</a></p>

