---
title: "寻址方式"
layout: topic
keywords: "立即寻址,直接寻址,间接寻址"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>立即寻址</h2>
<pre>
MOV AX,50
</pre>
<h2>直接寻址</h2>
<pre>
MOV AX,MEM
</pre>
<h2>间接寻址</h2>
<pre>
MOV AX,[MEM]
</pre>
<p>CPU在<a href="uOProutine.htm">间址周期</a>从MEM单元取得直接寻址的地址。</p>
