---
title: "性能平衡"
layout: topic
keywords: "CPU,存储器,速度匹配,速度不平衡,妥协"
course: "计算机组成与体系结构"
courseid: EI209
---

<dl>
<dt>处理器与主存储器速度不匹配</dt>
<dd>增加位宽</dd>
<dd>改进DRAM接口——使用cache</dd>
<dd>减少存储器访问频度——更高效的cache</dd>
<dd>提高互连带宽——更高的总线频率</dd>
<dt>处理器与外设速度不匹配</dt>
<dd>caching</dd>
<dd>buffering</dd>
<dd>……</dd>
</dl>
<h2>妥协与平衡</h2>
<p>性能提升时，要控制成本。使CPU、主存、I/O、互连设备平衡，在通用性、价格、效率之间妥协。</p>
