---
title: "Booth算法"
layout: topic
keywords: "ALU,整数乘法,布思算法,Booth乘法,布思乘法"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>Booth算法的硬件实现</h2>
<h3>Booth.v</h3>
<pre>
//整数乘法Booth算法
//start&lt;=posedge时读取因数；M&lt;=被乘数，Qin&lt;=乘数
//start&lt;=0，送若干个时钟信号供计算用
//done&lt;=1时计算完毕；{A,Q}&lt;=乘积
module Booth(A,Q,Qi,M,start,done,clk);
    parameter n=6;
    parameter width_count=3;
    output reg [n-1:0] A;
    output reg [n-1:0] Q;
    input [n-1:0] Qi;
    reg Q1;
    input [n-1:0] M;
    reg [width_count-1:0] count;
    input start;
    output reg done;
    input clk;
    reg clks;
    always @(posedge clk,posedge start)
    if (start) begin
        A&lt;=0;
        Q1&lt;=0;
        Q&lt;=Qi;
        count&lt;=n;
        done&lt;=1'b0;
        clks&lt;=1'b1;
    end
    else if (~done) begin
        clks&lt;=~clks;
        if (clks) begin
            if (count&gt;0)
                case ({Q[0],Q1})
                    2'b10: A&lt;=A-M;
                    2'b01: A&lt;=A+M;
                endcase
        end
        else begin
            count&lt;=count-1;
            if (count&gt;0)
                {A,Q,Q1}&lt;={A[n-1],A,Q};
            else
                done&lt;=0'b1;
        end
    end
endmodule
</pre>
<h3>tb_Booth.v</h3>
<pre>
`include "Booth.v"
module tb_Booth;
    parameter n=6;
    wire [n-1:0] A;
    wire [n-1:0] Q;
    reg [n-1:0] Qi;
    reg [n-1:0] M;
    reg start;
    wire done;
    reg clk;
    wire [2*n-1:0] result;
    Booth booth(A,Q,Qi,M,start,done,clk);
    initial
    begin
        clk=1'b1;
        M=12;
        Qi=-17;
        #1 start=1;
        #4 start=0;
    end
    always
        #1 clk=~clk;
    assign result={A,Q};
endmodule
</pre>
<h3>测试结果</h3>
测试算式是(-17)×12=-204<br/>
<img src="Booth.png" width="778" height="252" alt="Booth算法硬件实现波形图"/>
