---
title: "总线"
layout: topic
keywords: "系统互连方式,什么是总线,数据总线,地址总线,控制总线,物理地址空间,多总线,总线仲裁"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>总线是系统互连方式的一种。</p>
<h2>什么是总线？</h2>
<ul>
<li>连接两个或多个设备的通信信道</li>
<li>通常是广播的</li>
<li>通常由多条线路组成</li>
</ul>
<h2>总线上的信号</h2>
<dl>
<dt>数据总线</dt>
<dd>传输数据、指令——在总线层面上，数据、指令是没有区别的</dd>
<dd>数据总线的宽度是系统性能的决定因素之一</dd>
<dt>地址总线</dt>
<dd>确定数据的源或目标</dd>
<dd>地址总线的宽度决定了系统可寻址的物理地址空间。物理地址空间大小是由地址总线决定的，而不是CPU的位数；16位的8086，通过使用段寄存器，就可以寻址2<sup>20</sup>=1MB的物理地址空间。</dd>
<dt>控制总线</dt>
<dd>读/写，中断，时钟……</dd>
<dt>电源、地线等</dt>
</dl>
<h2>多总线层次</h2>
<p>总线上连接太多的设备，将导致传输延迟、带宽瓶颈。不同速率的设备接在同一总线上，只能降低高速设备的性能、或者令低速设备丢失数据，不可取。</p>
<p>一条总线上只能连接<b>速率差不多</b>的几个设备，而低速设备所在总线通过<i>桥</i>与高速总线连接。</p>
<h2>总线仲裁</h2>
<p>CPU、DMA控制器等模块都可以控制总线，需要通过集中式或分布式仲裁，使得同一时刻只有一个模块控制总线。</p>
