---
title: "cache映射功能、命中率计算"
layout: topic
keywords: "cache映射,直接关联,全关联,组关联,cache命中率,cache命中率计算,cache命中率计算程序"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>cache映射功能</h2>
<p>设：cache有m=v×k行，每行可存储z字节数据（z通常是8～128），并附加一个tag表示它保存了主存中的哪块；主存有n块，每块z字节。</p>
<dl>
<dt>直接关联映射</dt>
<dd>将主存第i块固定映射为第i%m行，tag内容为i/m</dd>
<dd>电路简单、成本低，但是程序碰巧访问对应同一行的两块主存就会发生竞争、此时性能很低</dd>
<dt>全关联映射</dt>
<dd>主存第i块可以映射为任意一行，tag内容为i</dd>
<dd>电路非常复杂！</dd>
<dt>组关联映射</dt>
<dd>主存第i块固定映射到第i%v组，可以使用该组k行的任意一行，tag内容为i/v</dd>
<dd>这是直接关联映射与全关联映射之间的<a href="balance.htm">妥协</a></dd>
<dd>k通常是4～8</dd>
</dl>
<p>cache映射功能、替换策略等，都必须是<b>硬件实现</b>。</p>
<h2>cache命中率计算</h2>
主存每块/cache每行字节数 <input id="cachehit_z" type="text" size="4" value="16"/><br/>
访问顺序 <input id="cachehit_seq" type="text" size="100"/><br/>
<b>直接关联映射</b>
cache行数 <input id="cachehit_m" type="text" size="4" value="4"/>
<input type="button" value="计算命中率" onclick="cachehit.direct()"/><br/>
<b>全关联映射</b> 请使用下面组关联映射计算，设置为1组即可<br/>
<b>组关联映射</b>(LRU)
cache组数 <input id="cachehit_v" type="text" size="4" value="2"/>
每组行数 <input id="cachehit_k" type="text" size="4" value="2"/>
<input type="button" value="计算命中率" onclick="cachehit.group()"/><br/>
<div id="cachehit_o"></div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript">//<![CDATA[
$('cachehit_seq').value=$A($R(63,70)).join(',')+(','+$A($R(15,32)).join(',')+','+$A($R(80,95)).join(',')).times(10);
var cachehit={
	direct:function() {
		this.z=parseInt($F('cachehit_z'),10);
		this.m=parseInt($F('cachehit_m'),10);
		if (this.z<1 || this.m<1) return alert('参数必须是正整数');
		this.h=this.direct_h;
		this.go();
	},
	group:function() {
		this.z=parseInt($F('cachehit_z'),10);
		this.v=parseInt($F('cachehit_v'),10);
		this.k=parseInt($F('cachehit_k'),10);
		if (this.z<1 || this.v<1 || this.k<1) return alert('参数必须是正整数');
		this.m=this.v*this.k;
		this.h=this.group_h;
		this.go();
	},
	go:function() {
		this.cache=[];
		this.hit=0;
		this.total=0;
		for (var i=0;i<this.m;++i) this.cache.push(-1);
		this.b='';
		this.r=$F('cachehit_seq').split(',');
		var len=this.r.length;
		for (var i=0;i<len;++i) {
			var addr=parseInt(this.r[i],10);
			if (isNaN(addr)) this.b+='地址'+this.r[i].escapeHTML()+'无效\n';
			else {
				var block=Math.floor(addr/this.z);
				var oldhit=this.hit;
				var h_r=this.h(block);
				this.b+='地址'+addr+'，块'+block+'，'+h_r+(this.hit>oldhit?'命中':'未命中')+'<br/>\n';
				++this.total;
			}
		}
		this.b+='命中'+this.hit+'次，未命中'+(this.total-this.hit)+'次，命中率'+(this.hit/this.total);
		$('cachehit_o').update(this.b);
	},
	incache:function(block,start,len) {//使指定块进入cache部分行内，返回是否命中
		var end=start+len;
		for (var i=start;i<end;++i) {
			if (this.cache[i]==block) {
				for (var j=i+1;j<end;++j) {
					this.cache[j-1]=this.cache[j];
				}
				this.cache[end-1]=block;
				return true;
			}
		}
		for (var j=start+1;j<end;++j) {
			this.cache[j-1]=this.cache[j];
		}
		this.cache[end-1]=block;
		return false;
	},
	direct_h:function(block) {
		var line=block%this.m;
		if (this.incache(block,line,1)) ++this.hit;
		return '';
	},
	group_h:function(block) {
		var group=block%this.v;
		if (this.incache(block,group*this.k,this.k)) ++this.hit;
		return '组'+group+'，';
	}
};
//]]></script>
