---
title: "补码"
layout: topic
keywords: "二进制,有符号数"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>补码计算</h2>
<ul>
<li>正整数的补码等于其原码</li>
<li>负整数的补码：对其绝对值的原码按位取反，然后加1</li>
</ul>
要转换的十进制数 <input id="complement_n" type="text" value="-50" onkeyup="complement.convert()"/>
转换成8位2进制数 <input id="complement_o" type="text" value="10110001"/>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript">//<![CDATA[
var complement={
	convert:function() {
		var n=parseInt($F('complement_n'),10);
		if (isNaN(n) || n<-128 || n>127) {
			return $('complement_o').value='输入超出范围';
		}
		var b=(n>=0)?'0':'1';
		if (n<0) n=-n-1;
		for (var d=64;d>=1;d/=2) {
			if (n>=d) {
				b+='1';
				n-=d;
			}
			else b+='0';
		}
		$('complement_o').value=b;
	}
};
//]]></script>
<h2>补码的优势</h2>
<p>0只有唯一的表示。<a href="integer.htm">算术运算</a>变得简单。</p>
