---
title: "CPU结构"
layout: topic
keywords: "计算机,结构,CPU,控制器"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>CPU结构</h2>
<ul>
<li>Register,寄存器</li>
<li>Arithmetic and Logic Unit,算术逻辑单元ALU</li>
<li>Control Unit,控制器</li>
<li>Internal CPU Interconnection,内部互联</li>
</ul>
<h2>控制器结构</h2>
<ul>
<li>Sequencing Logic,顺序逻辑</li>
<li>Control Unit Registers and Decoders,控制寄存器、译码器</li>
<li>Control Memory,控制存储器</li>
</ul>
