---
title: "相关性"
layout: topic
keywords: "指令集并行性,机器并行性,真实数据相关性,过程相关性,资源相关性,输出相关性,反相关性"
course: "计算机组成与体系结构"
courseid: EI209
---

<dl>
<dt>指令级并行性</dt>
<dd>顺序中的指令是相互独立的</dd>
<dd>执行可以重叠的</dd>
<dd>受制于数据和过程相关性</dd>
<dt>机器并行性</dt>
<dd>机器发现并利用指令级并行性的能力</dd>
<dd>并行流水线</dd>
</dl>
<h2>真实数据相关性</h2>
<pre>
ADD R1,R2
MOV R3,R1 ;R1的值依赖于上一条指令
</pre>
<p>真实数据相关性又称写-读相关性。可以并行取指、译码，但不能执行。</p>
<h2>过程相关性</h2>
<ul>
<li>条件转移指令：不知道转移是否发生时，后面的指令无法执行。为了防止带来新的相关性，超标量机器通常只使用<a href="pipeline.htm">静态/动态转移预测</a>，而不作<a href="RISCpipeline.htm">RISC的延迟转移</a>。</li>
<li>变长指令：如果使用变长指令，译码之前无法判断下一条指令的位置。</li>
</ul>
<h2>资源相关性</h2>
<pre>
ADD R1,R2
ADD R3,R4 ;如果只有一个加法器，就无法并行执行
</pre>
<p>多条指令竞争同一个资源。解决方法：资源复制，即配备多个相同的器件资源；需要结合寄存器重命名技术。</p>
<h2>输出相关性</h2>
<pre>
ADD R3,R5
XOR R4,R3
MOV R3,R5 ;必须先写回ADD再执行此指令，否则R3值不对
SUB R7,R3
</pre>
<p>输出相关性又称写-写相关性，仅出现于<a href="out-of-order.htm">按序发射无序完成、无序发射无序完成</a>发射策略中。</p>
<h2>反相关性</h2>
<pre>
ADD R4,R3 ;必须取得R3值后才能让MOV写回
MOV R3,R5
</pre>
<p>反相关性又称读-写相关性，仅出现于<a href="out-of-order.htm">无序发射无序完成</a>发射策略中。</p>
