---
title: "浮点数表示、规格化"
layout: topic
keywords: "IEEE754,IEEE浮点数,浮点数规格化"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>±1.ssss……×2<sup>指数</sup></h2>
<ul>
<li>符号位：0为正，1为负</li>
<li>阶值偏码：指数。单精度1~254对应-127~126，双精度1~2046对应-1023~1022</li>
<li>尾数：ssss……，表示1.ssss……</li>
</ul>
<p>全0表示浮点数0。另外还有几种特殊情况，略。</p>
<ul>
<li>32位单精度浮点数：1位符号位,8位阶值偏码,23位尾数</li>
<li>64位双精度浮点数：1位符号位,11位阶值偏码,52位尾数</li>
</ul>
<h2>规格化</h2>
<p>将±0.00……001ssss……×2<sup>指数</sup>形式的浮点数，右移小数点、同时减小指数，使之变成±1.ssss……×2<sup>指数</sup>形式。</p>
