---
title: "着色圖寄存器优化"
layout: topic
keywords: "编译器,RISC,寄存器优化"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>着&#33394;图寄存器优化</p>
<ul>
<li>每个节点代表一个符号寄存器</li>
<li>若两个寄存器同时存活于一程序区段内，则相应的两个节点之间连一条边</li>
<li>用n种颜色给图上色（n表示真实寄存器数）</li>
<li>无法上色的节点就存放在存储器中</li>
</ul>
