---
layout: course
courseid: EI209
title: "计算机组成与体系结构"
school: "上海交通大学电子信息与电气工程学院"
instructor: "陆海宁"

download_link: http://cid-1fa4aa816e7dc9f3.skydrive.live.com/browse.aspx/yoursunny-study/EI209
downloads:
    - "01简介.ppt"
    - "02 Enigma.ppt"
    - "02计算机的演变和性能.ppt"
    - "03系统总线.ppt"
    - "04Cache.ppt"
    - "05内部存储器.ppt"
    - "06外部存储器.ppt"
    - "07输入输出.ppt"
    - "09计算机算术.ppt"
    - "10指令集 特征和功能.ppt"
    - "11指令集. 寻址方式和指令格式.ppt"
    - "12 CPU结构和功能.ppt"
    - "13 RISC.ppt"
    - "14指令级并行性和超标量处理器.ppt"
    - "16控制器操作.ppt"
    - "17微程序式控制.ppt"
    - "18并行处理.ppt"
    - "计算机组织与体系结构.性能设计第六版.pdf"
---

<h2>知识要点</h2>
<article>
<style scoped>
.pmsg ul li { font-size:12pt; line-height:25pt; }
.pmsg ul a,.pmsg ul span { margin-left:2ex; }
</style>
<ul>
<li><b>01章</b>
<a href="OrgArch.htm">计算机组织vs计算机体系结构</a>
<a href="structure.htm">计算机结构</a>
<a href="CPUstructure.htm">CPU结构</a>
</li>
<li><b>02章</b>
<a href="VonNouma.htm">冯诺依曼体系</a>
<a href="moore.htm">摩尔定律</a>
<a href="balance.htm">性能平衡</a>
</li>
<li><b>03章</b>
<a href="INT.htm">中断</a>
<a href="bus.htm">总线</a>
</li>
<li><b>04章</b>
<a href="locality.htm">局部性原理</a>
<a href="memory.htm">存储器分层</a>
<a href="cache.htm">直接映射/全关联映射/组关联映射、命中率计算(程序)</a>
</li>
<li><b>05章</b>
<a href="RAM.htm">RAM/ROM/EEPROM</a>
<a href="RAMext.htm">存储器扩展</a>
</li>
<li><b>06章</b>
<a href="HDD.htm">温彻斯特硬盘</a>
<a href="RAID.htm">RAID5(绘图程序)</a>
</li>
<li><b>07章</b>
<a href="IO.htm">I/O模块</a>
<a href="IOmethod.htm">编程IO/中断驱动IO/DMA/IO通道</a>
<span>DMA效率计算</span>
</li>
<li><b>09章</b>
<a href="complement.htm">补码(转换程序)</a>
<a href="integer.htm">整数加减法</a>
<a href="Booth.htm">整数乘法——Booth算法(程序)</a>
<a href="float.htm">浮点数规格化</a>
</li>
<li><b>10章</b>
<a href="OP.htm">指令格式</a>
<span>堆栈</span>
<span>endian</span>
</li>
<li><b>11章</b>
<a href="address.htm">立即寻址/直接寻址/间接寻址</a>
</li>
<li><b>12章</b>
<a href="pipeline.htm">流水线</a>
<a href="RISCpipeline.htm">RISC流水线</a>
</li>
<li><b>13章</b>
<a href="RISC.htm">RISC大寄存器组</a>
<a href="graph.htm">着色图寄存器优化</a>
</li>
<li><b>14章</b>
<a href="superscale.htm">超标量</a>
<a href="dependency.htm">相关性</a>
<a href="out-of-order.htm">乱序执行(例题)</a>
</li>
<li><b>16章</b>
<a href="uOP.htm">微操作</a>
<a href="uOProutine.htm">各周期的微操作</a>
</li>
<li><b>17章</b>
<a href="MI.htm">微指令</a>
<a href="MIformat.htm">微指令格式</a>
</li>
<li><b>18章</b>
<a href="SISD.htm">SISD/SIMD/MIMD</a>
<a href="MIMD.htm">SMP/NUMA/cluster</a>
<a href="MESI.htm">MESI缓存一致性协议</a>
</li>
</ul>
<p>撰写日期：2008-06-28～2008-06-29</p>
</article>
