---
title: "中断"
layout: topic
keywords: "什么是中断,CPU中断,中断周期,中断处理,CPU处理中断"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>什么是中断？</h2>
<p>一些其他模块可以中断正常处理器执行顺序的机制。中断原因：程序中断，定时器中断，I/O中断，硬件故障。</p>
<h2>CPU处理中断</h2>
<img src="INT.png" width="700" height="267" alt="带中断的指令周期状态图"/>
<p>CPU在一条<b>指令执行完毕</b>后，进入中断周期：检查是否中断打开且发生中断<br/>
⒈没有中断：进入取值周期；<br/>
⒉发生中断：将PC寄存器压栈，PC设为中断处理程序入口，进入中断处理程序，返回后恢复原PC。</p>
