---
title: "I/O模块"
layout: topic
keywords: "外设,输入输出"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>I/O模块是控制外设的芯片</p>
<h2>为什么需要I/O模块？</h2>
<ul>
<li>外设使用不同的操作逻辑</li>
<li>外设使用不同的数据格式、字长</li>
<li>外设比总线慢得多</li>
</ul>
<h2>I/O模块的功能</h2>
<ul>
<li>控制和定时</li>
<li>处理器通信</li>
<li>设备通信</li>
<li>数据缓冲</li>
<li>检错</li>
</ul>
