---
title: "局部性原理"
layout: topic
keywords: "局部性,时间局部性,空间局部性"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>cache的理论基础</h2>
<p>程序执行过程中，处理器对存储器中指令和数据倾向于集“簇”访问。</p>
<pre>
M    ADD AX,DX[BX]
     DEC BX
     JNZ M
</pre>
<p>这是一个循环，CPU在一段时间中将反复执行这三行指令——时间局部性。并且，CPU在执行这个循环的过程中只访问数据区中DX地址附近的那些数据——空间局部性。</p>
