---
title: "存储器分层"
layout: topic
keywords: "存储器速度,存储器成本"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>存储器的<b>容量越大、速度越慢、成本越低</b><br/>
存储器的容量越小、速度越快、成本越高<br/>
需要<a href="balance.htm">妥协</a>！！！</p>
<h2>存储器分层</h2>
<ol>
<li>寄存器</li>
<li>cache</li>
<li>主存</li>
<li>硬盘</li>
<li>光盘</li>
<li>磁带</li>
</ol>
<h2>多级cache</h2>
<p>cache通常也分为多级。L1 cache在CPU芯片内部，而L2 cache在主板上。为了支持<a href="pipeline.htm">指令流水</a>，L1 cache将指令、数据分开；L2则是指令、数据存储在一起的。</p>
