---
title: "MESI缓存一致性协议"
layout: topic
keywords: "cache,cache一致性,缓存一致性,写-无效"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>MESI是一种<b>写-无效监听协议</b>。</p>
<h2>cache行的四种状态</h2>
<ul>
<li>修改态(Modified)：cache行已被修改，且仅位于这个cache中</li>
<li>专有态(Exclusive)：cache行同主存，且仅位于这个cache中</li>
<li>共享态(Shared)：cache行同主存，且位于多个cache中</li>
<li>无效态(Invalid)：此cache行不含有效数据</li>
</ul>
<h2>状态的转换</h2>
<img src="MESI.png" width="700" height="526" alt="MESI状态转换图"/>
