---
title: "微指令"
layout: topic
keywords: "控制器,微指令,微程序"
course: "计算机组成与体系结构"
courseid: EI209
---

<p><b>控制器</b>有两种实现方法：硬连线实现（组合逻辑电路），微指令实现。硬连线实现的控制器非常复杂，且难以修改。</p>
<p>微指令存储于控制器内的SRAM芯片中，由CPU设计者编写，一般程序员不编写微指令。<a href="MIformat.htm">微指令的格式</a></p>
<p>微程序式控制器，只需要执行微指令即可，包括产生微指令定义的控制信号、计算下一条指令的地址。</p>
