---
title: "微指令格式"
layout: topic
keywords: "控制器,微指令,微程序"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>微指令的格式必须相当简单，通常包括三个部分：控制信号、转移条件、转移目标。</p>
<h2>排序技术</h2>
<dl>
<dt>双地址字段</dt>
<dd>控制信号，转移条件，真目标，假目标</dd>
<dd>微指令太长，占用SRAM多——成本高</dd>
<dt>单地址字段</dt>
<dd>控制信号，转移条件，真目标</dd>
<dd>转移条件不成立时，下一条微指令就是当前地址+1</dd>
<dd>这种格式较为常用</dd>
<dt>可变格式</dt>
<dd>我是控制信号，控制信号</dd>
<dd>我是转移语句，转移条件，转移目标</dd>
<dd>微指令短，但是转移判断需要多花一个时钟周期；然而微程序中转移相当频繁，这样就会影响效率</dd>
</dl>
<h2>微指令编码</h2>
<dl>
<dt>直接编码</dt>
<dd>控制信号码部分经过一次译码就得到控制信号</dd>
<dt>间接编码</dt>
<dd>控制信号，转移条件，真目标</dd>
<dd>控制信号码部分经过多次译码才得到控制信号</dd>
</dl>
