---
title: "多处理器多数据流并行计算"
layout: topic
keywords: "SMP,对称多处理机,对称多处理器,cluster,机群,NUMA,非均匀存储器存取"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>共同特点：通用处理器，各处理器能力相似</p>
<h2>对称多处理机 SMP</h2>
<p>可以采用分时共享总线方式，也有其他互连方式。</p>
<img src="SMP.png" width="402" height="307" alt="SMP"/>
<p>每个处理器都拥有自己的cache，带来<a href="MESI.htm">cache一致性问题</a>。</p>
<h2>机群 cluster</h2>
<p>多台互相独立的计算机，通过操作系统或中间件形成统一的计算资源。</p>
<img src="cluster.png" width="473" height="196" alt="cluster"/>
<p>程序需要较大的修改，才能用于cluster系统。</p>
<h2>非均匀存储器存取 NUMA</h2>
<p>所有处理器都可使用主存的任何部分；一个处理器的存储器存取时间取决于存储器区域；不同处理器的存储器存取时间取决于存储器区域。</p>
<img src="NUMA.png" width="437" height="309" alt="NUMA"/>
<p>程序只需要较少的修改，就可以用于NUMA系统。但是NUMA操作系统或中间件很难实现，特别是cache一致性问题。</p>
