---
title: "摩尔定律"
layout: topic
keywords: "Gordon Moore,集成电路,大规模集成电路"
course: "计算机组成与体系结构"
courseid: EI209
---

<ol>
<li>集成电路芯片上所集成的电路的数目，每隔18个月就翻一番。</li>
<li>微处理器的性能每隔18个月提高一倍，而价格下降一倍。</li>
<li>用一个美元所能买到的电脑性能，每隔18个月翻两番。</li>
</ol>
<p>集成度增加的意义：高速、小体积、低能耗、低冷却需求、高可靠性。</p>
