---
title: "指令集"
layout: topic
keywords: "机器指令,指令类型,指令格式,3地址,2地址"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>机器指令的格式</h2>
<ul>
<li>指令的元素：操作码，源操作数，目标操作数，下一条指令</li>
<li><a href="VonNouma.htm">冯诺依曼体系</a>，除非有明确的修改，下一条指令的地址为当前指令地址+1</li>
<li>指令可以是定长的或变长的</li>
</ul>
<h2>指令类型</h2>
<ol>
<li>数据处理</li>
<li>数据存取(主存)</li>
<li>数据移动(I/O)</li>
<li>程序流控制</li>
</ol>
<h2>地址的数目</h2>
<ul>
<li>3地址：a=b OP c</li>
<li>2地址：a=a OP b；但是在<a href="uOP.htm">微操作</a>中仍然需要使用第三个寄存器暂存结果</li>
<li>1地址：隐含了第2个地址——通常指累加器</li>
<li>0地址：在栈顶取操作数，操作结果压入栈顶</li>
</ul>
<p>更多的地址：指令长，同样的程序指令总数少，CPU复杂；<br/>
更少的地址：指令短，同样的程序指令总数多，CPU简单、取指执行快</p>
