---
title: "计算机组织、计算机系统结构的区别"
layout: topic
keywords: "计算机组织,计算机系统结构,区别,程序员,控制"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>计算机体系结构</h2>
<p>对程序员可见。包括：指令集，数据字长，输入输出机制</p>
<h2>计算机组织</h2>
<p>实现体系结构的单位及其互连，对程序员透明。包括：控制信号，外设接口，存储器技术</p>
