---
title: "指令发射"
layout: topic
keywords: "相关性,超标量,CPU,乱序执行,无序发射,无序完成"
course: "计算机组成与体系结构"
courseid: EI209
---

<style type="text/css">
.ooo th { width:80px; height:10px; }
.ooo td { width:30px; height:10px; background:#99ff33; }
.ooo .e { background:#ff9933; }
.ooo .n { background:none; }
</style>
<p>每条指令可以分为1个取指周期，1个译码周期，0～1个间址周期，若干个执行周期，1个写回周期。</p>
<p><b>指令发射</b>：使指令从译码阶段进入执行阶段。</p>
<ul>
<li>按序发射按序完成</li>
<li>按序发射无序完成，存在<a href="dependency.htm">输出相关性</a></li>
<li>无序发射无序完成，存在<a href="dependency.htm">输出相关性、反相关性</a></li>
</ul>
<h2>常见题型</h2>
<table border="1">
<caption>CPU特征</caption>
<tr><th>器件</th><th>数量</th><th>流水级数</th></tr>
<tr><td>f取指单元</td><td>2+先行1</td><td>1</td></tr>
<tr><td>d译码单元</td><td>2+先行1</td><td>1</td></tr>
<tr><td>m乘法器</td><td>1</td><td>3</td></tr>
<tr><td>a加法器</td><td>1</td><td>2</td></tr>
<tr><td>l逻辑单元</td><td>2</td><td>1</td></tr>
<tr><td>r装入单元</td><td>1</td><td>1</td></tr>
<tr><td>s写回单元</td><td>2</td><td>1</td></tr>
</table>
<p>考虑以下汇编程序，指出相关性、画出各种指令发射时序。</p>
<pre>
I1 MOV R8,(R3)
I2 ADD R3,4
I3 MOV R9,(R3)
I4 AND R1,A
I5 ADD R2,R1
I6 NOT R6
I7 ADD R3,R4
I8 MUL R4,R5
I9 MUL R6,R7
</pre>
<h3>存在的相关性</h3>
<ul>
<li>I1-I2：R3读写相关性</li>
<li>I1-I3：装入单元资源相关性</li>
<li>I1-I4：装入单元资源相关性</li>
<li>I2-I3：R3写读相关性</li>
<li>I2-I5：加法器资源相关性</li>
<li>I2-I7：R3写读相关性、R3写写相关性、加法器资源相关性</li>
<li>I3-I4：装入单元资源相关性</li>
<li>I3-I7：R3读写相关性</li>
<li>I4-I5：R1写读相关性</li>
<li>I5-I7：加法器资源相关性</li>
<li>I6-I9：R6写读相关性、R6读写相关性、R6写写相关性</li>
<li>I7-I8：R4读写相关性</li>
<li>I8-I9：乘法器资源相关性</li>
</ul>
<h3>按序发射按序完成</h3>
<p>取指单元一有空就取指（指令未译码时要占用取指单元）；译码单元一有空就译码（指令未发射时要占用译码单元）；执行单元有空，上一条已发射就执行；写回单元有空，可在上一条已经写回后写回，或与上一条同时写回。</p>
<table class="ooo">
<tr><th>I1</th><td>f1</td><td>d1</td><td class="e">r1</td><td>s1</td><td colspan="10" class="n">&nbsp;</td></tr>
<tr><th>I2</th><td>f2</td><td>d2</td><td class="e">a1</td><td class="e">a2</td><td>s2</td><td colspan="9" class="n">&nbsp;</td></tr>
<tr><th>I3</th><td class="n">&nbsp;</td><td>f1</td><td>d1</td><td colspan="2" class="n">&nbsp;</td><td class="e">r1</td><td>s1</td><td colspan="7" class="n">&nbsp;</td></tr>
<tr><th>I4</th><td class="n">&nbsp;</td><td>f2</td><td>d2</td><td colspan="3" class="n">&nbsp;</td><td class="e">r1</td><td class="e">l1</td><td>s2</td><td colspan="5" class="n">&nbsp;</td></tr>
<tr><th>I5</th><td colspan="2" class="n">&nbsp;</td><td>f1</td><td colspan="2" class="n">&nbsp;</td><td>d1</td><td class="e">a1</td><td class="e">a2</td><td>s1</td><td colspan="5" class="n">&nbsp;</td></tr>
<tr><th>I6</th><td colspan="2" class="n">&nbsp;</td><td>f2</td><td colspan="3" class="n">&nbsp;</td><td>d2</td><td class="n">&nbsp;</td><td class="e">l1</td><td>s2</td><td colspan="4" class="n">&nbsp;</td></tr>
<tr><th>I7</th><td colspan="6" class="n">&nbsp;</td><td>f1</td><td>d1</td><td class="e">a1</td><td class="e">a2</td><td>s1</td><td colspan="3" class="n">&nbsp;</td></tr>
<tr><th>I8</th><td colspan="6" class="n">&nbsp;</td><td>f2</td><td>d2</td><td class="e">m1</td><td class="e">m2</td><td class="e">m3</td><td>s2</td><td colspan="2" class="n">&nbsp;</td></tr>
<tr><th>I9</th><td colspan="7" class="n">&nbsp;</td><td>f1</td><td>d1</td><td class="n">&nbsp;</td><td class="e">m1</td><td class="e">m2</td><td class="e">m3</td><td>s1</td></tr>
</table>
<h3>按序发射无序完成</h3>
<p>取指单元一有空就取指（指令未译码时要占用取指单元）；译码单元一有空就译码（指令未发射时要占用译码单元）；执行单元有空，上一条已发射就执行；写回单元一有空就写回。</p>
<p>发射次序正巧与“按序发射按序完成”一样。</p>
<h3>无序发射无序完成</h3>
<p>取指单元一有空就取指（指令未译码时要占用取指单元）；译码单元一有空就译码（指令未发射时要占用译码单元）；执行单元一有空就执行；写回单元一有空就写回。</p>
<table class="ooo">
<tr><th>I1</th><td>f1</td><td>d1</td><td class="e">r1</td><td>s1</td><td colspan="10" class="n">&nbsp;</td></tr>
<tr><th>I2</th><td>f2</td><td>d2</td><td class="e">a1</td><td class="e">a2</td><td>s2</td><td colspan="9" class="n">&nbsp;</td></tr>
<tr><th>I3</th><td>f3</td><td>d3</td><td colspan="3" class="n">&nbsp;</td><td class="e">r1</td><td>s1</td><td colspan="7" class="n">&nbsp;</td></tr>
<tr><th>I4</th><td class="n">&nbsp;</td><td>f1</td><td>d1</td><td class="e">r1</td><td class="e">l1</td><td>s2</td><td colspan="7" class="n">&nbsp;</td></tr>
<tr><th>I5</th><td class="n">&nbsp;</td><td>f2</td><td>d2</td><td colspan="4" class="n">&nbsp;</td><td class="e">a1</td><td class="e">a2</td><td>s1</td><td colspan="5" class="n">&nbsp;</td></tr>
<tr><th>I6</th><td class="n">&nbsp;</td><td>f3</td><td colspan="3" class="n">&nbsp;</td><td>d3</td><td class="e">l1</td><td>s2</td><td colspan="5" class="n">&nbsp;</td></tr>
<tr><th>I7</th><td colspan="2" class="n">&nbsp;</td><td>f1</td><td>d1</td><td class="n">&nbsp;</td><td class="e">a1</td><td class="e">a2</td><td>s1</td><td colspan="5" class="n">&nbsp;</td></tr>
<tr><th>I8</th><td colspan="2" class="n">&nbsp;</td><td>f2</td><td colspan="4" class="n">&nbsp;</td><td>d2</td><td class="e">m1</td><td class="e">m2</td><td class="e">m3</td><td>s2</td><td colspan="2" class="n">&nbsp;</td></tr>
<tr><th>I9</th><td colspan="5" class="n">&nbsp;</td><td>f3</td><td>d3</td><td colspan="2" class="n">&nbsp;</td><td class="e">m1</td><td class="e">m2</td><td class="e">m3</td><td>s1</td></tr>
</table>
