---
title: "流水线"
layout: topic
keywords: "指令流水"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>将指令分为多个阶段，让各个阶段并发执行，以带来加速。
<a href="uOP.htm">微操作</a>数是流水线级数的最大值。</p>
<h2>流水线性能增强的限制</h2>
<ul>
<li>存储器访问冲突</li>
<li>各阶段时间不一致</li>
<li>转移指令</li>
<li>中断</li>
<li>其他冲突</li>
</ul>
<h2>条件转移处理</h2>
<dl>
<dt>多指令流</dt>
<dd>出现条件转移时，在两条流水线上分别预取转移发生、转移不发生的两组指令</dd>
<dd>前一转移未解决，可能出现新的转移，加剧对寄存器、存储器的竞争</dd>
<dt>预取转移目标</dt>
<dd>出现条件转移时，在两条流水线上分别预取转移发生、转移不发生的两组指令</dd>
<dd>前一转移未解决，不理会出现的新转移</dd>
<dt>循环缓冲器</dt>
<dd>类似cache，保存最近取来的若干条指令</dd>
<dt>静态转移预测</dt>
<dd>根据操作码判断，例如：对JNZ,JB预测转移发生，对JA,JGE预测转移不发生</dd>
<dt>动态转移预测</dt>
<dd>在指令cache中存储“上一次这个条件转移是否发生？”开关，根据上次情况预测这次是否发生转移</dd>
</dl>
<p>在<a href="RISCpipeline.htm">RISC流水线</a>中，不需要进行转移预测。</p>
