---
title: "RAID5数据条带分布图"
layout: topic
keywords: "RAID,RAID5"
course: "计算机组成与体系结构"
courseid: EI209
---

<style type="text/css">
#raid5_o td { width:40px; height:20px; }
#raid5_o .data { background:#ffff00; }
#raid5_o .checksum { background:#33cc33; }
</style>
硬盘数量 <input id="raid5_n" type="text" value="4"/>个<br/>
硬盘大小 <input id="raid5_l" type="text" value="30"/>块<br/>
<input type="button" value="绘制" onclick="raid5.draw()"/>
<div id="raid5_o"></div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript">//<![CDATA[
var raid5={
	draw:function() {
		this.n=parseInt($F('raid5_n'),10);
		this.l=parseInt($F('raid5_l'),10);
		if (this.n<1 || this.l<1) return alert('参数必须是正整数');
		if (this.n<3) return alert('RAID5至少需要3个硬盘');
		var b='<table>\n<tr>';
		for (var j=0;j<this.n;++j)
			b+='<th>HDD '+j+'</th>';
		b+='</tr>\n';
		var c=0; var d=0;
		for (var i=0;i<this.l;++i) {
			if (c<=0) c=this.n; --c;
			b+='<tr>';
			for (var j=0;j<this.n;++j)
				b+='<td class="'+(j==c?'checksum':'data')+'">'+(j==c?'checksum':'data '+(d++))+'</td>';
			b+='</tr>\n';
		}
		b+='</table>';
		$('raid5_o').update(b);
	}
};
//]]></script>
