---
title: "存储器扩展"
layout: topic
keywords: "位扩展,字扩展"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>位扩展</h2>
<p>8个1位存储器组合成1个8位存储器：所有地址线接到8个1位存储器上，从8个存储器各引出1条数据线集束作为8位数据线。</p>
<h2>字扩展</h2>
<p>16个1MB、8位存储器组合成1个16MB、8位存储器：最高4根地址线接一个译码器，译码器的2<sup>4</sup>=16根输出线分别接16个1MB存储器的片选；其余地址线接到所有1MB存储器上，将所有8位数据线并联在一起。</p>
