---
title: "RISC大寄存器组"
layout: topic
keywords: "RISC,精简指令集计算机,大寄存器组,寄存器窗口"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>RISC处理器可以装备数百个寄存器。</p>
<h2>寄存器窗口</h2>
<table border="1">
<tr><th>调用深度</th><th>R1</th><th>R2</th><th>R3</th><th>R4</th><th>R5</th><th>R6</th><th>R7</th><th>R8</th><th>R9</th><th>R10</th><th>R11</th><th>R12</th><th>R13</th><th>R14</th><th>R15</th><th>R16</th><th>R17</th><th>R18</th></tr>
<tr><th>0</th><td colspan="2">全局变量</td><td colspan="2">局部变量</td><td colspan="2">临时变量</td><td colspan="12">&nbsp;</td></tr>
<tr><th>1</th><td colspan="2">全局变量</td><td colspan="2">&nbsp;</td><td colspan="2">参数和返回值</td><td colspan="2">局部变量</td><td colspan="2">临时变量</td><td colspan="8">&nbsp;</td></tr>
<tr><th>2</th><td colspan="2">全局变量</td><td colspan="6">&nbsp;</td><td colspan="2">参数和返回值</td><td colspan="2">局部变量</td><td colspan="2">临时变量</td><td colspan="4">&nbsp;</td></tr>
<tr><th>3</th><td colspan="2">全局变量</td><td colspan="10">&nbsp;</td><td colspan="2">参数和返回值</td><td colspan="2">局部变量</td><td colspan="2">临时变量</td></tr>
</table>
<p>全局变量单独存储于固定的寄存器。<br/>
参数和返回值、局部变量、用于调用下一函数的临时变量，组成了当前函数的寄存器窗口。</p>
