---
title: "RISC流水线"
layout: topic
keywords: "指令流水,RISC"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>两个阶段：I取指，E执行。</p>
<h2>延迟转移</h2>
<pre>
MM DEC DX
   ADD AX,2
   JMP MM
   INC BX   ;此处安排一条有用的指令，而不是NOP
</pre>
