---
title: "并行处理器的组织"
layout: topic
keywords: "SISD,SIMD,MIMD"
course: "计算机组成与体系结构"
courseid: EI209
---

<ul>
<li>单处理器单数据流 SISD</li>
<li>单处理器多数据流 SIMD</li>
<li>多处理器单数据流 MISD</li>
<li><a href="MIMD.htm">多处理器多数据流 MIMD</a></li>
</ul>
