---
title: "计算机结构"
layout: topic
keywords: "计算机,结构,顶层"
course: "计算机组成与体系结构"
courseid: EI209
---

<ul>
<li>Central Processing Unit,中央处理器</li>
<li>Main Memory,主存</li>
<li>Input Output,输入、输出</li>
<li>System Interconnection,系统互联</li>
</ul>
