---
title: "超标量"
layout: topic
keywords: "超标量,RISC,超级流水线,超流水"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>超标量：多条普通指令同时启动、独立执行。可以应用于CISC与RISC。</p>
<h2>超标量与超级流水线的区别</h2>
<img src="superscale.png" width="411" height="584" alt="超标量与超流水"/>
<p>对超标量的限制：指令集并行性，或称<a href="dependency.htm">相关性</a>。</p>
