---
title: "微操作"
layout: topic
keywords: "微操作,指令周期"
course: "计算机组成与体系结构"
courseid: EI209
---

<img src="uOP.png" width="495" height="259" alt="程序执行的组成元素"/>
<p><a href="uOProutine.htm">取指、间址、执行、中断周期的微操作</a></p>
<h2>微操作的类型</h2>
<ul>
<li>在寄存器之间传送数据</li>
<li>将数据由寄存器传送到外部</li>
<li>将数据由外部传送到寄存器</li>
<li>算术或逻辑运算</li>
</ul>
