---
title: "各周期的微操作"
layout: topic
keywords: "微操作,指令周期,取指,间址,执行,中断"
course: "计算机组成与体系结构"
courseid: EI209
---

<h2>取指周期</h2>
<pre>
MAR&lt;=PC
MBR&lt;=memory,temp&lt;=PC+1
IR&lt;=MBR,PC&lt;=temp
</pre>
<h2>间址周期</h2>
<pre>
MAR&lt;=IR[operand]
MBR&lt;=memory
IR[operand]&lt;=MBR
</pre>
<h2>执行周期</h2>
<p>视各指令而定</p>
<pre>
;ADD R1,X
MAR&lt;=IR[operand]
MBR&lt;=memory
temp&lt;=R1+MBR
R1&lt;=temp
</pre>
<h2>中断周期</h2>
<pre>
MBR&lt;=PC
MAR&lt;=push_PC_address,PC&lt;=ISR_entry
memory&lt;=MBR
</pre>
