---
title: "冯诺依曼体系"
layout: topic
keywords: "冯诺依曼体系,冯诺依曼结构,冯诺依曼机"
course: "计算机组成与体系结构"
courseid: EI209
---

<p>最早的计算机是ENIAC。ENIAC的特点：十进制，硬件连线表示程序。</p>
<h2>冯诺依曼机</h2>
<img src="VonNouma.png" width="376" height="288" alt="冯诺依曼结构"/>
<ol>
<li>数据和指令存储在单一的“读写存储器”中</li>
<li>存储器的内容通过位置寻址，而不考虑它容纳的数据是什么</li>
<li>以顺序的形式从一条指令执行到下一条指令，除非有明确的修改</li>
</ol>
