---
layout: article
title: "《信息安全的数学基础》课程学习情况调查结果"
courseid: IS201
course: "信息安全的数学基础"
---

<ul>
<li>调查日期：2008-06-15 ~ 2008-06-18</li>
<li>调查方式：Google Docs 在线表单</li>
<li>有效问卷：37人</li>
<li>原始数据：<a href="http://spreadsheets.google.com/pub?key=p4UHwBUXxMl7mH9ond-s5bw">有效问卷原始数据</a></li>
</ul>

<p>你去教室上过几次课？</p>
<ul>
<li>0~6：15人</li>
<li>7~12：3人</li>
<li>13~24：8人</li>
<li>24次以上：11人</li>
</ul>
<p>老师的讲课你能听懂多少？</p>
<ul>
<li>不到10%：22人</li>
<li>10%~50%：7人</li>
<li>50%~80%：1人</li>
<li>超过80%：7人</li>
</ul>
<p>课本你能看懂多少？</p>
<ul>
<li>不到10%：16人</li>
<li>10%~50%：8人</li>
<li>50%~80%：6人</li>
<li>超过80%：7人</li>
</ul>
<p>你会带电脑去考试吗？</p>
<ul>
<li>我没有便携式电脑，所以我不带电脑：5人</li>
<li>我没有便携式电脑，但是我会尽可能借一台带去：2人</li>
<li>我不想带电脑，因为电脑对我的解题没有帮助：21人</li>
<li>我会带电脑去，用于编程解题：5人</li>
<li>我会带电脑去，用于查阅课件：4人</li>
</ul>
<p>你觉得考试成绩能达到多少？</p>
<ul>
<li>90~100：11人</li>
<li>75~89：8人</li>
<li>60~74：13人</li>
<li>0~59：5人</li>
</ul>
