---
---
<!DOCTYPE html>
<html lang="zh-cn">
<meta charset="utf-8">
<title>阳光男孩的高中化学笔记本</title>
<link rel="stylesheet" href="https://unpkg.com/spectre.css@0.2.12/dist/spectre.min.css">

<body class="container">

<div class="columns">
<h1 class="column col-5" style="font-size:3.5rem;">阳光男孩的高中化学笔记本</h1>
<ul id="pagination" class="column col-7 pagination"><li></ul>
</div>

<div id="page"></div>

<script>
var minPage = 1, maxPage = 73;

function formatPageNo(page) {
  return page < 10 ? '0' + page : '' + page;
}

function refreshPage() {
  var m = location.hash.match(/#p=([0-9]+)/);
  if (m) {
    var page = parseInt(m[1], 10);
    if (!isNaN(page)) {
      page = Math.min(Math.max(page, minPage), maxPage);
      var canonicalHash = '#p=' + formatPageNo(page);
      if (location.hash != canonicalHash) {
        location.hash = canonicalHash;
        return;
      }
      renderPage(page);
      return;
    }
  }
  location.hash = '#p=' + formatPageNo(minPage);
}

function renderPage(page) {
  document.getElementById('page').innerHTML = '<img src="' + formatPageNo(page) + '.gif">';

  var b = '';
  var addPageItem = function(p, text) {
    text = text ? text : p;
    b += '<li class="page-item' + (text == page ? ' active' : '') + '">';
    if (p === '...') {
      b += '<span>...</span>';
    }
    else if (p < minPage || p > maxPage) {
      b += '<a href="javascript:;" disabled>' + text + '</a>';
    }
    else {
      b += '<a href="#p=' + formatPageNo(p) + '">' + text + '</a>';
    }
  };

  var nNearPages = 2;
  addPageItem(page - 1, '上一页');
  addPageItem(minPage, minPage);
  if (minPage + 1 < page - nNearPages) {
    addPageItem('...');
  }
  for (var p = Math.max(minPage + 1, page - nNearPages); p <= Math.min(maxPage - 1, page + nNearPages); ++p) {
    addPageItem(p);
  }
  if (maxPage - 1 > page + nNearPages) {
    addPageItem('...');
  }
  addPageItem(maxPage, maxPage);
  addPageItem(page + 1, '下一页');

  document.getElementById('pagination').innerHTML = b;
}

window.addEventListener('load', refreshPage);
window.addEventListener('hashchange', refreshPage);
</script>

<p>快速跳转：
<a href="#p=01">高一第一章</a>
<a href="#p=09">高一第五章</a>
<a href="#p=20">高二第八章</a>
<a href="#p=35">高二第十章</a>
<a href="#p=51">高三第一章</a>
<a href="#p=60">高三第六章</a>
</p>
{% include analytics.html %}
