---
layout: article
title: 现代密码学 样卷
courseid: IS407
course: 现代密码学
---

<P STYLE="margin-bottom: 0cm">著作权所有，你的阳光学习频道
<A HREF="https://yoursunny.com/study/">https://yoursunny.com/study/</A>
，保留所有权利</P>
<P STYLE="margin-bottom: 0cm">允许转载，允许打印、复印，必须保留著作权声明</P>
<P STYLE="margin-bottom: 0cm">如你发现技术错误，请联系作者，联系方式
<A HREF="https://yoursunny.com/m/">https://yoursunny.com/m/</A>

</P>
<P STYLE="margin-bottom: 0cm">题目中数值均为随机产生<A HREF="http://bbs.sjtu.edu.cn/bbscon?board=IS&amp;file=M.1225633522.A">http://bbs.sjtu.edu.cn/bbscon?board=IS&amp;file=M.1225633522.A</A></P>
<H2 CLASS="cjk">Ⅰ 安全威胁与防护措施</H2>
<P STYLE="margin-bottom: 0cm">⒈对安全的攻击，从信息流的角度可以分为<U>中断</U>、<U>截获</U>、<U>篡改</U>、<U>伪造</U>。</P>
<P STYLE="margin-bottom: 0cm">⒉篡改攻击是一种<U>主动攻击</U>。</P>
<H2 CLASS="cjk">Ⅱ 古典加密</H2>
<P STYLE="margin-bottom: 0cm">⒈用恺撒密码加密the
quick brown fox jumps over the lazy dog，密钥为6。</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">znk
waoiq hxuct lud pasvy ubkx znk rgfe jum</P>
<P STYLE="margin-bottom: 0cm">⒉恺撒密码可以扩充为单字母随机替换，用于26个英文字母时密钥空间是多大？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">密钥空间是26!。</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">a可以选择26个字母的任何一个，b在剩下25个字母中选择……</P>
<P STYLE="margin-bottom: 0cm">⒊为什么恺撒密码不安全？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">密钥空间太小。</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">密文显示了明文的统计规律；例如已知明文为英语，密文足够长时，出现最多的密文字母一定是e。</P>
<P STYLE="margin-bottom: 0cm">⒋用Hill密码加密yoursunny，密钥为<IMG SRC="2b8fd195.gif" NAME="Object1" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=126 HEIGHT=63></P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">sgotjiqxo</P>
<P STYLE="margin-bottom: 0cm">⒌用Hill密码解密idzugi，密钥为<IMG SRC="2b8fd195.gif" NAME="Object2" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=126 HEIGHT=63></P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">首先求出逆矩阵<IMG SRC="m7a9bc947.gif" NAME="Object3" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=138 HEIGHT=63>（从<IMG SRC="m1161d93e.gif" NAME="Object4" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=169 HEIGHT=63>起，作初等变换成<IMG SRC="3ed53ca2.gif" NAME="Object5" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=169 HEIGHT=63>）</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">然后解密得sjtuis</P>
<P STYLE="margin-bottom: 0cm">⒍分组长度为3的Hill密码，已知明文bbssjtucn对应的密文是ofwfmbwbb，破解密钥？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">bbssjtucn=[1,1,18,18,9,19,20,2,13]</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">ofwfmbwbb=[14,5,22,5,12,1,22,1,1]</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">列出线性方程组<IMG SRC="9012ff7.gif" NAME="Object6" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=167 HEIGHT=187>，解得<IMG SRC="4d96f2ec.gif" NAME="Object7" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=119 HEIGHT=63></P>
<H2 CLASS="cjk">Ⅲ 分组加密</H2>
<P STYLE="margin-bottom: 0cm">⒈解密密钥可以从加密密钥直接推出的密码算法是<U>对称密码算法</U>。</P>
<P STYLE="margin-bottom: 0cm">⒉Fiestel结构有<U>扩散</U>和<U>扰乱</U>的作用，为<U>统计分析</U>制造障碍</P>
<P STYLE="margin-bottom: 0cm">⒊根据如图的Fiestel结构解密框图，画出加密框图<BR><IMG SRC="2aba854c.png" NAME="graphics1" WIDTH=275 HEIGHT=230 BORDER=0></P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm"><U>加密框图是<IMG SRC="599618cb.png" NAME="graphics2" ALIGN=BOTTOM WIDTH=266 HEIGHT=230 BORDER=0></U></P>
<P STYLE="margin-bottom: 0cm">⒋求P盒[1
7 5 2 4 3 6 9 10 8]的逆</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">[1
4 6 5 3 7 2 10 8 9]</P>
<P STYLE="margin-bottom: 0cm">⒌用S-DES加密……，密钥为……，根据框图加密</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">略</P>
<H2 CLASS="cjk">Ⅳ 对称加密算法</H2>
<P STYLE="margin-bottom: 0cm">⒈DES算法的分组长度<U>64bit</U>，密钥长度<U>56bit</U>，分为<U>16</U>轮；IDEA算法的分组长度<U>64bit</U>，密钥长度128<U>bit</U>，分为<U>8</U>轮</P>
<P STYLE="margin-bottom: 0cm">⒉如图的工作模式加密框图，画出对应的解密框图<BR><BR>
</P>
<P STYLE="margin-bottom: 0cm"><IMG SRC="m398aec37.png" NAME="graphics3" ALIGN=BOTTOM WIDTH=478 HEIGHT=266 BORDER=0></P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">答案略</P>
<P STYLE="margin-bottom: 0cm">⒊IDEA<FONT COLOR="#ff0000">⊙</FONT>运算的快速运算表示为<IMG SRC="41959c6e.gif" NAME="Object8" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=191 HEIGHT=43>，其中的C<SUB>L</SUB>、C<SUB>H</SUB>、C<SUB>0</SUB>是什么？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm"><IMG SRC="175cb72f.png" NAME="graphics4" ALIGN=BOTTOM WIDTH=382 HEIGHT=125 BORDER=0><BR><A HREF="http://ieeexplore.ieee.org/iel5/6910/18613/00858836.pdf?arnumber=858836">http://ieeexplore.ieee.org/iel5/6910/18613/00858836.pdf?arnumber=858836</A></P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm"><IMG SRC="m5cad4ab.png" NAME="graphics5" ALIGN=BOTTOM WIDTH=517 HEIGHT=111 BORDER=0><BR><A HREF="http://www.cqvip.com/QK/98180A/2006002/21840184.html">http://www.cqvip.com/QK/98180A/2006002/21840184.html</A></P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">C<SUB>L</SUB>=ab
mod 2<SUP>n</SUP>，C<SUB>H</SUB>=ab
/ 2<SUP>n</SUP>，<IMG SRC="6983321d.gif" NAME="Object9" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=150 HEIGHT=74></P>
<P STYLE="margin-bottom: 0cm">⒋AES，对state矩阵的一列<IMG SRC="m42f2a7cf.gif" NAME="Object10" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=39 HEIGHT=80>作列混淆运算，<IMG SRC="m56143c85.gif" NAME="Object11" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=157 HEIGHT=20>，系数矩阵为<IMG SRC="51d70a65.gif" NAME="Object12" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=130 HEIGHT=84></P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">将这一列与系数矩阵在有限域上相乘，<IMG SRC="m28903a9f.gif" NAME="Object25" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=204 HEIGHT=84>（使用有限域上的加法）</P>
<H2 CLASS="cjk">Ⅴ 保密通讯</H2>
<P STYLE="margin-bottom: 0cm">⒈链路加密的缺点是<U>报文多次加解密造成时延</U>，<U>交换机上出现明文</U>，<U>用户无法控制报文安全性</U>……</P>
<P STYLE="margin-bottom: 0cm">⒉端到端加密的缺点是<U>不能隐藏通信流量</U>……</P>
<H2 CLASS="cjk">Ⅵ 公钥密码</H2>
<P STYLE="margin-bottom: 0cm">⒈公钥密码比传统密码更安全，正确吗？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">错误。任何加密算法的安全性依赖于密钥的长度和破译密文所需要的计算量。从抗密码分析的角度看，原则上不能说传统密码优于公钥密码，也不能说公钥密码优于传统密码。</P>
<P STYLE="margin-bottom: 0cm">⒉公钥密码是一种通用的方法，传统密码已经过时，正确吗？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">现有的公钥密码方法所需的计算量大，所以取代传统密码似乎不太可能。</P>
<P STYLE="margin-bottom: 0cm">⒊什么是“陷门单向函数”？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">满足下列3个条件的函数f，称为“陷门单向函数”：</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑴给定x，容易计算y=f(x)</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑵给定y，计算x使得y=f(x)很困难</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑶存在“陷门信息”δ；已知δ时，给定y，若对应的x存在，容易计算x使得y=f(x)</P>
<P STYLE="margin-bottom: 0cm">⒋多项式广义欧几里德除法，欧拉定理：略</P>
<H2 CLASS="cjk">Ⅶ RSA算法</H2>
<P STYLE="margin-bottom: 0cm">⒈已知RSA加密算法和解密算法，为什么解密结果等于明文？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm"><IMG SRC="14abd344.gif" NAME="Object14" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=519 HEIGHT=62></P>
<P STYLE="margin-bottom: 0cm">⒉给定RSA的密钥参数p=7,q=13,e=5，求公钥和私钥</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">n=pq=91</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">φ(n)=(p-1)(q-1)=72</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">d=e<SUP>-1</SUP>
mod φ(n)=29</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">公钥为{e=5,n=91}，私钥为{d=29,n=91}</P>
<P STYLE="margin-bottom: 0cm">⒊给定RSA公钥{e=5,n=91}，加密M=62</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">模重复平方计算法计算62<SUP>5</SUP>=69
mod 91，密文D=69</P>
<P STYLE="margin-bottom: 0cm">⒋RSA-OAEP对RSA的改进是<U>从确定性算法变为概率性算法从而抵抗适应性选择密文攻击</U>，其代价是<U>密文扩张为明文的两倍长度</U>。</P>
<H2 CLASS="cjk">Ⅷ ECC</H2>
<P STYLE="margin-bottom: 0cm">F<SUB>q</SUB>上ECC曲线方程<IMG SRC="71a8e10f.gif" NAME="Object15" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=208 HEIGHT=22></P>
<P STYLE="margin-bottom: 0cm">椭圆曲线方程<IMG SRC="26b4f46f.gif" NAME="Object19" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=243 HEIGHT=22>上，平常点A(x,y)的切线的斜率<IMG SRC="fc9085c.gif" NAME="Object18" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=278 HEIGHT=22><A HREF="http://tech.csai.cn/web/200604021704531906.htm">http://tech.csai.cn/web/200604021704531906.htm</A></P>
<P STYLE="margin-bottom: 0cm">⒈q=23,a=1,b=1，P(17,20)、Q(7,12)，求-P、P+Q、2P</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑴-P=(17,-20)=(17,3)</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑵设过P、Q的直线为y=kx+c，解得k=10、c=11；根据根与系数关系有<IMG SRC="9ed4aef.gif" NAME="Object16" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=104 HEIGHT=22>，解得x<SUB>3</SUB>=7；-(P+Q)=(7,12)，P+Q=(7,-12)=(7,11)<BR>注意：<IMG SRC="9ed4aef.gif" NAME="Object17" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=104 HEIGHT=22>这个要记住；使用有限域运算；最后不要忘了取负</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑶设过P的切线为y=kx+c，根据公式求得k=(3×17<SUP>2</SUP>+1)/(2×20)=17/17=1、c=3；根据根与系数关系有<IMG SRC="9ed4aef.gif" NAME="Object20" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=104 HEIGHT=22>，解得x<SUB>3</SUB>=13；-(2P)=(13,1)，2P=(13,-1)=(13,22)</P>
<P STYLE="margin-bottom: 0cm">⒉ECC算法的密钥生成方法：选定Ep(a,b)、K=kG，公钥为{Ep,K,G}、私钥为{Ep,k}；加密算法：明文编码到点M，产生随机整数r，计算C1=M+rK、C2=rG，密文为{C1,C2}。问，解密算法是什么？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">M=C1-kC2</P>
<H2 CLASS="cjk">Ⅸ 散列函数</H2>
<P STYLE="margin-bottom: 0cm">⒈什么是散列函数的单向性？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">给定x，计算y=H(x)容易；给定y，求x使y=H(x)困难</P>
<P STYLE="margin-bottom: 0cm">⒉什么是散列函数的弱抗攻击性？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">给定x，求y≠x使得H(x)=H(y)困难</P>
<P STYLE="margin-bottom: 0cm">⒊什么是散列函数的强抗攻击性？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">寻找任何(x,y)使得H(x)=H(y)困难</P>
<P STYLE="margin-bottom: 0cm">⒋MD5算法分组长度<U>512bit</U>，输出长度<U>128bit</U>；SHA1算法分组长度<U>512bit</U>，输出长度<U>160bit</U></P>
<H2 CLASS="cjk">Ⅹ 数字签名</H2>
<P STYLE="margin-bottom: 0cm">RSA签名方案是<IMG SRC="4daa92dc.gif" NAME="Object21" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=173 HEIGHT=23></P>
<P STYLE="margin-bottom: 0cm">⒈如何验证一个RSA签名？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">若<IMG SRC="m11d79997.gif" NAME="Object22" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=174 HEIGHT=21>，则报文未被篡改</P>
<P STYLE="margin-bottom: 0cm">⒉为什么要对H(Message)签名、而不是<IMG SRC="m5b4eb573.gif" NAME="Object23" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=145 HEIGHT=23>？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑴当Message很长，运算量太大</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑵已知Message的签名是S，那么任何人都可以计算<IMG SRC="m74ba5b8e.gif" NAME="Object24" ALIGN=ABSMIDDLE HSPACE=8 WIDTH=79 HEIGHT=23>的签名是S<SUP>2</SUP>，无法达到来源认证</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">⑶对M<SUP>e</SUP>签名，将导致报文被解密</P>
<H2 CLASS="cjk">Ⅺ 密钥管理</H2>
<P STYLE="margin-bottom: 0cm">⒈证书至少应包含哪些字段？</P>
<P STYLE="margin-left: 1.25cm; margin-bottom: 0cm">所有者的用户名，公钥，证书颁发者对{用户名,公钥}的签名</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<DIV TYPE=FOOTER>
	<P STYLE="margin-top: 0.5cm; margin-bottom: 0cm">现代密码学 样卷
	https://yoursunny.com/study/
	你的阳光学习频道</P>
</DIV>
