---
layout: topic
title: "推理结构性方法：BAN逻辑"
keywords: "BAN"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">分析：请用文字解释下列公理的意义<br/>bel(P,<sup>K</sup>→Q) , sees(P,{X}<sub>K<sup>-1</sup></sub>) =&gt; bel( P, said(Q,X) )<br/>
<span class="key">P相信，K是Q的公钥；P收到了用Q的私钥签名的消息X。那么，P可以相信，Q发送了消息X。</span></p>
<p class="q">分析：请用文字解释下列公理的意义<br/>bel(P,cont(Q,X)) , bel(P,bel(Q,X)) =&gt; bel(P,X)<br/>
<span class="key">P相信，消息X是由Q控制的(比如它是Q产生的，别人不能产生)；P也相信，Q认可X。那么，P就可以相信消息X。</span></p>
<p class="q">简答：BAN逻辑分析过程<br/>
<span class="key">理想化协议，对初始状态作出假设，将协议用BAN逻辑的符号表示，用推理规则得出协议试图达到的信念</span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
