---
layout: topic
title: "Contract Signing Protocols"
keywords: "CSP协议,电子合同签订,TTP,Abuse-Free"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">简答：CSP的目的和作用<br/>
<span class="key">双方签订协议；合同对于双方已知，不进行协商（对“拍卖”不适用）；攻击者可以是第三方、或签订合同的对方。<br/>公平交易：双方都想签订协议，但是都不想先签名；协议要保证同时成功、或同时失败。</span></p>
<p class="q">名词解释：TTP<br/>
<span class="key">TTP=Trusted Third Party<br/>It is impossible to solve strong fair exchange without a trusted third party. The proof is by relating strong fair exchange to the problem of consensus and adapting the impossibility result of Fischer, Lynch and Paterson. <a href="http://theory.stanford.edu/~jcm/slides/tecs-05/05-Contract-Signing%20Protocols.ppt">via</a></span></p>
<p class="q">Asokan-Shoup-Waidner乐观协议<br/>
<span class="key"><img src="Asokan-Shoup-Waidner.png" width="553" height="326" alt="Asokan-Shoup-Waidner协议"/><a href="http://theory.stanford.edu/~jcm/slides/tecs-05/05-Contract-Signing%20Protocols.ppt">via</a></span></p>
<p class="q">Garay-Jakobsson-MacKenzie Abuse-Free协议<br/>
<span class="key"><img src="Garay-Jakobsson-MacKenzie.png" width="553" height="327" alt="Garay-Jakobsson-MacKenzie协议"/><a href="http://theory.stanford.edu/~jcm/slides/tecs-05/05-Contract-Signing%20Protocols.ppt">via</a></span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
