---
layout: topic
title: "攻击结构性方法：通信顺序进程CSP"
keywords: "CSP,Communicating Sequential Processes"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">名词解释：CSP<br/>
<span class="key">Communicating Sequential Processes通信顺序进程，是一个专为描述并发系统中通过消息交换进行交互的通信实体行为而设计的一种抽象语言，它可用于网络安全协议的描述与分析。</span></p>
<p class="q">名词解释：事件<br/>
<span class="key">协议系统通过其执行的一系列事件加以描述。一个典型的CSP事件记作c,i,j,m，包括信道c、消息源i、目的地j、消息m。</span></p>
<p class="q">名词解释：进程<br/>
<span class="key">进程是系统的组成部分。CSP用进程可能涉及的事件来描述进程。</span></p>
<p class="q">名词解释：STOP进程<br/>
<span class="key">不包含任何事件，等价于死锁</span></p>
<p class="q">名词解释：c!v→P进程<br/>
<span class="key">在信道c上输出消息v，然后表现得像P</span></p>
<p class="q">名词解释：c?x:T→P(x)进程<br/>
<span class="key">在信道c上输入类型为T的任意消息x，然后表现得像P(x)</span></p>
<p class="q">名词解释：P□Q进程<br/>
<span class="key">表现得或像P、或像Q</span></p>
<p class="q">名词解释：P[D]|Q进程<br/>
<span class="key">如果集合D中的事件发生，则P、Q同步执行；否则，P、Q分别执行</span></p>
<p class="q">名词解释：P=a→b→P进程<br/>
<span class="key">递归。进行P交替执行事件a和事件b</span></p>
<p class="q">名词解释：路径trace<br/>
<span class="key">进程P可能执行的事件的序列，记作(trace(P))。例如P=a→b→P进程的一个可能的路径是&lt;a,b,a&gt;</span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
