---
layout: course
courseid: IS216
title: "Internet安全协议与标准"
school: "上海交通大学信息安全专业"
instructor: "张保稳"

download_link: http://cid-1fa4aa816e7dc9f3.skydrive.live.com/browse.aspx/yoursunny-study/IS216
downloads:
    - "概论_概论.ppt"
    - "概论_安全协议.ppt"
    - "协议_CSP.ppt"
    - "协议_CSP_stanford.ppt"
    - "协议_IPSec.ppt"
    - "协议_IPSec_学生讲稿.ppt"
    - "协议_Kerberos.ppt"
    - "协议_PGP.ppt"
    - "协议_SET.ppt"
    - "协议_SSL.ppt"
    - "协议_SSL_学生讲稿.ppt"
    - "分析_BAN.pdf"
    - "分析_BAN.ppt"
    - "分析_CSP.ppt"
    - "分析_FDR.pdf"
    - "分析_SVO.ppt"
    - "分析_串空间.pdf"
    - "分析_串空间.ppt"
    - "安全协议理论与方法_范红_冯登国_2003.pdf"
    - "课程总结.ppt"
---

<h2>Internet安全协议与标准 练习题</h2>
<p>声明：练习题不是历年真题，而是根据考试范围猜测的，仅供参考</p>
<ul>
<li><b>概论</b>
<a href="intro.htm">概论</a>
<a href="sp.htm">安全协议</a>
</li>
<li><b>协议</b>
<a href="SET.htm">SET</a>
<a href="Kerberos.htm">Kerberos</a>
<a href="IPSec.htm">IPSec</a>
<a href="SSL.htm">SSL</a>
<a href="PGP.htm">PGP</a>
<a href="CSP.htm">CSP</a>
</li>
<li><b>分析</b>
<a href="BAN.htm">推理结构性方法：BAN逻辑</a>
<a href="SVO.htm">推理结构性方法：SVO逻辑</a>
<br/>
<a href="CSPa.htm">攻击结构性方法：通信顺序进程CSP</a>
<a href="strand.htm">证明结构性方法：串空间</a>
</li>
</ul>
