---
layout: topic
title: "概论"
keywords: "信息安全,信息系统"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">信息系统安全范围<br/>
<span class="key">物理安全，计算机安全，网络安全</span></p>
<p class="q">网络安全需求有哪些？<br/>
<span class="key">身份鉴别，访问控制，数据机密性，数据完整性，抗否认，可用性</span></p>
<p class="q">名词解释：抗否认<br/>
<span class="key">一旦事务结束，有关各方都不能否认自己参与过这次事务。</span></p>
<p class="q">名词解释：HASH函数<br/>
<span class="key">一个函数H，它接受一可变长输入m，返回一固定长度串h。h称为m的HASH值。HASH函数起到可靠校验和的作用。</span></p>
<p class="q">名词解释：数字签名<br/>
<span class="key">使用公开密钥加密系统来保证消息的完整性和对发送者身份的确认。由签名和校验两部分组成。</span></p>
<p class="q">数字签名的安全属性<br/>
<span class="key">不可抵赖性，不可否认性，发生争执时可由第三方仲裁</span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
