---
layout: topic
title: "Kerberos协议"
keywords: "Kerberos,RFC 1510,Kerberos V5,KDC,Authenticator"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">名词解释：KDC<br/>
<span class="key">Key Distribution Center密钥分发中心，是一个网络服务，提供Ticket和临时会话密钥。</span></p>
<p class="q">名词解释：Ticket<br/>
<span class="key">一个记录，客户用它向服务器证明自己的身份。包含客户标识、会话密钥、时戳等，用服务器的密钥加密。</span></p>
<p class="q">名词解释：Authenticator<br/>
<span class="key">一个记录，包含一些新近产生的信息。用客户与服务器的共享密钥产生Authenticator。</span></p>
<p class="q">名词解释：Credentials<br/>
<span class="key">Ticket + 秘密的会话密钥</span></p>
<p class="q">简答：Kerberos工作流程<br/>
<span class="key"><img src="Kerberos.png" width="778" height="617" alt="Kerberos工作流程"/><br/>Authentication Server提供认证服务，Ticket Granting Server提供授权和访问控制服务</span></p>
<p class="q">Kerberos的优点<br/>
<span class="key">密码不易被窃听，密码不在网上传输，密码猜测更困难，Single Sign-On，Ticket被盗后难以使用（需要配合Authenticator使用）</span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
