---
layout: topic
title: "OpenPGP协议"
keywords: "PGP,GPG,GnuPG,OpenPGP,RFC 4880,Web of trust,公钥环,私钥环"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">名词解释：PGP<br/>
<span class="key">Pretty Good Privacy(PGP)是一个提供加密和认证的计算机程序。PGP经常被用于签名、加密和解密电子邮件，以增加电子邮件通信的安全性。商业软件PGP和开源软件GnuPG(GPG)根据OpenPGP(RFC 4880)协议加密和解密数据。<a href="http://en.wikipedia.org/wiki/Pretty_Good_Privacy">翻译自wikipedia,原文根据GFDL授权</a></span></p>
<p class="q">名词解释：公钥环、私钥环<br/>
<span class="key">密钥以加密形式存储在磁盘上。PGP将密钥存储在你硬盘上的两个文件；一个存储公钥、一个存储私钥。这两个文件称为keyring。当你使用PGP时，你通常将你的收件人的公钥加入公钥环public keyring。你的私钥存储在私钥环private keyring里。如果你丢失了你的私钥环，你将无法解密任何用这个私钥环中的密钥加密的信息。<a href="http://www.pgpi.org/doc/pgpintro/">via</a></span></p>
<p class="q">简答：OpenPGP的信任问题 &amp; 名词解释：Web of trust<br/>
<span class="key">当加密消息、验证签名时，确认一个公钥确实属于对方是非常重要的。简单的从某处下载一个公钥，不能抵抗故意或者意外的渗透攻击。从PGP最初的版本开始，用户就可以在证书中分发他的公钥，对证书的任何篡改都可以被发现；但是仅仅制作一个无法被篡改而不被发现的证书是不够的，因为这只能避免的证书制作之后的篡改。用户还必须通过某种手段确认，证书中包含的那个公钥，确实属于它声称的那个人；从PGP最初的版本开始，就包含一个“证书审查机制”以帮助实现这一点：这就是Web of trust。<b>一个公钥（确切的说，用户名-公钥的绑定）可以被第三方用户签名，以证实某人（一个用户名）与这个公钥的关联。</b><a href="http://en.wikipedia.org/wiki/Pretty_Good_Privacy">翻译自wikipedia,原文根据GFDL授权</a></span></p>
<p class="q">简答：根据PGP发送过程绘制接收验证过程<br/><img src="PGP-sender.png" width="600" alt="384" alt="PGP发送过程"/><br/>
<span class="key"><img src="PGP-receiver.png" width="638" height="355" alt="PGP接收验证过程"/><br/>阳光男孩原创作品，<a href="PGP-receiver.dia">dia源文件</a>，Creative Commons BY-NC-SA 3.0</span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
