---
layout: topic
title: "SET协议"
keywords: "SET协议,电子商务,Secure Eletronic Transaction,双重签名,Dual Signatures"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">名词解释：SET<br/>
<span class="key">SET协议的全称是Secure Eletronic Transaction，SET协议是使用信用卡交易的官方规范；SET协议仅仅关心支付问题</span></p>
<p class="q">SET支付模式<br/>
<span class="key"><img src="SET.png" width="358" height="167" alt="SET框图"/></span></p>
<p class="q">简答：SET协议的目标<br/>
<span class="key">信息传输不能被窃听或篡改，妥善保护用户资料（商家不能看到账户信息），持卡人和商家相互认证，兼容性和互操作性</span></p>
<p class="q">简答：电子支付的流程<br/>
<span class="key">客户在发卡行开户并获得X.509证书，商家持有两个X.509证书（一个用于签名、一个用于密钥交换），客户向商家发订单，商家出示证书，客户发送订单和支付信息给商家，商家向支付网关请求支付授权，商家确认客户订单，发货，商家向支付网关请求支付</span></p>
<p class="q">名词解释：双重数字签名 Dual Signatures<br/>
<span class="key">将两个信息链接在一起，这两个信息面向的对象不同（订单信息给商家、支付信息给银行），保护客户隐私、防止信息非法使用。<br/>Dual Signature = E<sub>KRC</sub>[H( H(PI)||H(OI) )]<br/>
双重签名的用途：校验订单信息，校验支付信息，证明订单信息与支付信息的关联</span></p>
<p class="q">简答：绘制PReq消息的校验流程<br/><img src="PReq.png" width="407" height="602" alt="SET协议的PReq消息"/><br/>
<span class="key"><img src="PReq-verify.png" width="476" height="561" alt="SET协议的PReq消息校验流程"/></span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
