---
layout: topic
title: "安全协议"
keywords: "协议,安全协议,安全协议的设计准则,安全协议的缺陷"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">名词解释：协议<br/>
<span class="key">两个或两个以上参与者采取一系列的步骤，以完成某项特定的任务。</span></p>
<p class="q">名词解释：安全协议<br/>
<span class="key">基于密码体制，在分布式系统、<a href="../IS204/">通信网</a>中，实现密钥分配、身份认证、信息保密、电子商务等目标。</span></p>
<p class="q">安全协议的类型<br/>
<span class="key">密钥交换协议，认证协议，认证和密钥交换协议，电子商务</span></p>
<p class="q">安全协议的安全属性<br/>
<span class="key">认证性，保密性，完整性，抗否认性</span></p>
<p class="q">安全协议的设计准则<br/>
<span class="key">消息前提正确（消息能独立验证完整性），主体身份标识（能识别发送、接收者是谁），签名，随机数（通过序列号满足时序要求），时戳（满足时序要求、需要时钟同步）</span></p>
<p class="q">安全协议的缺陷<br/>
<span class="key">基本协议缺陷（无法完整基本功能），陈旧消息（重放攻击引发非正常协议状态），并行会话（A-B的会话与C-D的会话互相干扰）</span></p>
<p class="q">名词解释：安全协议的形式化分析<br/>
<span class="key">正规、标准的方法对协议进行分析，以检查协议是否满足其安全目标。有助于：边界界定，行为描述，特性定义，安全性分析</span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
