---
layout: topic
title: "SSL协议"
keywords: "SSL,RFC 2246,TLS"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">名词解释：SSL/TLS协议<br/>
<span class="key">安全套接层（Secure Sockets Layer，SSL）及其继任者传输层安全（Transport Layer Security，TLS）是在互联网上提供安全保密的通讯协议，为诸如网站、电子邮件、网上传真等等数据传输进行保密。SSL 3.0和TLS 1.0有轻微差别，但两种规范其实大致相同。TLS利用密钥算法在互联网上提供端点身份认证与通讯保密，其基础是公钥基础设施（PKI）。协议的设计在某种程度上能够使客户端/服务器应用程序通讯本身预防窃听、干扰（Tampering）、和消息伪造。<a href="http://zh.wikipedia.org/wiki/%E4%BC%A0%E8%BE%93%E5%B1%82%E5%AE%89%E5%85%A8">via:wikipedia,根据GFDL授权</a></span></p>
<p class="q">简答：SSL/TLS握手过程<br/>
<span class="key"><img src="SSL-handshake.png" width="700" height="620" alt="SSL handshake with two way authentication with certificates"/><br/><a href="http://zh.wikipedia.org/wiki/Image:Ssl_handshake_with_two_way_authentication_with_certificates.png">by:Christian Friedrich</a></span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
