---
layout: topic
title: "证明结构性方法：串空间"
keywords: "串,串空间,bundle"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">名词解释：串<br/>
<span class="key">一个事件的序列</span></p>
<p class="q">名词解释：串空间<br/>
<span class="key">串的集合，通过因果关系彼此关联</span></p>
<p class="q">分析：找出下列串空间中两个bundle<br/><img src="bundle.png" width="312" height="256" alt="串空间,bundle"/><br/>
<span class="key"><img src="bundle2.png" width="312" height="256" alt="串空间,bundle"/></span></p>
<p><a href="strand-space-bundle.txt">串空间bundle求解方法</a></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
