---
layout: topic
title: "推理结构性方法：SVO逻辑"
keywords: "SVO"
course: "Internet安全协议与标准"
courseid: IS216
---

<p class="q">分析：请用文字解释下列公理的意义<br/>┐bel(P,φ) =&gt; bel( P , ┐bel(P,φ) )<br/>
<span class="key">P不相信命题φ。所以，P相信：“P不相信命题φ”。</span></p>
<p class="q">分析：请用文字解释下列公理的意义<br/>sees( P , {X}<sub>K<sup>+</sup></sub> ) , has(P,K<sup>-</sup>) =&gt; sees(P,X)<br/>
<span class="key">P收到用公钥K加密的消息X，而且P持有对应的私钥K。那么，P可以解密并看到消息X。</span></p>
<p class="q">简答：SVO逻辑分析过程<br/>
<span class="key">对初始状态作出假设，将协议用SVO逻辑的符号表示，假设理解了收到的消息，假设解释了理解的消息，用推理规则得出协议试图达到的信念</span></p>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
$('.q .key').hide().after('<a href="javascript:;" class="showkey">显示答案</a>');
$('.q .showkey').click(function(){ $(this).prev().show().end().remove(); });
</script>
