<!DOCTYPE html>
<html lang="zh-cn">
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.staticfile.net/pure/3.0.0/pure-min.css">
<link rel="stylesheet" href="{% link assets/style.css %}">
