---
layout: topic
title: "SSE-CMM应用"
keywords: "过程改进,IDEAL,能力评定,获得保证"
course: "信息安全工程原理"
courseid: IS221
---

<h2>SSE-CMM应用于过程改进</h2>
<p><a href="process.htm">过程</a>是产品成本、进度、质量的决定性因素之一。</p>
<p>过程改进的IDEAL方法<br/>
<img src="process-improvement.png" width="764" height="473" alt="IDEAL"/></p>
<h2>SSE-CMM应用于能力评定</h2>
<p>SSE-CMM的评定方法：<a href="SSAM.htm">SSAM</a></p>
<h2>SSE-CMM应用于获得保证</h2>
<dl>
<dt>保证目标</dt>
<dd>提供一个测量和改进的方法，将客户安全需求转化为安全工程过程</dd>
<dd>通过全面的评价、认证、认可，实现正式安全保证；对不需要正式安全保证的客户，提供可变化的保证</dd>
<dt>过程证据</dt>
<dd>表示产品或系统的生命周期遵循特定的过程</dd>
<dd>作为支持性的、间接的角色</dd>
<dd>要确信产品或系统可信，关键在于为产品或系统建立一个综合的证据集</dd>
</dl>
