---
layout: topic
title: "SSE-CMM的体系结构"
keywords: "域维,基本实施,能力维,通用实施,工程实施活动"
course: "信息安全工程原理"
courseid: IS221
---

<p>SSE-CMM方法学以<i>工程域维</i>和<i>能力维</i>来诠释信息安全工程过程。</p>
<h2>SSE-CMM模型是两维的</h2>
<h3><a href="BP.htm">域维</a></h3>
<dl>
<dt>域维包含安全工程的基本特征</dt>
<dd>由所有定义安全工程的工程实施活动组成</dd>
<dt>基本实施BP</dt>
<dd>定义了取得过程域目标的必要步骤</dd>
<dd>本质：工程实施活动，工程中的行为活动</dd>
<dd>与GP的区别：BP针对具体安全工作</dd>
<dt>过程域PA</dt>
<dd>一组相关的基本实施</dd>
<dd>当一个过程域中的所有基本实施全部实现，就可满足过程域的要求</dd>
<dt>过程类/过程域组</dt>
<dd>一组过程域的集合</dd>
</dl>
<img src="domain-dimension.png" width="331" height="324" alt="基本实施-过程域"/>
<p class="q">辨析：PA02包含6个BP，现在裁减掉其中2个、实现了4个，则已经满足PA02的要求。
<span class="key">错误。基本实施是不可以裁减的，要满足过程域要求就必须实现其包含的全部BP。</span></p>
<p class="q">辨析：风险过程域组包含PA04、PA05、PA02、PA03，可以只实现其中的PA04、PA05，而将PA02、PA03裁减掉。
<span class="key">正确。过程域是可以裁减的。</span></p>
<h3><a href="GP.htm">能力维</a></h3>
<dl>
<dt>能力维包含管理和制度化特征</dt>
<dd>代表机构对过程的管理和制度化能力</dd>
<dt>通用实施GP</dt>
<dd>针对过程的管理、测量、制度化，是应用于所有PA的活动</dd>
<dd>本质：工程实施活动，工程中的行为活动</dd>
<dd>与BP的区别：GP针对履行BP的安全工作时实施的通用行为</dd>
<dt>公共特征CF</dt>
<dd>通用实施的集合</dd>
<dd>每个CF面向同一类过程的管理和制度化</dd>
<dt>能力级别CL</dt>
<dd>若干个公共特征的组合</dd>
</dl>
<img src="capability-dimension.png" width="327" height="391" alt="通用实施-公共特征-能力级别"/>
<p class="q">辨析：一个非正式执行级的工程机构，通过进化，直接达到了充分定义级。
<span class="key">错误。能力维的进化必须依次达到，从非正式执行级进化到充分定义级，不能跳过计划和跟踪级。</span></p>
<p class="q">辨析：充分定义级包含公共特征“协调过程”，进化到量化控制级后，不再需要实现“协调过程”。
<span class="key">错误。能力级别的进化表示依次增加的安全工程能力，高能力级别要包含低能力级别的所有公共特征。</span></p>
<style>
.q .key { color:#006600; }
.q .hidekey { color:#3366FF; cursor:pointer; }
</style>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
var keys=$('.q .key');
if (keys.length>0) {
	keys.each(function(){
		var d=$(this).addClass('hidekey').one('click',function(){
			d.removeClass('hidekey').html(d.data('key'));
		});
		d.data('key',d.html()).text('显示答案');
	});
}
</script>
