---
layout: topic
title: "SSE-CMM过程域"
keywords: "风险过程,工程过程,保证过程"
course: "信息安全工程原理"
courseid: IS221
---

<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script type="text/javascript">//<![CDATA[
function BP(n){
	$('.BP').hide();
	$('#BP'+n).show();
}
$(function(){
	BP(0);
});
//]]></script>
<h2><a href="javascript:BP(1)">风险过程域组</a></h2>
<div id="BP1" class="BP">
<img src="risk-process.png" width="707" height="403" alt="SSE-CMM风险过程域组"/>
<dl>
<dt>PA04 评估威胁</dt>
<dd>自然威胁</dd>
<dd>人为威胁；是谁要攻击我，他有什么能力</dd>
<dd>威胁事件发生的可能性有多大？</dd>
<dd>在系统的生命周期中，威胁是会发生变化的</dd>
<dt>PA05 评估脆弱性</dt>
<dd><b>脆弱性</b>：可被利用完成不期望行为的系统的某些特征、安全弱点、漏洞或易被威胁所攻击的系统的实施缺陷</dd>
<dd>决定如何识别脆弱性；识别脆弱性；收集相关数据</dd>
<dd>在系统的生命周期中，脆弱性是会发生变化的</dd>
<dt>PA02 评估影响</dt>
<dd>系统有哪些功能？有哪些资产（资源和数据）？</dd>
<dd>如果我的资产遭到破坏、泄露、阻断、丢失，功能遭到拦截、延迟弱化，会造成什么后果？</dd>
<dd>包括有形的影响（例如减少财政收入、减少营业额），无形的影响（例如企业声誉损失）</dd>
<dd>这些影响发生的可能性有多大？</dd>
<dd>在系统的生命周期中，影响是会发生变化的</dd>
<dt>PA03 评估安全风险</dt>
<dd><b>暴露</b>：可能对系统造成重大伤害的威胁、脆弱性、影响的组合</dd>
<dd>找出系统的暴露；评估与每个暴露相关的风险；排列优先次序</dd>
<dd>在系统的生命周期中，威胁、脆弱性、影响会发生变化，因此暴露也会发生变化</dd>
</dl>
</div>
<h2><a href="javascript:BP(2)">工程过程域组</a></h2>
<div id="BP2" class="BP">
<img src="engineering-process.png" width="684" height="375" alt="SSE-CMM工程过程域组"/>
<dl>
<dt>PA10 确定安全需求</dt>
<dd>在所有团体(包括客户)之间达成对安全需求的共同认识</dd>
<dd>对系统进行认可时，安全需要要参照系统安全基线</dd>
<dd>客户的要求 + 法律、政策、标准 + 由用途决定的安全背景</dd>
<dd>高层认识→高层目标→一致的声明→达成一致认识</dd>
<dd>安全需求应与系统目标建立映射关系或发生关联，安全都应将对系统功能和性能的任何影响降到最小</dd>
<dt>PA09 提供安全输入</dt>
<dd>判断安全约束、安全考虑</dd>
<dd>标识、分析、比较备选方案，包括设备选型</dd>
<dd>向其他工程组、管理员、客户提供安全指南</dd>
<dt>PA01 管理安全控制</dt>
<dd>确保设计中集成的安全性能够在最终系统运行状态中实现</dd>
<dd>建立职责；管理配置；安全意识教育和培训；定期维护管理</dd>
<dt>PA08 监视安全态势</dt>
<dd>分析事件记录；识别突发事件，管理响应；监视安全措施的功能、性能、安全状态</dd>
<dd>安全突发事件响应：标识最长允许失效时间、重要功能部件，制定、测试、维护“恢复战略和计划”，</dd>
<dt>PA07 协调安全性</dt>
<dd>建立协调机制→用协调机制去协调有关安全的决策和建议</dd>
</dl>
</div>
<h2><a href="javascript:BP(3)">保证过程域组</a></h2>
<div id="BP3" class="BP">
<img src="assurance-process.png" width="689" height="296" alt="SSE-CMM保证过程域组"/>
<dl>
<dt>PA11 验证和确认安全</dt>
<dt>PA06 建立保证论据</dt>
<dd>告诉客户，其安全需求已获满足</dd>
<dd>一个保证论据是一系列清晰陈述的保证目标，每个保证目标由多个保证论据所支持</dd>
<dd>相关主题：<a href="application.htm">保证目标</a></dd>
</dl>
</div>
