---
layout: topic
title: "Common Criteria"
keywords: "CC标准,CC评价准则,CC共同准则,CC通用准则,ISO14508"
course: "信息安全工程原理"
courseid: IS221
---

<p><b>Common Criteria</b>(ISO15408,共同准则,通用准则)被用于政府和其他组织去评定<i>IT产品</i>的安全和保障。CC标准提供了<b>唯一的安全需求表达方式</b>。</p>
<h2>CC基本结构</h2>
<dl>
<dt>第1部分 介绍和总体模型</dt>
<dd>定义IT安全评价</dd>
<dd>描述模型的一般概念和原则</dd>
<dt>第2部分 安全功能要求</dt>
<dd>用标准化的方法对<a href="TOE-PP-ST.htm">评估目标TOE</a>建立一个明确的安全要求的部件功能集合</dd>
<dd>功能集合：部件-族-类</dd>
<dd>第3部分 安全保证要求</dd>
<dd>用标准化的方法对<a href="TOE-PP-ST.htm">评估目标TOE</a>建立一个明确的安全要求的保证部件的集合</dd>
<dd>对<a href="TOE-PP-ST.htm">保护方案PP</a>和<a href="TOE-PP-ST.htm">安全目标ST</a>进行定义，并且对<a href="TOE-PP-ST.htm">评估目标TOE</a>提出<i>安全评价保证级别EAL</i></dd>
<dt>配套的评估方法</dt>
<dd>信息技术安全通用评估方法 ISO18045</dd>
</dl>
