---
layout: topic
title: "安全功能要求 安全保证要求"
keywords: "安全功能类"
course: "信息安全工程原理"
courseid: IS221
---

<h2><a href="CC.htm">Common Criteria</a>的安全功能类</h2>
<ul>
<li>FAU 安全审计</li>
<li>FCO 通信</li>
<li>FCS 密码支持</li>
<li>FDP 用户数据保护</li>
<li>FIA 标识与鉴别</li>
<li>FMT 安全管理</li>
<li>FPR 隐秘</li>
<li>FPT TFS保护</li>
<li>FRU 资源利用</li>
<li>FTA TOE访问</li>
<li>FTP 可信信道/路径</li>
</ul>
<h2><a href="CC.htm">Common Criteria</a>的安全保证要求</h2>
<ul>
<li>ACM 配置管理</li>
<li>ADO 交付与运行</li>
<li>ADV 开发文档</li>
<li>AGD 指南文档</li>
<li>ALC 生命周期支持</li>
<li>ATE 测试</li>
<li>AVA 脆弱性评估</li>
<li>APE PP评估</li>
<li>ASE ST评估</li>
<li>AMA 保证的维持</li>
</ul>
