---
layout: topic
title: "信息安全工程"
keywords: "什么是信息安全工程,信息系统生命周期"
course: "信息安全工程原理"
courseid: IS221
---

<h2>信息安全工程</h2>
<p>信息安全工程是采用工程的概念、原理、技术和方法，来研究、开发、实施与维护信息系统安全的<b>过程</b>，是将经过时间考验是正确的<i>工程实施流程</i>、<i>管理技术</i>和当前能够得到的最好的<i>技术方法</i>相结合的过程。</p>
<h2>信息系统生命周期</h2>
<ol>
<li>启动</li>
<li>开发/采办</li>
<li>实现</li>
<li>运行/维护</li>
<li>废弃</li>
</ol>
<h2>信息安全工程的发展</h2>
<ul>
<li><a href="ISSE.htm">ISSE</a> 信息安全系统工程</li>
<li><a href="SSE-CMM.htm">SSE-CMM</a> 系统安全工程能力成熟模型</li>
<li><a href="SSAM.htm">SSAM</a> SSE-CMM评估方法</li>
</ul>
