---
layout: topic
title: "TOE评估过程"
keywords: "以CC为基础的信息安全测评"
course: "信息安全工程原理"
courseid: IS221
---

<p>以<a href="CC.htm">CC</a>为基础的信息安全测评过程：</p>
<ol>
<li>评估<a href="TOE-PP-ST.htm">PP</a></li>
<li>评估<a href="TOE-PP-ST.htm">ST</a></li>
<li>评估<a href="TOE-PP-ST.htm">TOE</a>：证明ST的实现满足PP的要求<br/>
<img src="evaluation.png" width="483" height="321" alt="TOE评估过程"/></li>
</ol>
