---
layout: topic
title: "SSE-CMM能力级别"
keywords: "通用实施,GP,公共特征,CF,能力级别"
course: "信息安全工程原理"
courseid: IS221
---

<h2>5个能力级别</h2>
<dl>
<dt>1 非正式执行级</dt>
<dd><a href="BP.htm">基本实施</a>已经得到执行</dd>
<dd>用工作结果证实基本实施已经得到执行</dd>
<dt>2 计划和跟踪级</dt>
<dd>基本实施执行需要经过规划并跟踪</dd>
<dd>执行时要依据具体的流程，并得到验证</dd>
<dd>工作结果要符合特定的标准和需求</dd>
<dd>与级别1的区别：过程实施被规划和管理</dd>
<dt>3 充分定义级</dt>
<dd>基本实施按照充分定义的过程执行</dd>
<dd>执行过程中将使用已获批准的、经裁减的标准</dd>
<dd>与级别2的区别：利用机构范围内的标准化过程来规划和管理安全工程过程</dd>
<dt>4 量化控制级</dt>
<dd>过程执行管理是客观的，工作结果质量是量化的</dd>
<dd>形成对过程能力的量化理解，使机构有能力去预测过程的执行</dd>
<dd>与级别3的区别：所定义的过程是可量化和理解的</dd>
<dt>5 持续改进级</dt>
<dd>工程过程效果和效率的量化执行目标已经基于机构的业务目标而建立</dd>
<dd>于级别4的区别：基于对这些过程变化的量化理解，工程中既定过程和标准过程将得到不断的改进和提高</dd>
</dl>
<img src="GP.png" width="689" height="536" alt="能力级别-公共特征-通用实施"/>
<h2>2条进化路径</h2>
<ul>
<li>执行过程→使用计划、标准和流程→使用充分定义的过程</li>
<li>采取修正措施→使用充分定义的数据→使用过程能力</li>
</ul>
<p><a href="http://bbs.sjtu.edu.cn/bbstcon?board=IS&reid=1225410745">关于进化路径的更多理解</a></p>
