---
layout: topic
title: "安全保证"
keywords: "信任,成熟"
course: "信息安全工程原理"
courseid: IS221
---

<dl>
<dt>安全保证</dt>
<dd>安全需要得到满足的<b>信任程度</b></dd>
<dd>这种信任的基础是<b>成熟机构比不成熟机构更可能产生出重复的结果</b></dd>
<dd>并不能添加任何额外的对安全相关风险的抗拒能力，但它能为减少预期安全风险控制提供<a href="infosec.htm">信心</a></dd>
<dd>也可以看作安全措施按照要求运行的信心，这种信心来自于<b>正确性和有效性</b></dd>
<dd>通常以<b>安全论据</b>的形式出现</dd>
</dl>
<p class="q">辨析：安全保证使信息系统变得更加安全。<span class="key">错误。安全保证并不能添加任何额外的对安全相关风险的抗拒能力，但它能为减少预期安全风险控制提供信心。</span></p>
<style>
.q .key { color:#006600; }
.q .hidekey { color:#3366FF; cursor:pointer; }
</style>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
var keys=$('.q .key');
if (keys.length>0) {
	keys.each(function(){
		var d=$(this).addClass('hidekey').one('click',function(){
			d.removeClass('hidekey').html(d.data('key'));
		});
		d.data('key',d.html()).text('显示答案');
	});
}
</script>
