---
layout: course
courseid: IS221
title: "信息安全工程原理"
school: "上海交通大学信息安全专业"
instructor: "周宁"

download_link: http://cid-1fa4aa816e7dc9f3.skydrive.live.com/browse.aspx/yoursunny-study/IS221
downloads:
    - "01绪论a信息安全基本概念.pdf"
    - "01绪论b信息安全的现状.pdf"
    - "01绪论c什么是信息安全工程.pdf"
    - "02a系统工程.pdf"
    - "02b信息安全系统工程.pdf"
    - "03a CMM.pdf"
    - "03b SSE-CMM概述.pdf"
    - "03c SSE-CMM的过程域.pdf"
    - "03d SSE-CMM的能力级别.pdf"
    - "04a风险管理.pdf"
    - "04b风险评估.pdf"
    - "05共同准则CC与信息安全工程.pdf"
    - "信息安全工程原理 作业说明.pdf"
    - "课程复习要点.ppt"
---

<h2>知识要点</h2>
<ul>
<li><b>01</b>
<a href="information.htm">信息</a>
<a href="infosec.htm">信息安全</a>
<a href="WPDRRC.htm">WPDRRC</a>
<a href="engineering.htm">信息安全工程</a>
</li>
<li><b>02a</b>
<a href="system.htm">系统</a>
<a href="SE.htm">系统工程</a>
<span>系统工程过程</span>
</li>
<li><b>02b</b>
<a href="ISSE.htm">ISSE信息安全系统工程</a>
<a href="ISSEprocess.htm">ISSE过程</a>
<a href="policy.htm">策略</a>
</li>
<li><b>03a</b>
<a href="process.htm">现代统计过程控制理论</a>
</li>
<li><b>03b</b>
<a href="SSE-CMM.htm">SSE-CMM系统安全工程能力成熟模型</a>
<br/>
<a href="methodology.htm">SSE-CMM方法学</a>
<a href="guarantee.htm">安全保证</a>
<a href="architecture.htm">体系结构</a>
<a href="application.htm">应用</a>
<a href="SSAM.htm">评定方法</a>
</li>
<li><b>03c</b>
<a href="BP.htm">安全相关的基本实施、过程域(PA01~11)</a>
项目和组织相关的基本实施(PA12~22)
</li>
<li><b>03d</b>
<a href="GP.htm">通用实施、能力级别</a>
</li>
<li><b>04</b>
<a href="risk.htm">风险</a>
<a href="risk-management.htm">风险管理</a>
<a href="risk-analyze.htm">风险评估</a>
</li>
<li><b>05</b>
<a href="CC.htm">Common Criteria</a>
<a href="TOE-PP-ST.htm">TOE PP ST</a>
<a href="evaluation.htm">TOE评估过程</a>
<a href="class.htm">安全功能要求 安全保证要求</a>
</li>
</ul>
<p>撰写日期：2008-10-28～2008-10-30</p>
