---
layout: topic
title: "信息安全"
keywords: "什么是安全,信息安全的保护对象,信息安全属性,通信保密,信息保障"
course: "信息安全工程原理"
courseid: IS221
---

<h2>安全</h2>
<ul>
<li>安全是一种状态</li>
<li>安全是相对的</li>
<li>安全是信心的度量</li>
</ul>
<h2>信息安全的保护对象</h2>
<ul>
<li>信息本身</li>
<li>信息处理过程</li>
<li>信息处理设施</li>
<li>信息处理人员</li>
</ul>
<p>注：此处的“信息处理”应当是指整个<a href="information.htm">信息生命周期</a>的各个阶段，而不只是其中的“处理”阶段</p>
<h2>信息安全属性</h2>
<ul>
<li>C 保密性</li>
<li>I 完整性</li>
<li>A 可用性</li>
<li>可控性</li>
<li>不可否认性</li>
<li>真实性、可追究性(审计)、可靠性……</li>
</ul>
<p><a href="http://blueskychelsea.spaces.live.com/Blog/cns!A39811EB6EFA1560!941.entry">ON THE ROAD...</a>：“饱完渴渴不？ 真渴渴”.....<br/>
【"饱（保密性）完（完整性）渴（可用性）渴（可靠性）不（不可抵赖性）？ 真(真实性)渴（可控性）渴（可追究性）"】 </p>
<h2>信息安全发展过程</h2>
<ol>
<li>通信保密——保密</li>
<li>信息安全——保护</li>
<li>信息保障——保障</li>
</ol>
