---
layout: topic
title: "信息"
keywords: "什么是信息,信息的属性,信息生命周期"
course: "信息安全工程原理"
courseid: IS221
---

<h2>信息</h2>
<p>通过在数据上施加某些约定而赋予这些数据的特殊含义。</p>
<ul>
<li>信息本身是无形的</li>
<li>以多种形式存在或传播</li>
</ul>
<h2>信息生命周期</h2>
<ol>
<li>建立</li>
<li>处理、变换</li>
<li>存储</li>
<li>使用</li>
<li>传递</li>
<li>废弃</li>
</ol>
