---
layout: topic
title: "ISSE信息安全系统工程"
keywords: "ISSE,ISSE过程,系统工程,信息系统安全工程"
course: "信息安全工程原理"
courseid: IS221
---

<h2>信息安全系统工程</h2>
<p>通过实施系统工程过程来满足信息保护的需求。</p>
<h3>系统工程与信息系统安全工程的关系</h3>
<p>ISSE过程是SE过程的子过程</p>
<p class="q">辨析：在系统工程完成后，才需要考虑安全工程。
<span class="key">错误。在系统工程的相应阶段，就要同时考虑信息保护的目标、需求、功能、体系结构、设计、测试与实施，使信息保护得以优化。</span></p>
<style>
.q .key { color:#006600; }
.q .hidekey { color:#3366FF; cursor:pointer; }
</style>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
var keys=$('.q .key');
if (keys.length>0) {
	keys.each(function(){
		var d=$(this).addClass('hidekey').one('click',function(){
			d.removeClass('hidekey').html(d.data('key'));
		});
		d.data('key',d.html()).text('显示答案');
	});
}
</script>
