---
layout: topic
title: "ISSE信息安全系统工程过程"
keywords: "信息保护"
course: "信息安全工程原理"
courseid: IS221
---

<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script type="text/javascript">
function ISSEprocess(n){
	$('.ISSEprocess').hide();
	$('#ISSEprocess'+n).show();
}
$(function(){
	ISSEprocess(0);
});
</script>
<h2><a href="javascript:ISSEprocess(1)">发掘信息保护需求</a></h2>
<div id="ISSEprocess1" class="ISSEprocess">
<img src="ISSEprocess1.png" width="482" height="337" alt="发掘信息保护需求过程"/>
<dl>
<dt>任务信息</dt>
<dd>信息系统、信息的具体用户；用户与信息系统、信息的交互实质；用户在信息保护生命周期各阶段的角色、责任、权力。</dd>
<dt>威胁</dt>
<dd>可能造成某个结果的事件，或对系统造成危害的潜在事实。</dd>
<dt>策略</dt>
<dd>以正式形式出现的，经管理层同意和批准的，规定了组织行为方向和行为自由程度的途径。</dd>
<dt>信息安全策略</dt>
<dd>一组规则，这组规则描述了一个组织要实现的信息安全目标和实现这些信息安全目标的途径。</dd>
<dd><a href="policy.htm">信息安全策略的特点、依据、地位</a></dd>
<dt>系统保护需求</dt>
<dd>丧失<a href="infosec.htm">CIAN</a>时，可能会带来哪些问题？</dd>
</dl>
</div>
<h2><a href="javascript:ISSEprocess(2)">定义信息保护系统</a></h2>
<div id="ISSEprocess2" class="ISSEprocess">
<img src="ISSEprocess2.png" width="611" height="284" alt="定义信息保护系统过程"/>
<ul>
<li>信息保护系统要做什么</li>
<li>信息保护系统执行其功能的情况如何</li>
<li>信息保护系统的外部和内部接口。</li>
</ul>
</div>
<h2><a href="javascript:ISSEprocess(3)">设计信息保护系统</a></h2>
<div id="ISSEprocess3" class="ISSEprocess">
<img src="ISSEprocess3.png" width="649" height="203" alt="设计信息保护系统过程"/>
<p>构造系统的体系结构，详细说明信息保护系统的设计方案</p>
</div>
<h2><a href="javascript:ISSEprocess(4)">实施信息保护系统</a></h2>
<div id="ISSEprocess4" class="ISSEprocess">
<ol>
<li>购买</li>
<li>建设、集成</li>
<li>测试、认证</li>
</ol>
</div>
<h2><a href="javascript:ISSEprocess(5)">评估信息保护系统的有效性</a></h2>
<div id="ISSEprocess5" class="ISSEprocess">
<p class="q">辨析：评估信息保护系统的有效性过程，在信息安全系统工程的最后进行。
<span class="key">错误。要在多项活动中评估信息保护系统的有效性，发掘、定义、设计、实施的整个过程中都要评估有效性。</span></p>
</div>
<style>
.q .key { color:#006600; }
.q .hidekey { color:#3366FF; cursor:pointer; }
</style>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
var keys=$('.q .key');
if (keys.length>0) {
	keys.each(function(){
		var d=$(this).addClass('hidekey').one('click',function(){
			d.removeClass('hidekey').html(d.data('key'));
		});
		d.data('key',d.html()).text('显示答案');
	});
}
</script>
