---
layout: topic
title: "SSE-CMM方法学"
keywords: "安全工程,理解"
course: "信息安全工程原理"
courseid: IS221
---

<h2><a href="SSE-CMM.htm">SSE-CMM</a>对<a href="engineering.htm">安全工程</a>的理解</h2>
<dl>
<dt>安全工程的现状和意义</dt>
<dd>安全工程正成为日益紧迫的领域，并将成为跨越多领域、协同工作的工程组中一个关键的部分</dd>
<dd>安全工程将应用到系统和应用的开发、集成、操作、管理、维护、进化以及产品的开发、交付、进化中</dd>
<dt>安全工程的一些目标</dt>
<dd>
<ol>
<li>安全风险</li>
<li>安全需求</li>
<li>安全指南</li>
<li>安全机制</li>
<li>信息和保证</li>
<li>残留的脆弱性=可接受的风险</li>
<li>系统安全可信性的综合理解</li>
</ol>
</dd>
<dt>安全工程机构</dt>
<dd>泛指实施安全工程活动的各类机构</dd>
<dt>安全工程与其他领域</dt>
<dd>残留的运行安全影响的<b>保证</b>和<b>可接受性</b>是在各方之间建立的，安全工程活动必须要与其他外部实体进行<b>协调</b>。</dd>
<dt>安全工程特点</dt>
<dd>安全工程要与传统安全领域、新兴安全领域结合</dd>
<dd>信息安全问题的整体性</dd>
</dl>
