---
layout: topic
title: "信息安全策略"
keywords: "策略,信息安全策略,信息安全策略的特点,信息安全策略的依据"
course: "信息安全工程原理"
courseid: IS221
---

<dl>
<dt>信息安全策略</dt>
<dd>一组规则，这组规则描述了一个组织要实现的信息安全目标和实现这些信息安全目标的途径。</dd>
<dd>信息安全策略是一个组织关于信息安全的基本指导规则。</dd>
<dd>信息安全策略提供：信息保护的内容和目标，信息保护的职责落实，实施信息保护的方法，事故的处理</dd>
</dl>
<h2>信息安全策略的特点</h2>
<ul>
<li>指导性</li>
<li>原则性</li>
<li>可审核性</li>
<li>非技术性</li>
<li>现实可行性</li>
<li>动态性</li>
<li>文档化</li>
</ul>
<h2>信息安全策略的依据</h2>
<ul>
<li>国家法律、法规、政策</li>
<li>行业规范</li>
<li>相关机构的约束</li>
<li>机构自身的安全需求</li>
</ul>
<h2>信息安全策略的地位</h2>
<ul>
<li>必须有相应的措施保证信息安全策略得到强制执行</li>
<li>管理层不得允许任何违反信息安全策略的行为存在</li>
<li>信息安全策略必须有清晰和完全的文档描述</li>
<li>需要根据业务情况的变化不断的修改和补充信息安全策略</li>
</ul>
