---
layout: topic
title: "现代统计过程控制理论"
keywords: "过程,成本效益"
course: "信息安全工程原理"
courseid: IS221
---

<p>现代统计过程控制理论的基本观点：通过强调<b>生产过程的高质量</b>和<b>在过程中组织措施的成熟性</b>可以取得更为理想的<b>成本效益</b>。</p>
<p><b>过程</b>：为了一个特定目的而执行的一系列活动</p>
