---
layout: topic
title: "风险"
keywords: "风险的定义,风险与事件的关系,威胁,脆弱性,风险的特点"
course: "信息安全工程原理"
courseid: IS221
---

<dl>
<dt>风险</dt>
<dd>事件发生的概率与结果的结合</dd>
<dd>一个指定的威胁利用一项或多项资产的脆弱性，并由此造成损害的可能性</dd>
<dt>风险与事件的关系</dt>
<dd><img src="risk-vs-incident.png" width="377" height="156" alt="风险-事件"/></dd>
<dd>威胁源利用脆弱性对资产实施威胁行为，尚未造成影响称为风险，已经造成影响称为事件</dd>
</dl>
<h2>风险的特点</h2>
<ul>
<li>客观存在</li>
<li>强调损害的潜在可能性，而不是事实的损害</li>
<li>不能消除至尽</li>
<li>基本要素：事件的概率，产生的后果</li>
<li>导致风险的事件：威胁利用了资产的脆弱点</li>
</ul>
