---
layout: topic
title: "风险评估"
keywords: "风险分析,风险计算模型,定量风险评估,ALE,EF,SLE,ARO,ROSI"
course: "信息安全工程原理"
courseid: IS221
---

<h2>风险分析各要素的理论关系</h2>
<img src="risk-analyze.png" width="558" height="350" alt="风险分析的理论关系"/>
<h2>风险计算模型</h2>
<ul>
<li>风险=f<sub>1</sub>(I,P<sub>TV</sub>)</li>
<li>发生可能性P<sub>TV</sub>=f<sub>2</sub>(威胁发生概率P<sub>T</sub>,脆弱点被利用概率P<sub>V</sub>)</li>
<li>潜在损失I=f<sub>3</sub>(资产相对价值V,价值损失程度C<sub>L</sub>)</li>
</ul>
<h2>定量风险评估</h2>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script type="text/javascript">
function A() { $('#A3').val(parseFloat($('#A1').val())*parseFloat($('#A2').val())/100); }
function B() { $('#B3').val(parseFloat($('#B1').val())*parseFloat($('#B2').val())/100); }
function C() { $('#C3').val(parseFloat($('#C1').va())*parseFloat($('#C2').val())); }
function D() { $('#D4').val(parseFloat($('#D1').val())-parseFloat($('#D2').val())-parseFloat($('#D3').val())); }
</script>
<form action="" onsubmit="return false;">
<p>
威胁事件发生的概率<input type="text" id="A1" value="0" onchange="A()"/>%<br />
×可能造成的损失<input type="text" id="A2" value="0" onchange="A()"/><br />
＝年预期损失(ALE)<input type="text" id="A3" value="0" disabled="disabled"/>
</p>
<p>
资产价值<input type="text" id="B1" value="0" onchange="B()"/> 包括直接影响、间接影响<br />
×暴露系数(EF)<input type="text" id="B2" value="0" onchange="B()"/>% 现实的威胁对某个资产造成的损失百分比<br />
＝单一预期损失(SLE)<input type="text" id="B3" value="0" disabled="disabled"/> 一次风险引起的收入损失总额
</p>
<p>
单一预期损失(SLE)<input type="text" id="C1" value="0" onchange="C()"/><br />
×年发生率(ARO)<input type="text" id="C2" value="0" onchange="C()"/> 一年中风险发生的次数<br />
＝年预期损失(ALE)<input type="text" id="C3" value="0" disabled="disabled"/> 不采取任何减轻风险的措施、在一年中可能损失的总金额
</p>
<p>
实施控制前的ALE<input type="text" id="D1" value="0" onchange="D()"/><br />
－实施控制后的ALE<input type="text" id="D2" value="0" onchange="D()"/><br />
－年控制成本<input type="text" id="D3" value="0" onchange="D()"/> 包括购买、测试、部署、操作、维护各个控制措施所需的成本<br />
＝安全投资收益(ROSI)<input type="text" id="D4" value="0" disabled="disabled"/>
</p>
</form>
