---
layout: topic
title: "风险管理"
keywords: "风险评估,风险处理,风险接受,残余风险"
course: "信息安全工程原理"
courseid: IS221
---

<dl>
<dt>风险管理</dt>
<dd>指导和控制一个组织相关风险的活动</dd>
<dt>风险管理的过程</dt>
<dd><ol>
<li>风险评估</li>
<li>风险处理</li>
<li>风险接受</li>
<li>风险信息传递</li>
</ol></dd>
<dt>风险管理的作用和目标</dt>
<dd>残余风险处于可接受的状态</dd>
<dd>持续循环，不断上升</dd>
<dt>风险管理的原则</dt>
<dd>适度安全</dd>
<dd>平衡成本与效益</dd>
</dl>
