---
layout: topic
title: "系统工程"
keywords: "什么是系统工程,霍尔三维结构,调查学习模式"
course: "信息安全工程原理"
courseid: IS221
---

<h2>系统工程</h2>
<p>组织、管理、规划、研究、设计、制造、试验、使用<a href="system.htm">系统</a>的科学方法，是一种对所有系统都具有普遍意义的科学方法。</p>
<h3>系统工程的特点</h3>
<ul>
<li>跨学科</li>
<li>更针对复杂系统</li>
<li>整体最优</li>
<li>“软硬”结合</li>
</ul>
<h2>系统工程方法论</h2>
<h3>霍尔三维结构</h3>
<ul>
<li>专业维</li>
<li>时间维</li>
<li>逻辑维</li>
</ul>
<h3>切克兰德 调查学习模式</h3>
<ol>
<li>问题现状说明</li>
<li>搞清问题的关联因素</li>
<li>概念模型</li>
<li>比较</li>
<li>实施</li>
</ol>
