---
layout: topic
title: "SSE-CMM评定方法：SSAM"
keywords: "SSAM,过程序列,评分轮廓表"
course: "信息安全工程原理"
courseid: IS221
---

<h2>SSAM目的</h2>
<p>SSAM是组织层面、或项目层面的评定方法。</p>
<h2>SSAM特点</h2>
<ul>
<li>方便由第三方实施，也可自评</li>
<li>可被裁减</li>
<li>采用多重数据收集方法</li>
</ul>
<h2>SSAM步骤</h2>
<ol>
<li>规划</li>
<li>准备</li>
<li>现场</li>
<li>后期评定</li>
</ol>
<h2>SSAM评定的两个方面</h2>
<ul>
<li>基本实施</li>
<li>通用实施</li>
</ul>
<p>SSE-CMM不是一个过程序列：过程域、基本实施，一般没有规定的次序。过程序列应根据生命周期、其他业务参数决定。</p>
<h2>SSAM的主要工作结果</h2>
<ul>
<li>调查结果简报
<ul>
<li>评分轮廓表：表明机构（组织或项目小组）在每一个<a href="BP.htm">过程域(PA)</a>的<a href="GP.htm">能力级别</a></li>
<li>调查结果表：说明机构的强项和弱项</li>
</ul></li>
<li>评定报告：包括每个调查结果的附加细节</li>
</ul>
