---
layout: topic
title: "SSE-CMM系统安全工程能力成熟模型"
keywords: "什么是SSE-CMM"
course: "信息安全工程原理"
courseid: IS221
---

<h2>什么是SSE-CMM</h2>
<dl>
<dt>SSE-CMM</dt>
<dd>“系统安全工程能力成熟模型”的缩写</dd>
<dd>描述了一个组织的安全工程过程必须包含的本质特征，这些特征是完善的安全工程保证</dd>
<dd>汇集了工业界常见的实施方法</dd>
<dd>安全工程实施的标准化评估准则</dd>
<dt><a href="SSAM.htm">SSAM</a>——SSE-CMM的评定方法</dt>
<dd>描述了针对SSE-CMM来评价一个组织的安全工程能力的过程和工具</dd>
</dl>
