---
layout: topic
title: "系统"
keywords: "系统的概念,系统的模型"
course: "信息安全工程原理"
courseid: IS221
---

<h2>系统</h2>
<p>系统是由相互作用和相互依赖的若干组成部分或要素结合而成的具有特定功能的有机整体。</p>
<p>系统概念的要点：要素、要素间的联系、功能和目的</p>
<h2>系统的模型</h2>
<p><b>普遍模型</b>：系统由子系统组成；可以根据不同要求将系统分解为不同的子系统</p>
<p class="q">辨析：系统可以唯一的划分为若干个子系统。
<span class="key">错误。可以根据不同要求将系统分解为不同的子系统。</span></p>
<p><b>边界</b>：边界之内是系统，边界之外是环境</p>
<p><b>接口</b>：子系统之间的相互联接、相互作用称为接口，接口是子系统的边界</p>
<style>
.q .key { color:#006600; }
.q .hidekey { color:#3366FF; cursor:pointer; }
</style>
<script src="https://cdn.staticfile.net/jquery/3.6.3/jquery.slim.min.js"></script>
<script>
var keys=$('.q .key');
if (keys.length>0) {
	keys.each(function(){
		var d=$(this).addClass('hidekey').one('click',function(){
			d.removeClass('hidekey').html(d.data('key'));
		});
		d.data('key',d.html()).text('显示答案');
	});
}
</script>
