---
layout: topic
title: "CC标准：TOE、PP、ST的定义"
keywords: "CC标准,评估目标,TOE,保护方案,PP,安全目标,ST"
course: "信息安全工程原理"
courseid: IS221
---

<dl>
<dt>评估目标 TOE</dt>
<dd>IT产品或系统 + 相关的管理指南和用户指南文档</dd>
<dd>TOE是<a href="CC.htm">Common Criteria</a>评估的对象</dd>
<dt>保护轮廓 PP</dt>
<dd>满足特定的消费者需求的，独立于实现的一组安全要求</dd>
<dd>PP回答“需要什么？”，而不涉及“如何实现？”</dd>
<dt>安全目标 ST</dt>
<dd>依赖于实现的一组安全要求和说明</dd>
<dd>ST回答“提供什么？”、“如何实现？”</dd>
</dl>
