---
layout: article
title: "信息安全管理体系 习题"
courseid: IS220
course: "信息安全管理体系及技术"
---

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/study9_question.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/study9_question.css">

<div class="q fill">
组织的信息资产包括<span class="a">业务数据、应用系统、专利及标准、设施和环境、关键人员、文件、图纸、管理规章</span>等等。
</div>

<div class="q choice">
<p>信息安全需求的来源不包括</p>
<ul>
<li>法律法规</li>
<li>公司规定</li>
<li class="y">IDS告警</li>
<li>风险评估的结果</li>
</ul>
</div>

<div class="q fill">
风险=影响×<span class="a">可能性</span>
</div>

<div class="q fill">
风险处理的方法：减少风险，<span class="a">规避</span>风险，<span class="a">转嫁</span>风险，接受风险。
</div>

<div class="q fill">
ISO/IEC 17799:2000的前身是<span class="a">BS7799-1:1999</span>，最新版本是<span class="a">ISO/IEC 27002:2005</span>。
</div>

<div class="q choice">
<p>哪个标准描述了PDCA模型？</p>
<ul>
<li>ISO/IEC 13335</li>
<li>TCSEC</li>
<li class="y">ISO/IEC 27001:2005</li>
<li>BS7799-1</li>
</ul>
</div>

<div class="q fill">
BS7799建立了一个<span class="a">系统</span>化、<span class="a">程序</span>化、<span class="a">文档</span>化的信息安全管理体系。
</div>

<div class="q answer">
<p>信息系统安全工程中，如何应用PDCA模型？（描述各阶段的任务）</p>
<div class="a">
<h5>P：Plan计划阶段，建立信息安全管理体系</h5>
<ul>
<li>划定信息安全管理体系的范围</li>
<li>制定安全方针</li>
<li>风险评估</li>
<li>选择控制目标与措施</li>
<li>制定风险处理计划</li>
<li>准备适用性声明</li>
</ul>
<h5>D：Do实施阶段，实施和运作信息安全管理体系</h5>
<ul>
<li>实施风险处理计划</li>
<li>实施特定的管理程序</li>
<li>资源、培训、意识</li>
</ul>
<h5>C：Check检查阶段，监控和评审信息安全管理体系</h5>
<ul>
<li>常规检查</li>
<li>内部定期评审</li>
<li>管理评审</li>
<li>正式评审</li>
</ul>
<h5>A：Act改进阶段，维护和改进信息安全管理体系</h5>
<ul>
<li>测量信息安全管理绩效</li>
<li>识别并实施改进措施</li>
<li>必要时修改信息安全管理体系，并确保修改达到既定的目标</li>
</ul>
</div>
</div>

<a href="javascript:;" onclick="q_reset()">清除所有答题记录</a>
<script type="text/javascript">WebSite.userfly();</script>
