---
layout: article
title: "信息安全管理协议 习题"
courseid: IS220
course: "信息安全管理体系及技术"
---

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/study9_question.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/study9_question.css">

<div class="q choice">
<p>SNMP协议的trap使用哪个端口</p>
<ul>
<li>TCP/161</li>
<li>UDP/161</li>
<li>TCP/162</li>
<li class="y">UDP/162</li>
<li>TCP/80</li>
<li>UDP/80</li>
<li>TCP/445</li>
<li>UDP/445</li>
</ul>
</div>

<div class="q choice">
<p>SNMP协议的trap端口在哪里开放？</p>
<ul>
<li class="y">管理主机</li>
<li>受管设备</li>
<li>管理主机&amp;受管设备</li>
</ul>
</div>

<div class="q choice">
<p>收到SetRequest原语，应该用哪个原语来应答？</p>
<ul>
<li>SetRequest</li>
<li>SetResponse</li>
<li>GetRequest</li>
<li class="y">GetResponse</li>
<li>Trap</li>
</ul>
</div>

<div class="q choice">
<p>.iso.org.dod.internet.mgmt.mib-2.system.sysDescr变量是受管系统的描述，其OID是.1.3.6.1.2.1.1.1。要取得它的值应该用哪个语句？</p>
<ul>
<li>GetRequest .1.3.6.1.2.1.1.1</li>
<li>GetNextRequest .1.3.6.1.2.1.1.1</li>
<li class="y">GetRequest .1.3.6.1.2.1.1.1.0</li>
<li>GetNextRequest .1.3.6.1.2.1.1.1.0</li>
</ul>
</div>

<div class="q fill">
SNMP协议报文使用<span class="a">BER</span>编码，编码后包含<span class="a">标签</span>八位组、<span class="a">长度</span>八位组、内容八位组。
</div>

<div class="q fill">
CIM的三个核心标准是：公共信息模型CIM、编码规范<span class="a">xmlCIM</span>、传输机制<span class="a">CIM Operations over HTTP</span>，它们由<span class="a">DMTF</span>维护。
</div>

<div class="q multi">
<p>CIM具备面向对象语言的哪些特性？</p>
<ul>
<li class="y">抽象</li>
<li class="y">继承</li>
<li class="y">重载</li>
<li class="y">名字空间</li>
</ul>
</div>

<div class="q fill">
Schema是具有相同<span class="a">所有者</span>，用于描述某一个<span class="a">问题域</span>的一组类。
</div>

<div class="q fill">
CIM Schema包含Meta Schema、核心模型、<span class="a">公共模型</span>、<span class="a">扩展模型</span>。
</div>

<div class="q choice">
<p>CIM Schema用哪种文件格式描述？</p>
<ul>
<li>TXT</li>
<li class="y">XML</li>
<li>XSD</li>
<li>XSLT</li>
<li>PDF</li>
<li>DOC</li>
</ul>
</div>

<div class="q fill">
winmgmts:\\.\root\MicrosoftDNS的Schema属于<span class="a">扩展</span>模型。
</div>

<a href="javascript:;" onclick="q_reset()">清除所有答题记录</a>
<script type="text/javascript">WebSite.userfly();</script>
