---
layout: article
title: "网络安全策略管理 习题"
courseid: IS220
course: "信息安全管理体系及技术"
---

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/study9_question.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/study9_question.css">

<div class="q fill">
Windows域环境，IETF策略框架中的<span class="a">策略管理工具</span>是组策略管理工具(gpedit.msc)，策略仓库位于<span class="a">活动目录</span>中。
</div>

<div class="q yesno">
<p class="n">防火墙中，由策略决策点决定每个数据包是否被过滤。</p>
<span class="a">策略决策点负责存取策略仓库，决定每个策略执行点需要执行哪些策略，然后将相应的策略分配到策略执行点。每个数据包是否被过滤应由策略执行点负责。</span>
</div>

<div class="q fill">
Lucent PDL的基本形式是<span class="a"><var>event</var> causes <var>action</var> if <var>condition</var></span>
</div>

<div class="q choice">
<p>Windows命令cacls ellendy.txt /g luth:F会产生一条Ponder的</p>
<ul>
<li class="y">正权限策略</li>
<li>负权限策略</li>
<li>应激策略</li>
<li>抑制策略</li>
<li>正授权策略</li>
<li>负授权策略</li>
</ul>
</div>

<div class="q choice">
<p>“nicky won't go to KTV unless someone else would pay for him”[<a href="http://blog.xiaonei.com/GetEntry.do?id=350782474&amp;owner=223608056" rel="external">via</a>]是一条Ponder的</p>
<ul>
<li>正权限策略</li>
<li>负权限策略</li>
<li>应激策略</li>
<li class="y">抑制策略</li>
<li>正授权策略</li>
<li>负授权策略</li>
</ul>
</div>

<div class="q choice">
<p>“当考试作弊，如果被徐凌发现，作弊者将被开除”是一条Ponder的</p>
<ul>
<li>正权限策略</li>
<li>负权限策略</li>
<li class="y">应激策略</li>
<li>抑制策略</li>
<li>正授权策略</li>
<li>负授权策略</li>
</ul>
</div>

<div class="q yesno">
<p class="n">Ponder有且只有正权限策略、负权限策略、应激策略、抑制策略、正授权策略、负授权策略6种策略类型</p>
<span class="a">复合策略！</span>
</div>

<div class="q choice">
<p>两条策略“密码最长存留期：7天”、“密码最短存留期：10天”，哪种策略冲突检测方法可检测到这两条策略之间的冲突？</p>
<ul>
<li>边界检查</li>
<li>关系检查</li>
<li class="y">一致性检查</li>
<li>可行性检查</li>
</ul>
</div>

<div class="q choice">
<p>策略“iptables -A FORWARD -d 192.168.1.2 -p tcp --dport 65840 -j ACCEPT”，哪种策略冲突检测方法可检测到这条策略的冲突？</p>
<ul>
<li class="y">边界检查</li>
<li>关系检查</li>
<li>一致性检查</li>
<li>可行性检查</li>
</ul>
</div>

<div class="q choice">
<p>策略规定不允许从校外访问交大FTP2(202.120.58.162)、但是该IP到校外之间没有防火墙，哪种策略冲突检测方法可检测到这条策略的冲突？</p>
<ul>
<li>边界检查</li>
<li>关系检查</li>
<li>一致性检查</li>
<li class="y">可行性检查</li>
</ul>
</div>

<a href="javascript:;" onclick="q_reset()">清除所有答题记录</a>
