---
layout: article
title: "Windows NT安全基础，Windows 2000安全基础 习题"
courseid: IS219
course: "Windows安全原理与技术"
---

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/prototype/1.6.1.0/prototype.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/study9_question.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/study9_question.css">

<div class="q multi">
<p>下列哪些安全特性是Windows 2000引入的？</p>
<ul>
<li class="n">安全审核</li>
<li class="y">活动目录</li>
<li class="y">IPSec</li>
<li class="y">EFS</li>
</ul>
</div>

<div class="q yesno">
<p class="n">用户模式中的代码可以直接访问所有的内存空间。</p>
</div>

<div class="q choice">
<p>安全访问令牌由哪个组件生成？</p>
<ul>
<li>winlogon</li>
<li class="y">LSA</li>
<li>SRM</li>
<li>Object Manager</li>
</ul>
</div>

<div class="q answer">
<p>C2级别的安全性策略(4条)</p>
<ul class="a">
<li>自由的访问控制</li>
<li>对象的重用</li>
<li>强制的用户标识和认证</li>
<li>可记账性和审核</li>
</ul>
</div>

<div class="q yesno">
<p class="y">Windows2000域控制器是相互平等的，没有“主域服务器”和“备份服务器”的区分。</p>
</div>

<div class="q yesno">
<p class="n">WindowsNT域newyork.contoso.com信任paris.contoso.com，paris.contoso.com信任beijing.contoso.com，则newyork.contoso.com信任beijing.contoso.com。</p>
</div>

<div class="q answer">
<p>Windows2000安全性目标</p>
<ul class="a">
<li>企业中的单一登录</li>
<li>集成的安全服务</li>
<li>管理的委派和可扩展性</li>
<li>强大的身份验证</li>
<li>用于实现互操作能力的基于标准的协议</li>
<li>审核服务</li>
</ul>
</div>

<div class="q choice">
<p>SRM在什么时候进行安全性检查？</p>
<ul>
<li>系统启动时</li>
<li>用户登录时</li>
<li class="y">创建对象句柄时</li>
<li>访问对象时</li>
</ul>
</div>

<div class="q multi">
<p>Windows2000支持哪些安全协议？</p>
<ul>
<li class="y">NTLM</li>
<li class="n">UAC</li>
<li class="y">Kerberos</li>
<li class="y">TLS</li>
</ul>
</div>

<a href="javascript:;" onclick="q_reset()">清除所有答题记录</a>
