---
layout: default
---
<div class="pure-g">
<div class="pure-u-1">

<header>
<p><a href="{{ site.baseurl }}/{{ page.courseid }}/">{{ page.course | escape }}</a></p>
<h1>{{ page.title | escape }}</h1>
</header>

{{ content }}

</div>
</div>
