---
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ page.title | escape }}</title>
<style type="text/css">
a:link,a:visited{color:blue;}
a:hover,a:active{color:red;}
</style>
<script src="/study/assets/ruffle/ruffle.js"></script>
</head>

<body>
<h1 style="text-align:center;">{{ page.title | escape }}</h1>

{{ content }}

<p><a href="./" target="_self">课件首页</a> || <a href="https://1drv.ms/f/s!APPJfW6BqqQfhFc">下载录音授课材料</a> || 感谢 上海市七宝中学 戴珊玲 老师对本课件制作和授课的支持 || 返回《<a href="../" target="_self">化学</a>》课程主页</p>
{% include analytics.html %}
</body></html>
