---
layout: default
---
<div class="pure-g">
<div class="pure-u-1">

<header>
<h1>{{ page.title | escape }}</h1>
<p>{{ page.school | escape }}</p>
</header>

{{ content }}

{% if page.download_link %}
<h2>课件下载</h2>

{% if page.downloads %}
<ul>
{% for filename in page.downloads %}
<li>{{ filename | escape }}</li>
{% endfor %}
</ul>
{% endif %}

<p><a href="https://1drv.ms/f/s!APPJfW6BqqQfhFc" target="_blank" class="pure-button pure-button-primary">进入下载区</a></p>

{% endif %}

</div>
</div>
